footer.footer.clearfix
    .wrapper
        dl
            dt
                img(src='/public/images/logo2.png' alt='都安全logo')
                p 门诊营业时间 周一至周日 9:00 - 21:00
                //-p 地址:广东省深圳市南山区深南大道9988号
                .area
                    h4 分支机构
                    a(href='javascript:;') 北京都安全
                    a(href='javascript:;') 深圳都安全
                    a(href='/agencys/detail/2.html') 广州都安全
                    br
                    a(href='javascript:;') 青岛都安全
                    a(href='javascript:;') 南京都安全
                    a(href='javascript:;') 西安都安全


            dd
                h4 关于都安全
                p
                    i.icon
                    a(href='/screenings/goods') 筛查服务
                p
                    i.icon
                    a(href='/treat/regsource/list') 诊疗服务
                p
                    i.icon
                    a(href='/healths') 健康常识
                p
                    i.icon
                    a(href='/agencys') 机构网络
                p
                    i.icon
                    a(href='/abouts') 关于都安全
        .qrcode
            h4
             i.icon
             |全国服务热线：
            strong 400-686-9911
            figure.weixin
                img(src='/public/images/weixin.jpg' alt='都安全二维码')
                figcaption APP下载
            figure
                img(src='/public/images/weixin.jpg' alt='都安全官方微信号')
                figcaption 扫描关注都安全官方微信号
.copyright
    .wrapper
        p 大族激光科技产业集团股份有限公司 版权所有© <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备16013287号-1</a> <a href='/sitemap.xml' target='_blank'>网站地图</a> 版权声明

.rightNav
    ul
        li
            a.appoint(href='/screenings/goods')
                i.icon
                |预约筛查
        .lineBg
        li
            a.registered(href='/treat/regsource/list')
                i.icon
                | 门诊挂号
        .lineBg
        li
            a.customer(href="http://pft.zoosnet.net/LR/Chatpre.aspx?id=PFT59993051&lng=cn&p=&r=" target="_blank" rel="nofollow")
                i.icon
                | 客服服务
        li.weixinRight
            img(src='/public/images/weixin.jpg')
        li.gotoTop
            i.icon
            em TOP
.footerWap
    .gotoTop
        i.icon
        em 返回顶部
    a(href="tel:4006869911" rel="nofollow")
        i.icon
        |400-686-9911

script(src="/public/js/libs/1.8.3/jquery.js")
script(src="/public/js/vendor.js")
script(src="http://api.map.baidu.com/getscript?v=2.0&ak=Xxl3KBGneiWgAPS3jIN8Zar5qTpGqDMF&services=&t=20160401164342")



