//-link(href='/css/fonts.css',rel='styleSheet')
link(href='/css/reset.css',rel='styleSheet')
//-link(href='/css/swiper.css',rel='styleSheet')
link(href="/css/daterangepicker.css",rel="stylesheet")
link(href='/css/global.css',rel='styleSheet')
