.topBar
    .wrapper
        .topBar_info
            span.city_name
                | 深圳
                i.icon
            i.icon.devidel
            a.loginBtn(href='javascript:;') 登录
            i.icon.devidel
            a.cartBtn(href='/cart/list')
                i.icon
                span.cartNum (0)
.header
    .wrapper
        a.logo(href='javascript:;', title='都安全') 都安全
        span.slogan
            img(src='/images/ad.png',alt='首家健康监测服务机构')
        span.tel
            i.icon
            img(src='/images/num.png',alt='400-666-4000')