//-link(href='/css/fonts.css',rel='styleSheet')
link(href='/public/css/reset.css',rel='styleSheet')
//-link(href='/css/swiper.css',rel='styleSheet')
link(href="/public/css/daterangepicker.css",rel="stylesheet")
link(href='/public/css/global.css',rel='styleSheet')
