.topBar
    .wrapper
        .topBar_info
            -var address = JSON.parse(locals_address)[1];
            input#choosed-city-id(type="hidden",value="#{address.categoryId}")
            a.city-name(href='javascript:;')
                em #{address.name}
                i.icon
                .choose-city.text-sec(data-load='first')
                    .arrow-bottom
                    .city-list


            i.icon.devidel
            aside
                .wapUser
                    img(src='/images/user.png')
                if userInfo
                if account
                    a.logout(href='/trade/order/list') 个人中心
                    i.icon.devidel
                    a.logoutBtn(href='javascript:;') 退出

                else
                    a.loginBtn(href='javascript:;') 登录
            i.icon.devidel
            a.cartBtn(href='/trade/cart/list')
                i.icon
                //span.cartNum (0)
            if userInfo
                input(type="hidden",id="userInfo",value="#{userInfo}")
            else
                input(type="hidden",id="userInfo",value="")
.header
    .wrapper
        a.logo(href='/', title='都安全') 都安全
        span.slogan
            img(src='/images/ad.png',alt='首家健康监测服务机构')
        span.tel
            i.icon
            img(src='/images/num.png',alt='400-666-4000')
.clear
