nav.nav
    .wrapper
        ul
            li
                a(href='/') 首页
                i
            li
                a(href='/screenings/goods') 筛查服务
                i
            li
                a(href='/treat/regsource/list?hospitalId=10') 诊疗服务
                i
            li
                a(href='/searchs/report') 查询报告
                i
            li
                a(href='/healths/list') 健康常识
                i
            li
                a(href='/agencys') 机构网络
                i
            li
                a(href='/abouts') 关于都安全
