//-以客户为中心，构建就医“心”体验
section.item_list.standard_wrapper.boxBg.clearfix
    .wrapper
        header.tc
            .standard_header
                h2 以客户为中心，构建就医“心”体验
                p 基于“互联网+医疗”理念和精准医学前沿技术，构建垂直细分领域全流程O2O闭环医疗服务生态系统
        .standard
            ul
                li
                    figure
                        if browser.ie
                            img(src='/public/images/convenent.png')
                        else
                            if browser.mobile
                                img(data-original='/public/images/convenient-w.png')
                            else
                                img(data-original='/public/images/convenent.png')
                        figcaption 便捷
                        em CONVENIENT
                    p 客户足不出户，即可享受随需定制的健康资讯、在线咨询、在线预约、上门检测、上门问诊服务；也可以选择门诊检测与诊疗服务。
                li
                    figure
                        if browser.ie
                            img(src='/public/images/accurate.png')
                        else
                            if browser.mobile
                                img(data-original='/public/images/accurate-w.png')
                            else
                                img(data-original='/public/images/accurate.png')
                        figcaption 精准
                        em ACCURATE
                    p 采用国际最先进的核酸检测技术，整合国内外最先进的设备、试剂和检验方法，大大提升检测的精准度。
                li
                    figure
                        if browser.ie
                            img(src='/public/images/respecet.png')
                        else
                            if browser.mobile
                                img(data-original='/public/images/respecet-w.png')
                            else
                                img(data-original='/public/images/respecet.png')
                        figcaption 尊重
                        em RESPECET
                    p 采用国际诊疗指南与以客户为中心的服务流程，在尊重医学本质的基础上，提升客户的就医体验。
                li
                    figure
                        if browser.ie
                            img(src='/public/images/early.png')
                        else
                            if browser.mobile
                                img(data-original='/public/images/early-w.png')
                            else
                                img(data-original='/public/images/early.png')
                        figcaption 及早
                        em EARLY
                    p 通过引入最先进的技术手段缩短窗口期。早发现，早治疗；早排除，早安心。
                li
                    figure
                        if browser.ie
                            img(src='/public/images/secret.png')
                        else
                            if browser.mobile
                                img(data-original='/public/images/secret-w.png')
                            else
                                img(data-original='/public/images/secret.png')
                        figcaption 隐私
                        em SECRET
                    p 分时预约、身份条码、装修分割设计、一对一服务等，保证客户的就医隐私性。