@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
.info_tel {
  padding: 30px 0;
  margin-top: -10px; }
  .info_tel h2 {
    font-size: 24px;
    padding-bottom: 10px; }
  .info_tel p {
    padding: 5px 0; }

.info_detail {
  padding-bottom: 30px; }
  .info_detail h3 {
    display: inline-block;
    font-size: 18px;
    color: #FFF;
    padding: 0 30px 0 20px;
    margin: 20px 0;
    border-radius: 0 100px 100px 0;
    height: 46px;
    line-height: 46px;
    width: auto;
    background-color: #48BED8; }
  .info_detail hgroup {
    padding-left: 30px; }
    .info_detail hgroup h4 {
      color: #48BED8;
      margin: 5px 0;
      font-size: 16px;
      font-weight: bold; }
      .info_detail hgroup h4 i {
        margin-right: 5px;
        vertical-align: middle; }
      .info_detail hgroup h4 .jieshao {
        background-position: 0px -99px; }
      .info_detail hgroup h4 .address {
        background-position: -28px -99px; }
    .info_detail hgroup p {
      padding: 0 0 5px 20px; }
  .info_detail address {
    font-size: 18px;
    line-height: 40px;
    padding: 20px 0;
    font-family: "PingHei 200","PingHei","Helvetica Neue","Helvetica","STHeitiSC-Light","Arial",sans-serif; }

.info_list {
  padding-top: 40px; }

.lr_list figure {
  clear: both; }
  .lr_list figure img {
    float: left;
    width: 310px;
    height: auto;
    margin: 0 0 20px 0;
    border: 5px solid #f2f2f2; }
  .lr_list figure figcaption {
    width: 680px;
    float: right; }
  .lr_list figure h4 {
    font-size: 24px;
    border-bottom: 1px solid #dddddd;
    padding: 15px 0;
    margin-bottom: 15px; }

#allmap {
  width: 100%;
  height: 325px;
  border: 5px solid #f2f2f2; }
