@import "../settings.scss";

.list-info{
  margin-bottom:15px;
}

.userBox {
  overflow: hidden;
  aside {
    width: 18%;
    background-color: $bgc_gray;
    padding: 20px 12px;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    box-sizing: border-box;
    .user-main {
      padding-bottom: 20px;
      border-bottom: 1px solid $bdrc_ddd;
    }
    .left-nav {
      padding: 8px 10px;
      li {
        padding: 8px 0;
      }
    }
  }

}

.box-right {
  width: 80%;
  margin-left: 2%;
  word-break: break-all;
  .order {
    margin-bottom: 16px;
    border: 1px solid #ddd;
    dt {
      border-bottom: 1px solid #ddd;
      padding: 12px;
      background: #F2F6F7;
      .date-time {
        margin-left: 20px;
      }
    }
    dd {
      width: 100%;
      overflow: hidden;
      .col {
        display: inline-block;
        float: left;
        box-sizing: border-box;
        vertical-align: top;
        padding: 15px;
        padding-bottom: 999px;
        margin-bottom: -999px;
      }
      .col *:last-child:not(.row) {
        margin-bottom: 15px;
      }

      .col + .col {
        border-left: 1px solid #ddd;
      }
      .row-col {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        padding: 15px 15px 15px 0;
        &:first-child {
          padding-left: 15px;
        }
      }
      .goods {
        width: 63%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        .row + .row {
          border-top: 1px solid #ddd;
        }
        .goods-detail {
          width: 50%;
          img {
            width: 40%;
            height: auto;
          }
          h5 {
            width: 55%;
          }
        }
        .goods-others {
          width: 25%;
        }
        .reservation {
          width: 25%;
        }
      }
      .order-state {
        width: 20%;
        .state-info {
          padding-bottom: 15px;
          margin-bottom: 15px;
        }
      }
      .operation {
        width: 15%;
      }
    }
  }

  .patients-table {

    tr td {
      padding: 10px;
    }
    .plus {
      display: inline-block;
      vertical-align: middle;
      font-size: 32px;
      font-weight: bold;
      margin-right: 10px;
    }
    .new-tr{
      td{
        padding:5px 10px;
        vertical-align: middle;
        input{
          line-height:30px;
          height:30px;
          &:focus{
            border:1px solid #48BED8;
          }
        }
      }
    }
  }

}

.reservation.box-right dl.order{
  .goods {
    width: 34%;
    .goods-detail {
      width: 100%;
    }
  }
  .detail {
    width: 33%;
  }
  .order-state {
    width: 15%;
  }
  .operation {
    width: 15%;
  }
}

.coupons{
  .table td{
    padding:10px;
  }
  .code-box {
    line-height: 38px;
    margin:10px 0;
    input {
      height: 38px;
      width: 250px;
      padding: 0 10px;
    }
    .add-coupon {
      height: 40px;
      padding:0 47px;
      color:$white;
      margin-left:10px;
      border:1px solid $textOnColor;
      background:$textOnColor;
    }
  }
  .coupon-state {
    li {
      float: left;
      padding:16px 25px;cursor: pointer;
      &.on,&:hover{
        color: $textOnColor;
      }
    }
  }
  .table{
    border-top:2px solid #48BED8;
  }
}

.reservation-detail{
  .overview {
    margin-bottom:27px;
    padding:22px;
    background-color: #E5FAFF;
    border: 1px solid #7ECEDF;
    .info{
      margin-right:5%;
      span:first-child{
        margin-right:10px;
      }
      .check-report{
        padding:9px 18px;
        color:#48BED8;
        border:1px solid;
        border-radius:18px;
        background: #fff;
      }
    }
  }
  table{
    .goods{
      img {
        width: 40%;
        float: left;
      }
      span {
        width: 60%;
        float: right;
        padding-left: 13px;
        line-height: 17px;
        box-sizing: border-box;
      }
    }
    tr{
      border-bottom:1px solid #ddd;
    }
    td.bd-l{
      border-left:1px solid #ddd;
    }
  }
}
.noData{
  text-align: center;padding-top:100px;
  p{font-size: 18px;padding-bottom: 20px;}
  a{color: $textc_48B;border-radius: 5px;
    &:hover{
      background-color: $bgc_48B;color: $white;
    }
  }

}

.account{
  .tip-box{
    padding:12px 30px;
    border:1px solid #ddd;
    background:#F5F5F5;
    li{
      line-height:20px;
      list-style:disc;
    }
  }

  .info-box{
    margin-top:35px;
    &>li{
      padding-bottom: 13px;
      label{display:inline-block;width:15%;line-height:17px;vertical-align:middle;margin-right:3%;text-align:right;}
      input{width:40%;}
    }
  }
  .select-box{width:40%;}
  .btn-box{
    position:relative;
    width:40%;
    margin-left:19%;
    .submitBtn{width:100%;margin-top:30px;}
  }

  .prompt {
    position:absolute;
    top:-5px;
    color: $red_ED9;
    display: none;
    i {
      background-position: -178px -22px;
    }
  }
}