@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
.health_list {
  width: 700px;
  float: left; }
  .health_list header {
    padding-top: 0;
    text-align: left; }
    .health_list header h2 {
      background-color: #F2F2F2;
      padding: 0px;
      line-height: 40px;
      font-size: 18px;
      padding-left: 10px; }
      .health_list header h2 i {
        width: 5px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        background-color: #48BED8;
        border-radius: 10px;
        top: 0px;
        margin-right: 10px;
        position: relative;
        top: -1px; }
  .health_list .lr_list {
    padding: 20px 0; }
    .health_list .lr_list figure {
      clear: both; }
      .health_list .lr_list figure img {
        float: left;
        width: 190px;
        margin: 0 30px 20px 0; }
        .health_list .lr_list figure img:hover {
          opacity: 0.8;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
      .health_list .lr_list figure h4 {
        font-size: 20px;
        padding: 5px 0 0;
        height: 24px;
        overflow: hidden;
        margin-bottom: 10px; }
      .health_list .lr_list figure time {
        color: #9B9B9B; }
      .health_list .lr_list figure p {
        padding: 10px 0 0 0;
        overflow: hidden;
        max-height: 48px; }
      .health_list .lr_list figure figcaption {
        padding-bottom: 20px; }
