extends ../layout

block content
    link(href='/css/trade/trade.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置：首页<em>#{sep}</em>筛查服务<em>#{sep}</em>核对订单信息<em>#{sep}</em>成功提交订单
    section.wrapper
        .confirm-buy
            .trade-step
                p.cart.step-wrapper
                    span
                        i.icon
                    span.text-info 我的购物车
                p.line.line1.text-stress
                p.check.step-wrapper
                    span
                        i.icon
                    span 核对订单信息
                p.line.line2.text-info
                p.commit.step-wrapper
                    span
                        i.icon
                    span.text-info 成功提交订单
            header
                h2 核对订单信息
            .list-info 商品信息
            table.table.goods-list
                thead
                    th(width="35%") 商品名称
                    th 单价
                    th(width="35%") 取样方式
                    th 小计
                tbody
                    tr
                        td
                            img(src="/images/ban01.png")
                            span 生殖感染看到发动机是客观啊
                        td ￥800
                        td
                            p 上门取样
                            p.text-sec 服务区域:广东省深圳市南山区
                        td.text-stress ￥800
                    tr
                        td
                            img(src="/images/ban01.png")
                            span 生殖感染看到发动机是客观啊
                        td ￥800
                        td
                            p 上门取样
                            p.text-sec 服务区域:广东省深圳市南山区
                        td.text-stress ￥800
            .list-info 使用优惠券
            table.table
                thead
                    th
                    th 优惠券
                    th(width="35%") 运用条件
                    th 使用范围
                    th 有效期
                tbody
                    tr
                        td
                            input(type="radio")
                        td 800元
                        td 无门槛
                        td 限广东地区使用
                        td 有效期至2016-08-09
                    tr
                        td
                            input(type="radio")
                        td 800元
                        td 无门槛
                        td 限广东地区使用
                        td 有效期至2016-08-09
            .list-info.text-stress 有兑换码?
            .code-box.clearfix
                input.border-default.fl(type='text',placeholder="请输入优惠券兑换码")
                button.border-default.btn.back-sec.fl 添加
            .table-div
                .tfoot.back-sec.clearfix
                    .service-area
                        span.text-sec.desp 服务区域:
                        span 广东省深圳市
                    .submit-div
                        input.btn.back-stress.text-primary.submit-btn(type="button",value="去支付")
                    .price-text
                        span.text-sec 应支付:
                        span.price.text-stress ￥1480
                        span (已优惠￥140)






    include ../includes/footer
    script.
        seajs.use('/js/search_report.js')
