@import "../settings.scss";

$health_detail_w:690px;
.health_detail{
  width: $health_detail_w;float: left;
  text-align: center;

  header{

    border-bottom: 1px solid $bdrc_ddd;padding-bottom: 20px;margin-bottom: 20px;
    h1{font-size: 24px;line-height:50px;}
    time{color:$gray9B;}
  }
  article{
    text-align:left;
    p,pre{
      word-break:break-word;
      //text-indent: 2em;
    }
    img{display: block;margin: 10px auto;}
  }
}
.recommend{
    padding:30px 0;
    h2{padding:0 0 20px; font-size:24px;border-bottom:1px solid $gray9B}
    ul{
      font-size: 16px;width: $health_detail_w;
      i{width: 6px;height: 6px;border-radius: 100%;background-color:$gray9B;display: inline-block;margin-right: 10px;vertical-align:middle}
      li{width: 50%;float: left;line-height:40px;height: 40px;overflow: hidden ;
        a{display: block;}
      }
    }
}
