@import "settings.scss";

h2{font-size: 24px;text-align: center;padding: 20px 0}
.abouts{
  padding-bottom: 20px;
  .ad img{width: 100%;}
  article{
    padding: 0 20px;
    a{color: $textColor;}
  }
  p{text-indent: 2em;margin-top: 10px;
  }
  figure{
    margin-left: -3%;
    img{width: 47%;margin:20px 0 0 3%;}
    &.big{
      margin: 20px 0 0 0;
      img{width: 100%;margin: 0px;}
    }
  }
  .contact p{text-indent: 0;}
  a{color: $textc_48B;
    &:hover{color:$textColor;}
  }
}
