@import "settings.scss";

.errorPage{
  margin-bottom:50px;
  text-align: center;padding-bottom: 40px;
  img{margin: 50px auto;width: 100%;}
  .msg{padding: 0 0 20px 0}
  a{color: $textc_48B;
    &:hover{
      background-color: $textc_48B;color: $white;@include transition(all .3s);
    }
  }
}
