@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
.none {
  display: none; }

.red {
  color: #FF0000; }

.container .redBg {
  background-color: #FF0000;
  color: #fff; }

.green {
  background-color: #06E800; }

.green2 {
  color: #049400; }

.gray {
  color: #018FEC; }

.fl {
  float: left; }

.fr {
  float: right; }

.text-default {
  color: #4A4A4A; }

.text-primary {
  color: #fff; }

.text-sec {
  color: #9B9B9B; }

.text-stress {
  color: #ED9E9A; }

.text-main {
  color: #48BED8; }

.text-success {
  color: #7CBA37; }

.text-info {
  color: #C4C4C4; }

.back-primary {
  background-color: #48BED8; }

.back-stress {
  background-color: #ED9E9A; }

.back-mask {
  background-color: rgba(0, 0, 0, 0.4); }

.back-sec, .table thead {
  background-color: #F2F2F2; }

.back-info {
  background-color: #DDDDDD; }

.text-center {
  text-align: center; }

a.disabled {
  color: #DDDDDD; }

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/icon.png) 0 -707px; }

.checkbox.checked {
  background-position: -47px -707px; }

.radio {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../images/icon.png) 0 -666px; }

.radio.checked {
  background-position: -45px -666px; }

.radio.disabled {
  background-position: -73px -666px; }

.border-default {
  border: 1px solid #DDDDDD; }

.table {
  text-align: left;
  width: 100%;
  margin-bottom: 60px; }
  .table thead {
    height: 40px; }
    .table thead th {
      padding: 10px;
      font-weight: normal; }
  .table tbody tr {
    border-bottom: 1px solid #DDDDDD; }
  .table tbody td {
    padding: 20px 10px;
    vertical-align: top; }

.table-striped tr:nth-child(even) {
  background: #F2F6F7; }

.table-bordered {
  border: 1px solid #DDDDDD; }
  .table-bordered thead {
    border-bottom: 1px solid #DDDDDD; }

table, th, td {
  border-collapse: collapse;
  border: none; }

.wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative; }

a {
  color: #4A4A4A; }
  a:hover {
    color: #48BED8; }
  a.on {
    color: #48BED8; }

body {
  color: #4A4A4A; }

button.disabled, .btn.disabled {
  background: #C4C4C4;
  border: 1px solid #C4C4C4;
  color: #fff; }
  button.disabled:hover, .btn.disabled:hover {
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
    color: #fff; }

.select-box {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .select-box .selected {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd; }
    .select-box .selected i.icon {
      float: right;
      background-position: 12px 14px; }
  .select-box ul.options {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    min-width: 100%;
    overflow: hidden;
    display: none;
    list-style: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15); }
    .select-box ul.options .option {
      line-height: 28px;
      white-space: nowrap;
      padding: 0 10px; }
      .select-box ul.options .option.active, .select-box ul.options .option:hover {
        background: #48BED8; }
  .select-box.open ul.options {
    display: block; }

input {
  box-sizing: border-box;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  border: 1px solid #ddd; }

input:focus, textarea:focus {
  outline: none;
  border: 1px solid #48BED8; }

.alert-tip {
  position: absolute;
  z-index: 999;
  width: 20%;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.8em;
  padding: 0.3em 0.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05); }

.alert-success {
  background: rgba(69, 186, 213, 0.8); }

.alert-fail {
  background: rgba(239, 114, 15, 0.8); }

.alert-tip .icon {
  margin-right: 0.7em;
  font-size: 1.2em; }

.container {
  width: 100%;
  margin-top: 60px; }

select {
  line-height: 30px;
  height: 30px;
  padding: 0 10px; }

.bdr {
  border: 1px solid #c9c9c9; }

.bdr-bt {
  border-bottom: 1px solid #ddd; }

.bdr-top {
  border-top: 1px solid #ddd; }

.btn {
  border: 1px solid #48BED8;
  padding: 0 20px;
  line-height: 30px;
  display: inline-block;
  outline: none;
  cursor: pointer; }

.submitBtn {
  background-color: #48BED8;
  border: none;
  color: #FFF;
  line-height: 30px;
  cursor: pointer;
  padding: 0 20px;
  margin: 10px 0;
  display: inline-block;
  font-family: "微软雅黑","Microsoft Himalaya";
  border: 1px solid #48BED8; }
  .submitBtn:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ED9E9A;
    color: #FFF;
    border-color: #ED9E9A; }

.cancelBtn {
  background-color: #fff;
  border: none;
  color: #4A4A4A;
  line-height: 30px;
  cursor: pointer;
  padding: 0 20px;
  margin: 10px 0;
  display: inline-block;
  font-family: "微软雅黑","Microsoft Himalaya";
  border: 1px solid #ddd; }
  .cancelBtn:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ddd;
    color: #4A4A4A;
    border-color: #ddd; }

.small-text {
  font-size: 12px; }

.boxBg {
  background-color: #F2F6F7; }

.topBar {
  background-color: #F2F2F2;
  height: 40px;
  line-height: 40px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 3px #D2D2D2; }

.popupBox.confirm-box article {
  padding: 0; }
.popupBox.confirm-box .submitBox {
  display: none; }
.popupBox.confirm-box .otherMsg {
  display: none; }
.popupBox.confirm-box .innerBg {
  padding-bottom: 0; }

.confirm-box {
  width: 324px; }
  .confirm-box .cancel {
    display: none; }
  .confirm-box span.closePopup {
    display: none; }
  .confirm-box .box-header {
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    background-color: #F2F6F7; }
    .confirm-box .box-header i.close {
      background-position: -240px 19px; }
  .confirm-box .box-body {
    padding: 16px 22px;
    text-align: center; }
    .confirm-box .box-body p.confim-tip {
      font-size: 18px;
      padding: 15px; }
    .confirm-box .box-body .btn-box {
      padding-bottom: 10px; }
      .confirm-box .box-body .btn-box .submitBtn {
        margin-right: 10px; }

.topBar_info {
  float: right;
  color: #9B9B9B; }
  .topBar_info .icon {
    width: 12px;
    margin: 0 5px;
    position: relative;
    top: 10px; }
  .topBar_info .devidel {
    background-position: -19px 3px; }
  .topBar_info .wapUser {
    display: none; }
  .topBar_info aside {
    display: inline-block; }
  .topBar_info a {
    color: #9B9B9B; }
    .topBar_info a:hover {
      color: #48BED8; }
  .topBar_info .accountInfo {
    display: none; }
  .topBar_info .city-name {
    position: relative;
    display: inline-block; }
    .topBar_info .city-name i {
      background-position: 0px 6px;
      margin-left: 5px; }
    .topBar_info .city-name .choose-city {
      position: absolute;
      top: 40px;
      left: -48px;
      display: none;
      width: 160px;
      padding: 10px 10px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 5px; }
      .topBar_info .city-name .choose-city .arrow-bottom {
        position: absolute;
        top: -26px;
        left: 48px;
        width: 0;
        height: 0;
        border-width: 13px 10px;
        border-color: #ddd;
        border-style: solid;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent; }
      .topBar_info .city-name .choose-city .arrow-bottom:after {
        content: '\00a0';
        position: absolute;
        width: 0;
        height: 0;
        right: -9px;
        top: -12px;
        border-width: 13px 9px;
        border-color: #fff;
        border-style: solid;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent; }
      .topBar_info .city-name .choose-city .city {
        display: inline-block;
        width: 80px;
        text-align: center; }
        .topBar_info .city-name .choose-city .city.on, .topBar_info .city-name .choose-city .city.hover {
          color: #48BED8; }
  .topBar_info .cartBtn i {
    background-position: -38px 2px;
    width: 24px; }

.header {
  height: 90px;
  line-height: 90px;
  padding: 5px 0;
  margin-top: 40px; }
  .header .logo {
    width: 173px;
    height: 90px;
    background: url("../images/logo.png") no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    display: block;
    float: left; }
  .header .slogan {
    height: 30px;
    margin-left: 50px; }
    .header .slogan img {
      vertical-align: middle; }
  .header .tel {
    float: right;
    position: absolute;
    right: 0px; }
    .header .tel i {
      background-position: 0px -60px;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      top: 30px;
      position: relative; }
    .header .tel img {
      vertical-align: middle; }

.nav {
  height: 50px;
  line-height: 50px;
  background-color: #48BED8;
  position: relative;
  z-index: 2;
  margin-bottom: 10px; }
  .nav ul i {
    width: 1px;
    height: 12px;
    background-color: #399CB2;
    border-right: 1px solid #5dc5dc;
    float: right;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -6px;
    border-radius: 5px; }
  .nav ul li {
    float: left;
    font-size: 16px;
    margin-left: -2px;
    position: relative; }
    .nav ul li a {
      color: #FFF;
      display: block;
      padding: 0 22px;
      position: relative; }
    .nav ul li.on, .nav ul li:hover {
      background-color: #4A4A4A; }
      .nav ul li.on i, .nav ul li:hover i {
        background: none;
        border-color: transparent; }

.positon {
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2; }
  .positon em {
    padding: 0 6px; }

.home {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: -512px; }
  .home .nav {
    width: 726px;
    position: absolute;
    top: 190px;
    right: 0px;
    border-radius: 5px;
    overflow: hidden; }
  .home .wrapper {
    width: 100%; }

.banner {
  text-align: center;
  background-color: #bec0bf;
  position: relative; }
  .banner .wrapper {
    position: relative; }
  .banner img {
    width: 100%;
    height: auto;
    margin-bottom: -7px; }
  .banner dl {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: left;
    color: #FFFFFF; }
    .banner dl h3, .banner dl p {
      padding: 0 0 15px 50px; }
    .banner dl h3 {
      font-size: 24px;
      font-weight: normal;
      padding-top: 20px; }
    .banner dl p {
      font-size: 16px; }
      .banner dl p i {
        background-position: -157px 0px;
        vertical-align: top;
        position: relative;
        top: 3px; }
    .banner dl dt {
      width: 55%;
      float: left;
      background-color: #F39E98; }
    .banner dl dd {
      width: 45%;
      float: right;
      background-color: #EA9089; }

.item_list {
  padding-bottom: 50px; }
  .item_list header {
    padding-top: 50px; }
    .item_list header h2 {
      font-size: 28px;
      padding-bottom: 20px;
      color: #4A4A4A;
      font-weight: normal; }
      .item_list header h2 i {
        background-position: -0px -26px;
        position: relative;
        margin-right: 10px;
        width: 6px;
        height: 24px;
        background-color: #48BED8;
        border-radius: 100px; }
    .item_list header p {
      color: #9B9B9B;
      font-size: 16px; }
  .item_list .pic_list ul {
    margin-left: -17px; }
  .item_list .pic_list li {
    margin-top: 40px;
    width: 330px;
    float: left;
    display: inline;
    margin-left: 17px;
    position: relative;
    box-sizing: border-box; }
    .item_list .pic_list li img {
      width: 100%;
      height: auto;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .item_list .pic_list li img:hover {
        opacity: 0.8; }
    .item_list .pic_list li .line01 {
      background-color: #48B363; }
    .item_list .pic_list li .line02 {
      background-color: #A89CCC; }
    .item_list .pic_list li .line03 {
      background-color: #ED9E9A; }
    .item_list .pic_list li .line04 {
      background-color: #FFA0AC; }
    .item_list .pic_list li .line05 {
      background-color: #7ECEDF; }
    .item_list .pic_list li .line06 {
      background-color: #9BC9FF; }
    .item_list .pic_list li h4 {
      font-size: 18px;
      line-height: 50px;
      height: 50px;
      color: #FFF;
      position: absolute;
      top: 0px;
      left: 0px;
      text-align: center;
      background-color: #48BED8;
      width: 100%;
      overflow: hidden; }
    .item_list .pic_list li p {
      color: #9B9B9B;
      margin-top: 10px;
      height: 48px;
      overflow: hidden; }
    .item_list .pic_list li .price {
      padding-top: 20px; }
      .item_list .pic_list li .price .new {
        font-size: 24px;
        color: #ED9E9A;
        padding-right: 15px; }
      .item_list .pic_list li .price .old {
        color: #9B9B9B;
        text-decoration: line-through; }
  .item_list .pic_list .more {
    float: right;
    margin-top: 50px;
    color: #48BED8; }
    .item_list .pic_list .more i {
      background-position: -114px 0px;
      vertical-align: top;
      position: relative;
      top: 4px;
      margin-left: 5px; }
    .item_list .pic_list .more:hover {
      color: #4A4A4A; }
      .item_list .pic_list .more:hover i {
        background-position: -91px 0px; }
  .item_list .department_list li {
    height: 310px; }
    .item_list .department_list li h4 {
      display: inline-block;
      padding: 0 30px 0 20px;
      border-radius: 0 100px 100px 0;
      height: 46px;
      line-height: 46px;
      width: auto;
      top: auto;
      margin-top: -47px; }
  .item_list .goods_list ul {
    position: relative; }
    .item_list .goods_list ul li {
      padding-bottom: 20px;
      padding: 2px;
      display: block; }
      .item_list .goods_list ul li a h4 {
        position: relative;
        background: none;
        color: #4A4A4A;
        margin-bottom: -15px; }
      .item_list .goods_list ul li a:hover h4 {
        color: #48BED8; }
      .item_list .goods_list ul li:hover {
        box-shadow: 0px 0px 3px 0px #D2D2D2; }
  .item_list .feature ul {
    margin-left: -4%;
    padding-top: 40px; }
    .item_list .feature ul li {
      float: left;
      width: 16%;
      text-align: center;
      margin-left: 4%; }
      .item_list .feature ul li figure figcaption {
        font-size: 24px;
        padding-top: 35px; }
      .item_list .feature ul li figure em {
        color: #9B9B9B;
        display: block;
        padding: 10px 0; }
      .item_list .feature ul li p {
        text-align: left; }

.health aside {
  width: 308px;
  float: right; }
  .health aside h3 {
    background-color: #F2F2F2;
    padding: 0px;
    line-height: 40px;
    font-size: 18px;
    padding-left: 10px; }
    .health aside h3 i {
      width: 5px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
      background-color: #48BED8;
      border-radius: 10px;
      top: 0px;
      margin-right: 10px;
      position: relative;
      top: -1px; }
  .health aside .category, .health aside .recommend {
    border: 1px solid #dddddd;
    margin-bottom: 20px; }
    .health aside .category ul, .health aside .recommend ul {
      padding: 10px;
      font-size: 16px; }
      .health aside .category ul i, .health aside .recommend ul i {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #48BED8;
        display: inline-block;
        margin-right: 10px; }
      .health aside .category ul li, .health aside .recommend ul li {
        width: 50%;
        float: left;
        line-height: 40px;
        height: 40px;
        overflow: hidden; }
        .health aside .category ul li a, .health aside .recommend ul li a {
          display: block; }
  .health aside .recommend h2 {
    padding: 20px 0; }
  .health aside .list {
    padding-bottom: 10px; }
    .health aside .list h3 {
      background-color: #48BED8;
      color: #FFF; }
    .health aside .list ul li {
      line-height: 40px;
      height: 40px;
      overflow: hidden;
      border-bottom: 1px solid #f2f2f2;
      padding: 0 10px; }
    .health aside .list ul i {
      background-position: -174px -99px;
      vertical-align: middle;
      margin-right: 5px; }

.tab ul li {
  display: inline-block;
  margin-right: 10px; }
  .tab ul li a {
    display: block;
    padding: 0 20px;
    line-height: 36px;
    border-radius: 5px;
    border: 1px solid #FFF; }
  .tab ul li.on a, .tab ul li:hover a {
    border-color: #48BED8;
    color: #48BED8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
.tab img {
  margin: 20px 0 0;
  width: 100%;
  display: none; }

.globalBg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(134, 134, 134, 0.5);
  z-index: 9998; }

.innerBg {
  background: #FFF;
  margin: 8px;
  padding-bottom: 20px; }

.popupBox {
  width: 300px;
  color: #7a7a7a;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -50px;
  font-size: 14px;
  border-radius: 1px;
  overflow: hidden;
  background: rgba(2, 2, 2, 0.11);
  text-align: center; }
  .popupBox .cancel, .popupBox .close {
    position: absolute;
    right: -10px;
    top: -5px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 2; }
    .popupBox .cancel i, .popupBox .close i {
      background-position: -143px -26px;
      width: 24px; }
    .popupBox .cancel:hover, .popupBox .close:hover {
      color: #48BED8; }
  .popupBox article {
    text-align: left;
    padding: 20px 20px 0;
    position: relative; }
    .popupBox article .tit {
      font-size: 18px;
      text-align: center;
      position: relative;
      z-index: 999;
      overflow: hidden; }
      .popupBox article .tit span {
        border-bottom: 1px solid #dddddd;
        line-height: 30px;
        float: left;
        padding-bottom: 10px;
        width: 50%;
        cursor: pointer; }
        .popupBox article .tit span.on {
          color: #48BED8;
          border-bottom-color: #48BED8; }
    .popupBox article .touchslider-viewport {
      overflow: hidden; }
    .popupBox article .bd ul {
      width: 300px;
      overflow: hidden; }
      .popupBox article .bd ul li {
        margin: 20px 0;
        position: relative; }
        .popupBox article .bd ul li input {
          width: 100%;
          height: 36px;
          line-height: 36px;
          padding: 0 5px;
          box-sizing: border-box; }
  .popupBox .submitBox {
    height: 33px;
    line-height: 32px;
    margin: 10px 20px 0;
    font-size: 16px;
    text-align: center; }
    .popupBox .submitBox span.ok {
      display: block;
      text-align: center;
      cursor: pointer;
      background-color: #48BED8;
      color: #ffffff;
      margin: 0 auto; }
  .popupBox .otherMsg {
    margin-top: 10px; }

.msgBox {
  position: fixed;
  left: 50%;
  top: 50%;
  line-height: 30px;
  display: none;
  z-index: 99999;
  font-size: 18px;
  background-color: rgba(134, 134, 134, 0.54);
  border-radius: 30px;
  text-align: center; }

.successBox {
  width: 100%;
  left: 0px;
  top: 0px;
  margin: 0px;
  background-color: #48B363;
  line-height: 40px;
  color: #FFF;
  border-radius: 0px; }
  .successBox i {
    background-position: -51px -94px;
    margin: 4px 10px 0 0; }

.loginBox .getCode {
  position: absolute;
  right: 0px;
  top: 0px;
  line-height: 34px;
  cursor: pointer;
  padding: 0 15px;
  width: 150px;
  border: 1px solid #48BED8;
  background-color: #e5faff; }
.loginBox .disable {
  background-color: #F2F6F7;
  border-color: #c9c9c9;
  outline: none;
  cursor: default; }
.loginBox .prompt {
  color: #ED9E9A;
  position: absolute;
  left: 0px;
  bottom: -24px;
  display: none; }
  .loginBox .prompt i {
    background-position: -178px -22px; }

.loginBox2 {
  width: 300px;
  float: right;
  position: relative;
  z-index: 2;
  margin-top: 80px;
  background-color: #FFFFFF;
  padding: 30px;
  border: 1px solid #dddddd; }
  .loginBox2 .getCode {
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 34px;
    cursor: pointer;
    padding: 0 15px;
    width: 150px;
    border: 1px solid #48BED8;
    background-color: #e5faff; }
  .loginBox2 .disable {
    background-color: #F2F6F7;
    border-color: #c9c9c9;
    outline: none;
    cursor: default; }
  .loginBox2 .tit {
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 999;
    overflow: hidden; }
    .loginBox2 .tit span {
      border-bottom: 1px solid #dddddd;
      line-height: 30px;
      float: left;
      padding-bottom: 10px;
      width: 50%;
      cursor: pointer; }
      .loginBox2 .tit span.on {
        color: #48BED8;
        border-bottom-color: #48BED8; }
  .loginBox2 .touchslider-viewport {
    overflow: hidden; }
  .loginBox2 .bd ul {
    width: 300px;
    overflow: hidden; }
    .loginBox2 .bd ul li {
      margin: 20px 0 30px;
      position: relative; }
      .loginBox2 .bd ul li input {
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding: 0 5px;
        box-sizing: border-box; }
  .loginBox2 .bd .prompt {
    color: #ED9E9A;
    margin-top: -28px;
    display: none; }
    .loginBox2 .bd .prompt i {
      background-position: -178px -22px; }
  .loginBox2 .submitBox {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center; }
    .loginBox2 .submitBox .ok {
      display: block;
      text-align: center;
      cursor: pointer;
      background-color: #48BED8;
      color: #ffffff;
      margin: 0 auto; }
  .loginBox2 .otherMsg {
    text-align: center;
    padding-top: 10px; }
  .loginBox2 .lgbg {
    width: 42px;
    height: 42px;
    display: inline-block;
    position: absolute;
    left: -6px;
    bottom: -6px;
    background: url("../images/lg_l.png") no-repeat; }
  .loginBox2 .lgrt {
    left: auto;
    right: -6px;
    background: url("../images/lg_r.png") no-repeat; }

.ads {
  margin-bottom: 10px; }
  .ads img {
    vertical-align: top;
    width: 100%; }

/*分页*/
.pagination {
  text-align: center;
  padding-top: 30px; }
  .pagination a, .pagination span {
    display: inline-block;
    padding: 0 8px;
    margin: 0 3px; }
  .pagination a:hover, .pagination span.current {
    background-color: #48BED8;
    border-radius: 3px;
    color: #FFF;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .pagination .prev {
    margin: 0 5px; }
    .pagination .prev i {
      background-position: 0px -132px; }
    .pagination .prev:hover {
      background: none; }
      .pagination .prev:hover i {
        background-position: 0px -167px; }
      .pagination .prev:hover .disable {
        background-position: 0px -132px;
        cursor: inherit; }
  .pagination .next {
    margin: 0 5px; }
    .pagination .next i {
      background-position: -25px -132px; }
    .pagination .next:hover {
      background: none; }
      .pagination .next:hover i {
        background-position: -25px -167px; }
      .pagination .next:hover .disable {
        background-position: -25px -132px;
        cursor: inherit; }

/*问答分页*/
.pages {
  text-align: right;
  padding-top: 15px; }
  .pages a, .pages button {
    border: none;
    background: none;
    outline: none; }
    .pages a.prev i, .pages button.prev i {
      background-position: 0px -202px; }
      .pages a.prev i.disable, .pages button.prev i.disable {
        background-position: 0px -202px; }
    .pages a.prev:hover i, .pages button.prev:hover i {
      background-position: 0px -230px; }
      .pages a.prev:hover i.disable, .pages button.prev:hover i.disable {
        background-position: 0px -202px; }
    .pages a.disable i, .pages button.disable i {
      background-position: 0px -202px; }
    .pages a.disable:hover, .pages button.disable:hover {
      cursor: default; }
      .pages a.disable:hover i, .pages button.disable:hover i {
        background-position: 0px -202px; }
    .pages a.next i, .pages button.next i {
      background-position: -24px -202px; }
      .pages a.next i.disable, .pages button.next i.disable {
        background-position: -24px -202px; }
    .pages a.next:hover i, .pages button.next:hover i {
      background-position: -24px -230px; }

/*底部*/
.footer {
  background-color: #3B3B3A;
  padding: 50px 0;
  color: #F2F2F2;
  margin-top: 50px; }
  .footer dl {
    width: 80%;
    float: left; }
    .footer dl dt, .footer dl dd {
      float: left; }
    .footer dl dt {
      width: 60%;
      overflow: hidden;
      margin-right: -2px; }
      .footer dl dt img {
        float: left;
        margin: 0 40px 20px 0; }
      .footer dl dt p {
        padding: 10px 0 0 0; }
      .footer dl dt a {
        color: #F2F2F2;
        width: 30%;
        margin-bottom: 10px;
        display: inline-block;
        height: 14px;
        line-height: 14px; }
        .footer dl dt a:hover {
          color: #48BED8; }
      .footer dl dt .area {
        margin-left: 0px;
        clear: both; }
        .footer dl dt .area h4 {
          padding: 10px 0;
          font-size: 18px; }
    .footer dl dd {
      width: 35%;
      padding-left: 5%;
      border-left: 1px solid #2b2b2b;
      box-shadow: -1px 0 0 0 #454545; }
      .footer dl dd h4 {
        font-size: 18px; }
      .footer dl dd p {
        border-bottom: 1px solid #2b2b2b;
        box-shadow: 0 1px 0 0 #454545;
        padding: 8px 0;
        width: 60%; }
        .footer dl dd p i {
          background-position: -135px 5px;
          margin-right: 5px; }
        .footer dl dd p a {
          color: #f2f2f2; }
          .footer dl dd p a:hover {
            color: #9B9B9B; }
  .footer .qrcode {
    width: 20%;
    float: right;
    text-align: center;
    color: #4A4A4A; }
    .footer .qrcode figure {
      width: 132px;
      display: inline;
      margin-right: 50px;
      display: inline-block;
      background-color: #FFFFFF;
      text-align: center;
      padding-bottom: 5px; }
      .footer .qrcode figure img {
        margin-bottom: -10px; }
    .footer .qrcode .weixin {
      display: none; }

.copyright {
  background-color: #2D2D2D;
  height: 40px;
  line-height: 40px;
  color: #F2F2F2;
  text-align: center;
  color: #9B9B9B; }

.formBox {
  position: relative; }
  .formBox input {
    height: 38px;
    line-height: 38px;
    border: 1px solid #dddddd;
    background: none; }
  .formBox button {
    cursor: pointer;
    outline: none; }

.rightNav {
  position: fixed;
  z-index: 2;
  box-sizing: content-box;
  right: 50%;
  top: 50%;
  margin: -110px -700px 0 0;
  width: 150px;
  height: 230px;
  _position: absolute;
  _top: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight); }
  .rightNav ul li {
    text-align: center;
    font-size: 16px; }
    .rightNav ul li a {
      display: block;
      height: 50px;
      line-height: 50px;
      background-color: #48BED8;
      color: #FFF; }
    .rightNav ul li i {
      margin: 12px 5px 0 0;
      width: 24px; }
    .rightNav ul li .appoint i {
      background-position: -17px -26px; }
    .rightNav ul li .registered i {
      background-position: -47px -26px; }
    .rightNav ul li .customer i {
      background-position: -77px -26px; }
    .rightNav ul li.weixinRight {
      border: 2px solid #48BED8;
      background-color: #FFF; }
    .rightNav ul li.gotoTop {
      background-color: #D8D8D8;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      display: none; }
      .rightNav ul li.gotoTop:hover {
        background-color: #48BED8; }
      .rightNav ul li.gotoTop i {
        background-position: -110px -26px; }
      .rightNav ul li.gotoTop em {
        display: inline-block;
        height: 44px;
        line-height: 44px; }
  .rightNav ul .lineBg {
    height: 15px;
    background: url("../images/shadow.png") no-repeat;
    background-size: 100%; }

.swiper-container {
  /* Arrows */ }
  .swiper-container .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .swiper-container .swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* Fix of Webkit flickering */
    z-index: 1; }
  .swiper-container .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center; }
  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 20px;
    margin-top: -11px;
    z-index: 10;
    cursor: pointer;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: none; }
  .swiper-container .swiper-button-prev.swiper-button-disabled,
  .swiper-container .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none; }
  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-container-rtl .swiper-button-next {
    background-image: url("../images/menu_l.png");
    left: 0px;
    right: auto; }
  .swiper-container .swiper-button-prev.swiper-button-black,
  .swiper-container .swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }
  .swiper-container .swiper-button-prev.swiper-button-white,
  .swiper-container .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-container-rtl .swiper-button-prev {
    background-image: url("../images/menu_r.png");
    right: 0px;
    left: auto; }
  .swiper-container .swiper-button-next.swiper-button-black,
  .swiper-container .swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }
  .swiper-container .swiper-button-next.swiper-button-white,
  .swiper-container .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.complete-dialog {
  width: 475px; }
  .complete-dialog article {
    padding: 0; }
  .complete-dialog .cancel {
    display: none; }
  .complete-dialog span.closePopup {
    display: none; }
  .complete-dialog .box-header {
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    background-color: #F2F2F2; }
    .complete-dialog .box-header i.close {
      background-position: -240px 19px; }
  .complete-dialog .box-body {
    padding: 17px 29px; }
    .complete-dialog .box-body .tip-box {
      padding: 12px 30px;
      border: 1px solid #ddd;
      background: #F5F5F5; }
      .complete-dialog .box-body .tip-box li {
        line-height: 20px;
        list-style: disc; }
    .complete-dialog .box-body form[name=accInfoForm] {
      padding: 15px 15px 0 15px; }
      .complete-dialog .box-body form[name=accInfoForm] .info-box {
        position: relative; }
        .complete-dialog .box-body form[name=accInfoForm] .info-box > li {
          padding-bottom: 13px; }
          .complete-dialog .box-body form[name=accInfoForm] .info-box > li label {
            display: inline-block;
            width: 67px;
            line-height: 17px;
            vertical-align: middle;
            margin-right: 17px;
            text-align: right; }
          .complete-dialog .box-body form[name=accInfoForm] .info-box > li input {
            width: 260px; }
      .complete-dialog .box-body form[name=accInfoForm] .select-box {
        width: 262px; }
    .complete-dialog .box-body .prompt {
      color: #ED9E9A;
      position: absolute;
      left: 84px;
      bottom: -20px;
      display: none; }
      .complete-dialog .box-body .prompt i {
        background-position: -178px -22px; }
  .complete-dialog .submitBox {
    margin-left: 98px; }
    .complete-dialog .submitBox span.ok.disabled {
      background: #C4C4C4;
      border: 1px solid #C4C4C4;
      color: #fff; }
  .complete-dialog span.ok {
    width: 280px; }

.footerWap {
  display: none; }

/*# sourceMappingURL=global.css.map */
