@import "settings.scss";
.none{display:none;}

.red {
  color: #FF0000
}

.container .redBg {
  background-color: #FF0000;
  color: #fff;
}

.green {
  background-color: #06E800
}

.green2 {
  color: #049400
}

.gray {
  color: #018FEC
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-default {
  color: #4A4A4A;
}

.text-primary {
  color: #fff;
}

.text-sec {
  color: #9B9B9B;
}

.text-stress {
  color: #ED9E9A;
}

.text-main {
  color: #48BED8;
}

.text-success{
  color:#7CBA37;
}

.text-info {
  color: #C4C4C4;
}

.back-primary {
  background-color: #48BED8;
}

.back-stress {
  background-color: #ED9E9A;
}

.back-mask {
  background-color: rgba(0, 0, 0, .4);
}

.back-sec {
  background-color: #F2F2F2;
}

.back-info {
  background-color: #DDDDDD;
}

.text-center {
  text-align: center;
}

a.disabled{color:#DDDDDD;}
.checkbox{display:inline-block;width:15px;height:15px;background:url(../images/icon.png) 0 -707px}
.checkbox.checked{background-position:-47px -707px}
.radio{display:inline-block;width:19px;height:19px;background:url(../images/icon.png) 0 -666px}
.radio.checked{background-position:-45px -666px}
.radio.disabled{background-position:-73px -666px}
.border-default{border:1px solid #DDDDDD;}

.table {
  text-align: left;
  width: 100%;
  margin-bottom:60px;
  thead {
    height: 40px;
    th {
      padding: 10px;
      font-weight: normal;
      text-align: left;
    }
    @extend .back-sec;
  }
  tbody {
    tr {
      border-bottom: 1px solid #DDDDDD;
    }
    td {
      padding: 20px 10px;
      vertical-align: top;
    }
  }
}

.table-striped{
  tr:nth-child(even){background:#F2F6F7;}
}

.table-bordered{
  border:1px solid #DDDDDD;
  thead{
    border-bottom:1px solid #DDDDDD;
  }
}

table, th, td {
  border-collapse: collapse;
  border: none;
}

.wrapper {
  width: $wrapperWidth;
  margin: 0 auto;
  position: relative;
}

a {
  color: $textColor;
  &:hover {
    color: $textOnColor;
  }
  &.on{
    color: $textOnColor;
  }
}

body {
  color: $textColor
}

button.disabled,.btn.disabled{
  background:#C4C4C4;
  border:1px solid #C4C4C4;
  color:#fff;
  &:hover{
    background:#C4C4C4;
    border:1px solid #C4C4C4;
    color:#fff;
  }
}

.select-box{
  position:relative;
  display:inline-block;
  vertical-align: middle;
  cursor:pointer;
  .selected{
    display:inline-block;
    width:100%;
    box-sizing:border-box;
    height:34px;
    line-height:34px;
    padding:0 10px;
    border:1px solid #ddd;
    i.icon{
      float:right;
      background-position: 12px 14px;
    }
  }
  ul.options{
    position:absolute;
    z-index:999;
    top:100%;
    left:0;
    min-width:100%;
    max-height:500%;
    overflow:scroll;
    overflow-x:hidden;
    display:none;
    list-style:none;
    background:#fff;
    border:1px solid rgba(0,0,0,.15);
    .option{
      line-height:28px;
      white-space:nowrap;
      padding:0 10px;
      &.active,&:hover{
        background:$textOnColor;
      }
    }

  }
  &.open{
    ul.options{
      display:block;
    }
  }
}

input{box-sizing:border-box;height:35px;line-height:35px;padding:0 10px;border:1px solid #ddd;}
input:focus,textarea:focus{outline:none;border:1px solid #48BED8;}

.alert-tip{position:absolute;z-index:999;width:20%;color:#fff;font-size:1.3em;text-align:center;line-height:1.8em;padding:0.3em 0.5em;text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);}
.alert-success {background:rgba(69,186,213,0.8);}
.alert-fail {background:rgba(239,114,15,0.8);}
.alert-tip .icon{margin-right:0.7em;font-size: 1.2em;}
.container {
  width: 100%;
  margin-top: 60px;
}

select {
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
}

.bdr {
  @include bdr($bdrc1);
}

.bdr-bt{
  border-bottom: 1px solid #ddd;
}

.bdr-top{
  border-top: 1px solid #ddd;
}

.btn {
  border: 1px solid $bdrc_48B;
  padding: 0 20px;
  line-height: 30px;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.submitBtn {
  @include btn($bgc_48B, #3DAAC2, $white, $white,$bgc_48B);
}

.cancelBtn {
  @include btn(#fff, #ddd, #4A4A4A, #4A4A4A,#ddd);
}

.small-text{font-size:12px;}

.boxBg {
  background-color:$bgc_gray_F5;
}

.topBar {
  background-color: $f2;
  height: $topBarHeight;
  line-height: $topBarHeight;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 3px #D2D2D2;
}

.popupBox.confirm-box{
  article{
    padding:0;
  }
  .submitBox{display:none;}
  .otherMsg{display:none;}
  .innerBg{
    padding-bottom:0;
  }

}

.confirm-box{
  width:324px;
  .cancel{
    display:none;
  }
  span.closePopup{
    display:none;
  }
  .box-header{
    i.close{
      background-position:-240px 19px;
    }
    height:40px;
    line-height:40px;
    padding-left:12px;
    background-color:#F2F6F7;
  }
  .box-body{
    padding:16px 22px;
    text-align:center;
    p.confim-tip{font-size:18px;padding:15px;}
    .btn-box{padding-bottom:10px;
      .cancelBtn{margin-right:10px;}
    }
  }
}


.topBar_info {
  float: right;
  color: $gray9B;
  .icon {
    width: 12px;  margin: 0 5px;  position: relative;  top: 10px;
  }
  .devidel {
    background-position: -19px 3px;

  }
  .wapUser{display: none;}
  aside{display:inline-block;display: inline\9;}
  a {
    color: $gray9B;
    display: inline\9;
    &:hover {
      color: $textc_48B;
    }
  }
  .accountInfo{display: none;}
  .city-name {
    position:relative;
    display:inline-block;
    display: inline\9;
    i {
      background-position: 0px 6px; margin-left: 5px;
    }
    .choose-city{
      position:absolute;
      top:40px;
      left:-36px;
      display:none;
      width:160px;
      padding:10px 10px;
      background:#fff;
      border:1px solid #ddd;
      border-radius:5px;
      .arrow-bottom {
        position: absolute;
        top:-26px;
        left:48px;
        width: 0;
        height: 0;
        border-width:13px 10px;
        border-color:#ddd;
        border-style: solid;
        border-right-color:transparent;
        border-left-color: transparent;
        border-top-color: transparent;
      }
      .arrow-bottom:after {
        content:'\00a0';
        position:absolute;
        width: 0;
        height: 0;
        right: -9px;
        top: -12px;
        border-width:13px 9px;
        border-color:#fff;
        border-style: solid;
        border-right-color:transparent;
        border-left-color: transparent;
        border-top-color: transparent;
      }

      .city{
        display:inline-block;
        width:80px;text-align:center;
        &.on,&.hover{
          color:#48BED8;
        }
      }
      .city.offline{
        @extend .text-info;cursor: not-allowed;
      }
    }
  }
  .cartBtn i {
    background-position: -38px 2px;
    width: 24px;
  }
}

.header {
  height: 90px;
  line-height: 90px;
  padding: 5px 0;
  margin-top: $topBarHeight;
  .logo {
    width: 160px;
    height: 74px;
    background: url("/public/images/logo.png") no-repeat 0 0;
    background-size: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/logo.png',sizingMethod='scale');/*兼容ie8以下*/
    text-indent: -9999px;
    display: block;margin-top: 5px;
    float: left;
  }
  .slogan {
    height: 30px;
    margin-left: 20px;display: inline-block;width: 325px;
    img {
      vertical-align: middle;
      width:100%;
    }
  }
  .tel {
    float: right;
    position: absolute;
    right: 0px;
    i {
      background-position: 0px -60px;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      top: 30px;
      position: relative;vertical-align: top;
    }
    img {
      vertical-align: middle
    }
  }
}

.nav {
  height: 50px;
  line-height: 50px;
  background-color: $navBgColor;overflow: hidden;
  position: relative;
  z-index: 2;margin-bottom: 10px;
  ul {
    i {
      width: 1px;
      height: 12px;
      background-color: #399CB2;
      border-right: 1px solid #5dc5dc;
      float: right;
      position: absolute;
      right: 0px;
      top: 50%;
      margin-top: -6px;
      border-radius: 5px;
    }
    li {
      float: left;
      font-size: 16px;
      margin-left: -2px;
      position: relative;
      &:last-child{
        i{display: none;}
      }
      a {
        color: #FFF;
        display: block;
        padding: 0 22px;
        position: relative;
      }
      &.on, &:hover {
        background-color: $navBgOnColor;
        //@include transition(all .3s linear);
        i {
          background-color: inherit;
          border-color: transparent;
        }
      }

    }
  }
}

.positon {
  padding:0 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid $bdrc_f2;
  em {
    padding: 0 6px;
  }
}

.home {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 0px;z-index: 10;
  margin-left: -$wrapperWidth/2;
  .nav {
    //width: 726px;
    position: absolute;
    top: 190px;
    right: 0px;
    border-radius: 5px;
    overflow: hidden;
  }
  .wrapper {
    width: 100%;
  }
}

.item_list {
  padding-bottom: 50px;
  header {
    padding-top: 50px;text-align: center;
    h2 {
      font-size: 28px;
      padding-bottom: 20px;
      color: $textColor;
      font-weight: normal;
      i {
        background-position: -0px -26px;
        position: relative;
        //top: 3px;
        margin-right: 10px;
        width: 6px;height: 24px;background-color: $navBgColor;border-radius: 100px;
      }
    }
    p {
      color: $gray9B;
      font-size: 16px;
    }
  }

  .standard_header{
    border: 2px solid $bdrc_48B;
    h2{
      background-color: $bgc_gray_F5;
      margin: -15px 0;display: inline-block;position: relative;top: -8px;
    }
    p{
      background-color: $bgc_gray_F5;
      display: inline-block;position: relative;bottom: -14px;padding: 0 10px;
    }

  }
  .pic_list {
    ul {
      margin-left: -17px;
    }
    li {
      margin-top: 70px;
      width: 330px;
      float: left;
      display: inline;
      margin-left: 17px;
      position: relative;
      box-sizing: border-box;
      img {
        width: 100%;
        height: auto;
        @include transition(all 0.3s);
        &:hover {
          opacity: 0.8;
        }
      }
      //.line{height: 5px;}
      .line01 {
        background-color: #48B363;
      }
      .line02 {
        background-color: #A89CCC;
      }
      .line03 {
        background-color: #ED9E9A;
      }
      .line04 {
        background-color: #FFA0AC;
      }
      .line05 {
        background-color: #7ECEDF;
      }
      .line06 {
        background-color: #9BC9FF;
      }
      h4 {
        font-size: 18px;
        line-height: 50px;
        height: 50px;
        color: $white;
        //position: absolute;
        //top: -50px;
        left: 0px;
        text-align: center;
        background-color: $bgc_48B;
        width: 100%;
        overflow: hidden;
      }
      p {
        color: $textc_333;
        margin-top: 10px;height: 48px;overflow: hidden;
      }
      //&:hover{
      //  h4{color:$textOnColor; cursor: pointer;}
      //}
      .price {
        padding-top: 20px;
        .new {
          font-size: 24px;
          color: $red_ED9;
          padding-right: 15px;
        }
        .old {
          color: $gray9B;
          text-decoration: line-through;
        }
      }
    }

    .more {
      //float: right;
      margin-top: 30px ;color: $white;background-color: $bgc_48B;padding:5px 20px;border-radius:6px;position: relative;
      //top: 20px;
      font-size: 18px;display: inline-block;
      i {
        display: none;
        background-position: -114px 0px;
        vertical-align: top;
        position: relative;
        top: 4px;
        margin-left: 5px;
      }
      &:hover {
        //color: $textColor;
        i {
          background-position: -91px 0px;
        }
      }

    }
  }

  .goods_list {
    ul {
      position: relative;
      li{
        //margin-left: 0px;
        padding-bottom: 20px;padding: 2px;margin-top: 40px;
        display: block;
        p {
          color: $gray9B;
        }
        a{
          h4 {
            position: relative;
            background: none;
            color: $textColor;
            margin-bottom: -15px;
            top:0px;text-align: left;
          }
          &:hover{
            h4{color:$textc_48B;}
          }

        }

        &:hover{
          //border: 1px solid $bdrc2;
          //box-shadow:0px 0px 3px 0px $bgc_D2;
        }
        h4{background: none;
          a{color: $textc_48B;}
        }
      }
    }
  }
  .standard {
    ul {
      margin-left: -4%;
      padding-top: 40px;
      li {
        float: left;
        width: 16%;
        text-align: center;
        margin-left: 4%;
        figure {
          figcaption {
            font-size: 24px;
            padding-top: 35px;
          }
          em {
            color: $gray9B;
            display: block;
            padding: 10px 0
          }
          img {
            //&:hover {
            //  @include transition(all 0.3s linear);
            //  transform: scale(1.2);
            //}
          }

        }
        p{text-align: left;}
      }
    }
  }
}

.health {
  aside {
    width: 308px;
    float: right;
    h3 {
      background-color: $bgc_F2;
      padding: 0px;
      line-height: 40px;
      font-size: 18px;
      padding-left: 10px;
      i {
        @include lineBar($bgc_48B);
      }
    }

    .category, .recommend {
      @include bdr($bdrc_ddd);
      margin-bottom: 20px;
      ul {
        padding: 10px;
        font-size: 16px;
        i {
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: $bgc_48B;
          display: inline-block;
          margin-right: 10px;
        }
        li {
          width: 50%;
          float: left;
          line-height: 40px;
          height: 40px;
          overflow: hidden;
          a {
            display: block;
          }
        }
      }
    }
    .recommend {
      h2 {
        padding: 20px 0;
      }
    }
    .list {
      padding-bottom: 10px;
      h3 {
        background-color: $bgc_48B;
        color: $white;
      }
      ul {

        li {
          line-height: 50px;
          height: 50px;
          overflow: hidden;
          border-bottom: 1px solid $bdrc_f2;
          padding: 0 10px;
        }
        i {
          background-position: -174px -99px;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }
}

//tab切换
.tab {
  ul {
    li {
      display: inline-block;
      margin-right: 10px;
      a {
        display: block;
        padding: 0 20px;
        line-height: 36px;
        border-radius: 5px;
        border: 1px solid $white;

      }
      &.on, &:hover {
        a {
          border-color: $bdrc_48B;
          color: $textc_48B;
          @include transition(all .3s)
        }
      }
    }

  }
  img {
    margin: 20px 0 0;width: 100%;display: none;
  }
}

//锁屏
.globalBg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(134, 134, 134, 0.5);
  z-index: 9998;
}

//点击弹出框
.innerBg {
  background: #FFF;
  margin: 8px;
  padding-bottom: 20px;
  //cursor: move;
}

.popupBox {
  width: 300px;
  color: #7a7a7a;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -50px;
  font-size: 14px;;
  border-radius: 1px;
  overflow: hidden;
  background: rgba(2, 2, 2, 0.11);
  text-align: center;
  .close,.closeBtn {
    position: absolute;
    right: -10px;
    top: -5px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 2;
    i {
      background-position: -143px -26px;
      width: 24px;
    }
    &:hover {
      color: $navBgColor
    }
  }
  article {
    text-align: left;
    padding: 20px 20px 0;
    position: relative;

  }
  .tit {
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 999;
    overflow: hidden;

    //height:60px;
    //background-color: #222;
    span {
      border-bottom: 1px solid $bdrc_ddd;
      line-height: 30px;
      float: left;
      padding-bottom: 10px;
      width: 50%;
      cursor: pointer;
      &.on {
        color: $textc_48B;
        border-bottom-color: $bdrc_48B;
      }
    }
  }
  .touchslider-viewport {
    overflow: hidden
  }
  .bd {
    ul {
      //padding: 10px;background: #000;height: 100px; width: 100%;
      width: 300px;
      overflow: hidden;
      //background-color: #FF0000;
      li {
        margin: 20px 0;
        position: relative;
        input[type='text'],input[type='password'] {
          width: 100%;
          height: 36px;
          line-height: 36px;
          padding: 0 5px;
          box-sizing: border-box;
        }

      }
      p{
        span{
          position: relative;top:3px;margin-right: 5px;}
        a{color: $textOnColor;}
      }
    }
  }
  .submitBox {
    height: 33px;
    line-height: 32px;
    margin: 5px 20px 0;
    font-size: 16px;
    text-align: center;
    button {
      display: block;
      text-align: center;
      cursor: pointer;
      background-color: $navBgColor;
      //background-color:$bgc_ccc;
      color: #ffffff;
      margin: 0 auto;border: none;height: 32px;line-height: 32px;width: 100%;outline: none;
      &:hover{
        background-color: #3DAAC2;
      }
    }
    .disabled{
      background-color:$bgc_ccc;cursor: default;
    }

  }
  .otherMsg {
    margin-top: 10px; color: $gray9B;
  }

}
.complete-reOk{width: 300px;
  i{display: none;}
  .innerBg{padding: 0px;margin: 7px;}
  .submitBox{
    margin: 5px 0 0;
      button{width: 50%;float: left;
        &.cancel{background-color: $bgc_ccc;}
      }
  }

}
.msgBox{
  position: fixed; left: 50%; top: 50%; line-height: 30px; display: none;z-index: 99999;
  font-size: 18px; background-color:rgba(134, 134, 134, 0.54);border-radius: 30px; text-align: center;//border-left: none;border-right: none;
}
.successBox{width: 100%;left: 0px;top:0px;margin: 0px;background-color:#48B363;line-height: 40px;color: $white;border-radius: 0px;
  i{background-position: -51px -94px;margin: 4px 10px 0 0;}
}
.loginPopupCom{
  width: 360px;
  .getCode {
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 34px;
    cursor: pointer;
    padding: 0 15px;width: 150px;
    border: 1px solid $bdrc_48B;color: $textc_48B;
    background-color: $bgc_E5F;
  }
  .disable{background-color: $bgc_gray;border-color:$bdrc1;outline: none;cursor: default;}
  .prompt {
    color: $red_ED9;
    position: absolute;
    left: 0px;
    bottom: -24px;
    display: none;
    i {
      background-position: -178px -22px;
    }
  }
}
.loginBox{
  .operate{
    text-align: left;padding:10px 0 0 20px;
    a{color: $textc_48B;
      &:hover{
        color:$text_red_F1;
      }
    }
    i{color: $textc_48B;padding:0 8px;}

  }
}
.loginCom{
  width: 300px;float: right;position: relative;z-index: 2;margin-top:80px;background-color:rgba(255, 255, 255, 0.7);padding:30px;border: 1px solid $bdrc_ddd;
  .getCode {
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 34px;
    cursor: pointer;
    padding: 0;width: 150px;
    border: 1px solid $bdrc_48B;color: $textc_48B;
    background-color: $bgc_E5F;
  }
  .disable{background-color: $bgc_gray;border-color:$bdrc1;outline: none;cursor: default;}
  .tit {
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 999;
    overflow: hidden;
    //height:60px;
    //background-color: #222;
    span {
      border-bottom: 1px solid $bdrc_ddd;
      line-height: 30px;  float: left;
      padding-bottom: 10px;
      width: 50%; cursor: pointer;
      &.on {
        color: $textc_48B;
        border-bottom-color: $bdrc_48B;
      }
    }
  }
  .touchslider-viewport {
    overflow: hidden;height:152px;
  }
  .bd {
    ul {
      //padding: 10px;background: #000;height: 100px; width: 100%;
      width: 300px;overflow: hidden;
      //background-color: #FF0000;
      li {
        margin: 20px 0;
        position: relative;
        input {
          width: 100%;
          height: 36px;
          line-height: 36px;
          padding: 0 5px;
          box-sizing: border-box;
          font-size: 15px;
          font-family:'Arial','微软雅黑';
        }
      }
      p{
        span{
        position: relative;top:3px;margin-right: 5px;  }
        a{color: $textOnColor;}
      }
    }
    .prompt {
      color: $red_ED9;margin-top: -20px;display: none;
      i {
        background-position: -178px -22px;
      }
    }
  }
  .submitBox {
    height: 36px;
    line-height: 36px;
    font-size: 16px;margin-top:5px;
    text-align: center;
    .ok {
        display: block;
        text-align: center;
        cursor: pointer;
        background-color: $navBgColor;
        color: #ffffff;
        margin: 0 auto;border: none;height: 32px;line-height: 32px;width: 100%;outline: none;
        &:hover{
          background-color: #3DAAC2;
        }
    }
    .disabled{
      background-color:$bgc_ccc;cursor: default;
    }
  }

  .otherMsg{text-align: center;padding-top: 10px;color: $gray9B;}
  .operate{
    padding: 10px  0;
    a{color: $textc_48B;
      &:hover{
        color: $text_red_F1;
      }
    }
    i{padding:0 8px;color: $textc_48B;}
  }
  .lgbg{width: 42px;height: 42px;display: inline-block;position: absolute;left:-6px;bottom:-6px;background: url("../images/lg_l.png") no-repeat}
  .lgrt{left:auto;right: -6px;background: url("../images/lg_r.png") no-repeat}
}
.registerBox,.rPasswordBox{
  margin-top: 40px;
  .tit{
    span{width: 100%;cursor:default;}
  }
}
.rPasswordBox{
  margin-top: 60px;
}
.ads {
  margin-bottom: 10px;
  img {
    vertical-align: top;
    width: 100%;
  }
}

/*分页*/
.pagination {
  text-align: center;
  padding-top: 30px;
  a, span {
    display: inline-block;
    padding: 0 8px;
    margin: 0 3px;
    color: $gray9B;

  }
  a:hover, span.current {
    background-color: $bgc_48B;
    border-radius: 3px;
    color: $white;
    @include transition(all .3s)
  }
  .prev {
    margin: 0 5px;
    i {
      //background-position: 0px -132px
      background-position: 0px -167px;
    }
    .disable {
      background-position: 0px -132px;
      cursor: inherit;
      &:hover{opacity: 1;}
    }
    &:hover {
      background: none;
      i {
        background-position: 0px -167px;opacity: 0.7;
      }
      .disable {
        background-position: 0px -132px;
        cursor: inherit;
      }
    }
  }
  .next {
    margin: 0 5px;
    i {
      //background-position: -25px -132px
      background-position: -25px -167px
    }
    .disable {
      background-position: -25px -132px;
      cursor: inherit;
      &:hover{opacity: 1;}
    }
    &:hover {
      background: none;
      i {
        background-position: -25px -167px;opacity: 0.7;
      }
      .disable {
        background-position: -25px -132px;
        cursor: inherit;
      }
    }
  }

}

/*问答分页*/
.pages {
  text-align: right;
  padding-top: 15px;
  a, button {
    border: none;
    background: none;
    outline: none;
    &.prev {
      i {
        background-position: 0px -202px;
        &.disable {
          background-position: 0px -202px
        }
      }
      &:hover {
        i {
          background-position: 0px -230px;
          &.disable {
            background-position: 0px -202px
          }
        }
      }
    }
    &.disable {
      i {
        background-position: 0px -202px
      }
      &:hover {
        cursor: default;
        i {
          background-position: 0px -202px
        }
      }
    }
    &.next {
      i {
        background-position: -24px -202px;

      }
      &:hover {
        &.disable {
          i{background-position: -24px -202px;  }
        }
        i {
          background-position: -24px -230px;
        }
      }
    }

  }
}

/*底部*/
.footer {
  background-color: #3B3B3A;
  padding: 50px 0;overflow: hidden;
  color: $f2;
  //margin-top: 50px;
  dl {
    width: 80%;
    float: left;
    dt, dd {
      float: left;
    }
    dt {
      width: 60%;
      overflow: hidden;
      margin-right: -2px;
      img {
        float: left;margin: 0 40px 20px 0;width: 170px;
      }
      p {
        padding: 10px 0 0 0;
      }
      a {
        color: $f2;
        //border-left: 1px solid $bdrc_f2;
        //padding: 0 30px 0 0;
        width: 30%;
        margin-bottom: 10px;
        display: inline-block;
        height: 14px;
        line-height: 14px;
        &:hover {
          color: $textc_48B;
        }
      }
      .area {
        h4{padding: 10px 0;font-size:20px;}
        margin-left:0px;clear: both;
      }

    }
    dd {
      width: 35%;
      padding-left: 5%;
      border-left: 1px solid #2b2b2b;
      box-shadow: -1px 0 0 0 #454545;
      h4 {
        font-size: 18px;padding-bottom: 10px;
      }
      p {
        border-bottom: 1px solid #2b2b2b;
        box-shadow: 0 1px 0 0 #454545;
        padding: 5px 0;
        width: 60%;
        i {
          background-position: -135px 5px;
          margin-right: 5px;
        }
        a {
          color: $textc_f2;
          &:hover {
            color: $gray9B
          }
        }
      }
    }
  }

  .qrcode {
    width: 20%;
    float: right;
    color: $white;
    h4{font-size: 18px;padding-bottom: 10px;
      i{width:24px;margin-right:5px;background-position: -77px -26px}
    }
    strong{font-size: 22px;padding: 5px 0 20px;display: block;font-weight: normal;}
    figure {
      display: inline-block;
      text-align: center;
      img {
        margin-bottom: -10px;
      }
      figcaption{padding:10px 0;display: block;}
    }
    .weixin {
      display: none;
    }

  }
}

.copyright {
  background-color: #2D2D2D;
  height: 40px;
  line-height: 40px;
  color: $f2;
  text-align: center;
  color: $gray9B;
}

.formBox {
  position: relative;
  //input[type='text'],input[type='password']{height: 38px; line-height: 38px;border: 1px solid $bdrc_ddd;background:none;}
  input {
    height: 38px;
    line-height: 38px;
    border: 1px solid $bdrc_ddd;
    background: none;
  }
  button {
    cursor: pointer;
    outline: none;
  }
}

//右侧导航
$rightNavLI: 50px;
.rightNav {
  position: fixed;
  z-index: 999;
  box-sizing: content-box;
  right: 50%;
  top: 50%;
  margin: -110px -700px 0 0;
  width: 150px;
  height: 230px;
  _position: absolute;
  _top: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight);
  ul {
    li {
      text-align: center;
      font-size: 16px;
      a {
        display: block;
        height: $rightNavLI;
        line-height: $rightNavLI;
        background-color: $bgc_48B;
        color: $white
      }
      i {
        margin: 12px 5px 0 0;
        width: 24px;
      }
      .appoint i {
        background-position: -17px -26px;
      }
      .registered i {
        background-position: -47px -26px;
      }
      .customer i {
        background-position: -77px -26px;
      }
      &.weixinRight {
        border: 2px solid $bdrc_48B;
        background-color: #FFF;
        img{width: 90%;height: auto;}
      }
      &.gotoTop {
        background-color: $gray_D8;
        cursor: pointer;
        @include transition(all 0.3s);
        display: none;
        &:hover {
          background-color: $bgc_48B;
        }
        i {
          background-position: -110px -26px
        }
        em {
          display: inline-block;
          height: $rightNavLI - 6;
          line-height: $rightNavLI - 6;
        }
      }
    }
    .lineBg {
      height: 15px;
      background: url("../images/shadow.png") no-repeat;background-size:100%;
    }
  }
}
.swiper-container{
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
  }
  .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 25%;
    height: 100%;
    position: relative;
    text-align: center;
  }
  /* Arrows */
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 18px;
    height: 20px;
    margin-top: -11px;
    z-index: 10;
    cursor: pointer;
    //-moz-background-size: 27px 44px;
    //-webkit-background-size: 27px 44px;
    //background-size: 27px 44px;
    background-size: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: url("../images/menu_l.png");
    left: 0px;
    right: auto;
  }
  .swiper-button-prev.swiper-button-black,
  .swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-prev.swiper-button-white,
  .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    background-image: url("../images/menu_r.png");    right: 0px;
    left: auto;
  }
  .swiper-button-next.swiper-button-black,
  .swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-next.swiper-button-white,
  .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  }
}
//完善信息
.complete-dialog{
  width:475px;
  article{padding:0;padding-bottom:22px;}

  .cancel{
    display:none;
  }
  span.closePopup{
    display:none;
  }
  .box-header{
    i.close{
      background-position:-240px 19px;
    }
    height:40px;
    line-height:40px;
    padding-left:12px;
    background-color:#F2F2F2;
  }
  .box-body{
    padding:17px 29px;
    .tip-box{
      padding:12px 30px;
      border:1px solid #ddd;
      background:#F5F5F5;
      li{
        line-height:20px;
        list-style:disc;
      }
    }
    form[name=accInfoForm]{
      padding:15px 15px 0 15px;
      .info-box{
        position:relative;
        &>li{
          padding-bottom: 13px;
          label{display:inline-block;width:67px;line-height:17px;vertical-align:middle;margin-right:17px;text-align:right;}
          input{width:260px;}

        }
      }
      .select-box{width:262px;}
    }

    .prompt {
      color: $red_ED9;
      position: absolute;
      left: 84px;
      bottom: -20px;
      display: none;
      i {
        background-position: -178px -22px;
      }
    }
  }
  .submitBox{
    margin-left:130px;width: 260px;margin-top: -10px;
    span.ok.disabled{
      background: #C4C4C4;
      border: 1px solid #C4C4C4;
      color: #fff;
    }
  }
  span.ok{
    width:280px;
  }
}
.footerWap{display: none;}

