@import "settings.scss";
.box{
  content: 'what';
}
.login-view{
  .bg{
    background:#F2F6F7;
  }
  .wrapper{
    height:494px;
    background:url(../images/lg_img.png) 0 0 no-repeat;
  }
}

.item_list{
  .standard{
    border: 2px solid $bdrc_48B;
    h2{
      background-color: $white;margin: -15px 0;display: inline-block;position: relative;top: -8px;
    }
    p{
      background-color: $white;display: inline-block;position: relative;bottom: -14px;padding: 0 10px;
    }

  }
}
