@import "settings.scss";
$conWidth:1600px;
@media only  screen and (min-width: 1920px){
  .header ul,.container,.item{ width:$conWidth; margin: 0 auto }
  .container{ margin-top: 60px;}
  .leftMenu nav{left: 50%; margin-left: -$conWidth/2;}

}

@media only  screen and (min-width: 1440px) and (max-width: 1920px){

}
@media only  screen and (max-width: $winW_1440 - 1px){
  .health aside,.info_list .lr_list figure img{width: 30%;}
  .health_detail,.health_list,.info_list .lr_list figure figcaption{width: 68%;}

  .item_list{
    .department_list{
      li{height: auto;}
    }
  }
}
//@media only  screen and (min-width: $winW_1366) and (max-width: 1439px){
@media only  screen and (min-width: $winW_1366) and (max-width: $winW_1440 - 1px){
  $wrapperWidth:980px;
  .wrapper{width: $wrapperWidth}
  .home{margin-left:-$wrapperWidth/2 }
  .item_list .pic_list{
    li{width: 315px;
      //h4{line-height: 40px;height: 40px;}
    }
  }
  .rightNav{margin-right: -660px;}
  .health aside{width: 30%;}
  .health_detail,.health_list{width: 68%;}
}

@media only screen and (min-width: 1280px) and (max-width: 1365px){
  $wrapperWidth:900px;
  .wrapper{width:$wrapperWidth}
  .home{margin-left:-$wrapperWidth/2 }
  .item_list{
    .pic_list{
      li{width: 288px;
        //h4{line-height: 40px;height: 40px;}
      }
    }
    .department_list{
      li{height: auto;}
    }
  }
  .rightNav{margin-right: -610px;}

  .health aside{width: 30%;}
  .health_detail{width: 65%;}
}







@media only screen and (min-width: $win_1024) and (max-width: $winW_1280 - 1px){
  .banner dl {
    h3{padding-top:5px;font-size:18px;}
    p{padding:0 0 5px 50px;}
  }

  $wrapperWidth:800px;
  .wrapper{width:$wrapperWidth;}
  .home{margin-left:-$wrapperWidth/2 }
  .item_list{
    .pic_list{
      li{width: 255px;
        //h4{line-height: 40px;height: 40px;}
      }
    }
    .standard{
      p{bottom: -25px;margin:0 50px -15px;}
    }
  }
  //.rightNav{margin-right: -610px;}

  .rightNav{
    width:120px;margin-right: -530px;
    ul{
      .lineBg{
        height: 11px;
      }
      li{
        img{width: 100%;}
      }
    }
  }
  .header .slogan{
    margin-left: 20px;width: 320px; display: inline-block;
    img{width: 100%;}
  }

  .health aside{width: 30%;}
  .health_detail{width: 65%;}
  .footer dl{
    dt{width: 70%;}
    dd{width: 25%;
      p{width: 80%;}
    }
  }

}

@media only screen and (min-width: $win_768) and (max-width: $win_1024 - 1px ){

  .wrapper{width: auto;margin:0 20px;}
  .positon{margin-bottom: 10px;}

  .home{width: auto;left: auto;right: 0px;
    //.nav{left: 10px;top:140px;}
  }

  .banner dl p{font-size: 14px;}
  .item_list{
    .pic_list{
      ul{
        margin-left: -1.3%;
        li{width: 32%;margin-left: 1.3%}
      }
    }
    .standard{
      p{bottom: -25px;margin:0 50px -15px;}
    }
  }
  .rightNav{display: none;}


  .health aside{width: 30%;}
  .health_detail{width: 65%;}
  .footer dl{
    dt{width: 70%;}
    dd{width: 25%;
      p{width: 80%;}
    }
  }

  /*诊疗服务列表*/
  .treat-name{font-size:18px;}
  .outpatient{
    img{width:50%;}
    .outpatient-info{
      width:46%;
    }
  }
  .reg-doc-list{
    .btn{
      display: inline-block;line-height:25px;background-color:#fff;border: 1px solid;border-radius: 5px;padding:0 10px;
    }
    .btn.btn-disabled{
      color:$bdrc1;
    }
    .btn.btn-primary{
      color:$textc_48B;
    }
    .title{
      margin:20px;
      .vertical{vertical-align: middle;}
      span{
        vertical-align: middle;}
    }
    .doctor-info{
      padding:10px 20px;
      color:#fff;
      background-color:#48BED8;
      .doctor-name{
        font-size:18px;
        margin-right:10px;
      }
    }
    .reg-list{
      text-align:left;
      margin-bottom:10px;
      li{
        line-height:30px;
        padding:8px 20px;
        .btn{
          color:$textc_48B;
        }
        &.disabled{
          color:$bdrc1;
          .btn{
            color:$bdrc1;
          }
        }
      }
    }
  }

  .header .slogan{
    margin-left: 20px;width: 310px; display: inline-block;
    img{width: 100%;}
  }
}
//最大为768px
@media only screen and (max-width: $win_768){
  *{font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif,"微软雅黑";}
  //*{font-family:'HanHei SC','Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif,"微软雅黑";}
  body{font-size: 16px;}
  .userAgreement{font-size: 16px;
    h3{font-size: 18px;}
  }
  .icon{vertical-align: inherit;}
  .pagination{
    padding: 0px;
    i{vertical-align: top;}
  }
  .header{
    .wrapper{width: $win_768}
  }
  .home .wrapper{width: auto;}
  .wrapper{width: auto;margin:0 10px;overflow: hidden;width:$win_768;box-sizing: border-box; }
  .banner{width:$win_768;}
  .item_list header{
    padding-top: 20px;
    h2{
      //font-size: 24px;
      line-height: 40px;height: 40px;padding-bottom: 0px;font-weight:500;
      i{top: auto;height: 18px;}

    }
    p{font-size: 15px;color: $textc_333;font-weight: 300;}
  }
  .banner dl{display: none;}
  .home{
    position: static;top: auto;left: auto;margin:0 auto ;
    .nav{position: static;width: 100%;border-radius:0px;}
  }


  .nav ul li{
    font-size: 17px;margin-left: 0px;
  }
  .report{
    margin-top: 20px;
    header{padding-bottom: 0px;}
    ul{
      label{padding: 10px 0 0 0}
      li{
        width: 100%;
        input{width: 100%;box-sizing: border-box;}
      }
      .submitBtn{position: static;width: 100%;box-sizing: border-box;margin-top: 20px;}
      .getCode{right: 0px;height: 36px;line-height: 36px;}
    }
  }

  .item_list {
    .pic_list{
      ul{
        margin-left: -1.3%;
        li{width: 32%;margin-left: 1.3%;}
      }
    }

  }


}

@media only screen and (width: $win_768){

  .home{width: auto;left: 0px;
    .nav{left: 10px;top:140px;}
  }

}

@media only screen and (max-width:$win_768 - 1px){
  .header .slogan{
    margin-left: 20px;width: 320px; display: inline-block;
    img{width: 100%;}
  }
}

