@import "settings.scss";
@media only screen and (max-width:$win_768 - 1px){

  .btn{
    display: inline-block;line-height:25px;background-color:#fff;border: 1px solid;border-radius: 5px;padding:0 10px;
  }
  .btn.btn-disabled{
    color:$bdrc1;
  }
  .btn.btn-primary{
    color:$textc_48B;
  }
  .login-view{margin-bottom:0;}
  .loginCom{
    padding-bottom: 30px;
    .bd{
      ul{width:auto;}
      .prompt i{vertical-align: top;}
    }
    .submitBox .ok{font-size: 18px;}
  }

  #allmap{display: none;}
  .positon{margin-bottom: 10px;display: none;}
  .nav{
    height: 80px;line-height: inherit;width: auto;
    ul {
      li{
        &.on,&:hover{background-color:$navBgWapOnColor; }
        &.index{display: none;}
        &:last-child{
          i{display: inline-block;}
        }
        a{
          padding:45px 0px 0;position: relative; font-size: 14px;
        }
        p{display: block;margin: 5px 0 -3px;}
        i{display: inline-block;width: 30px;height:30px;float: none;position: static;border: none;background:url('../images/icon.png');background-size:480px;margin: 0px;
          position: absolute;left: 50%;top: 15px;margin-left: -15px;
          &.n01{background-position:0px -833px}
          &.n02{background-position:-46px -833px}
          &.n03{background-position:-88px -833px}
          &.n04{background-position:-134px -833px}
          &.n05{background-position:-179px -833px }
          &.n06{background-position:-222px -833px}
          &.n07{background-position:-266px -833px}

          //&.n01{background-position:0px -1024px}
          //&.n02{background-position:-57px -1024px}
          //&.n03{background-position:-108px -1024px}
          //&.n04{background-position:-166px -1024px}
          //&.n05{background-position:-220px -1024px }
          //&.n06{background-position:-273px -1024px}
          //&.n07{background-position:-328px -1024px}


          //&.n01{background-position:2px -1142px}
          //&.n02{background-position:-62px -1142px}
          //&.n03{background-position:-118px -1142px}
          //&.n04{background-position:-184px -1142px}
          //&.n05{background-position:-244px -1142px }
          //&.n06{background-position:-302px -1142px}
          //&.n07{background-position:-366px -1142px}
        }
        &:hover{
          //i{background-image:url('../images/icon.png');background-size: 600px;}
        }
      }
      i{display: none;}
    }
  }

  .swiper-container{
    .swiper-wrapper {
      position: relative;
      //width: 80%;
      height: 100%;
      margin: 0 auto;
      z-index: 1;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      -ms-transition-property: -ms-transform;
      transition-property: transform;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }

    .swiper-container {
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      /* Fix of Webkit flickering */
      z-index: 1;

    }
    .swiper-slide {
      -webkit-flex-shrink: 0;
      -ms-flex: 0 0 auto;
      flex-shrink: 0;
      width: 25%;
      height: 100%;
      position: relative;
      text-align: center;
      display: block;
      ////flex: 0 0 auto;;
      //width: 25%;display: block;
      //text-align: center;
    }
    /* Arrows */
    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 50%;
      width: 18px;
      height: 20px;
      margin-top: -11px;
      z-index: 10;
      cursor: pointer;
      //-moz-background-size: 27px 44px;
      //-webkit-background-size: 27px 44px;
      //background-size: 27px 44px;
      background-size: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: none;
    }
    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
      opacity: 0.35;
      cursor: auto;
      pointer-events: none;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      background-image: url("../images/menu_l.png");
      left: 3px;
      right: auto;
    }
    .swiper-button-prev.swiper-button-black,
    .swiper-container-rtl .swiper-button-next.swiper-button-black {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
    }
    .swiper-button-prev.swiper-button-white,
    .swiper-container-rtl .swiper-button-next.swiper-button-white {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      background-image: url("../images/menu_r.png");    right: 3px;
      left: auto;
    }
    .swiper-button-next.swiper-button-black,
    .swiper-container-rtl .swiper-button-prev.swiper-button-black {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
    }
    .swiper-button-next.swiper-button-white,
    .swiper-container-rtl .swiper-button-prev.swiper-button-white {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    }
  }
  $loginW:120px;

  .header{
    height: 60px;line-height:60px;margin: 0px;float: left;
    .slogan,.tel{display: none;}
    .logo{width: $loginW;height: auto;}
  }

  .header{
    .wrapper{width: auto;}
  }

  .banner, .nav, .footer, .copyright,.wrapper{width: auto;}
  .banner{
    img{width: 100%}
  }
  .banner{
    .slidesjs-pagination{bottom: 0px;
      span,a{width: 8px;height: 8px;margin: 0 5px;}
    }

  }
  .topBar{
    height: 0px;position: relative;margin-left:$loginW+20px;width: auto;
    .wrapper{overflow: inherit;width: auto;}
  }
  .noMP{padding: 0px;margin: 0px;}
  .topBar_info{
    .city-name{position: absolute;left:0px;top: 12px;}
    .devidel,.loginBtn{display: none;}
    .cartBtn{
      margin-right: 10px;position: relative;top:14px;
      i{background:url("../images/top_car.png") no-repeat 0 0;width: 26px;height: 25px;background-size: 100%;top:7px;}
      font-size: 16px;
      span{}
    }
    .accountInfo{display: block;}
    .wapUser{width:17px;position: relative;top:20px;margin-right: 10px;display: inline-block;
      img{width: 100%}
    }
    aside{display: none;position: absolute;right:48px;border: 1px solid $bdrc_ddd;padding:0 10px;background-color: $white;margin-top:16px;border-radius: 3px;
      a{display: block;padding:0 10px;
        border-bottom:1px solid $bdrc_ddd;margin-bottom: -1px;
      }
      .arrow{
        position: absolute;
        top:-26px;
        left:42px;
        width: 0;
        height: 0;
        border-width:13px 10px;
        border-color:#ddd;
        border-style: solid;
        border-right-color:transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        border-radius: 3px;
        &:after{
          content:'\00a0';
          position:absolute;
          width: 0;
          height: 0;
          right: -9px;
          top: -12px;
          border-width:13px 9px;
          border-color:#fff;
          border-style: solid;
          border-right-color:transparent;
          border-left-color: transparent;
          border-top-color: transparent;
        }
      }
    }
  }

  .home{
    .wrapper{width: 86%;}
  }

  .swiper-container{height: 100%;overflow: hidden;margin: 0 auto;width: 86%;}
  .lr_list figure {
    h4{font-size: 18px; padding:0; margin-bottom: 5px;border-bottom: none;
      a{color: $textc_48B;}
    }
    font-size: 16px;
  }

  .cart .empty-cart .empty-cart-box{height: 160px;}
  .tab{
    img{margin-top: 15px;}
    ul li{
      margin-right: 20px;
      a{padding: 0px 2px;border: none;border-radius: 0px; line-height: 32px;font-size: 18px;}
      &.on{
        a{border-bottom: 2px solid $bdrc_48B;}
      }
    }
  }
  .item_list {
    padding-bottom:50px;
    header{
      h2{font-size: 22px;}
    }
    .standard_header{
      h2,p{background:none;color: $white; position: static;}
      p{position: static;}
    }
    .pic_list{
      ul{margin-left: -3%;
        li{width: 47%;margin:20px 0 0 3%;height: auto;
        //li{width:auto;margin:20px 0 0 3%;height: auto;border: 1px solid $bdrc_ddd;float:none;display: block;
          a{
            h4{
              line-height: 30px;height: 30px;font-size: 16px;
            }
          }
          p{color: $textc_333;margin:10px 0 0;height: 36px; line-height:18px;overflow: hidden;}
          .price{
             padding-top: 5px;
            .new{}
            .old{}
          }
        }
      }

      .more{margin-top: 30px; font-size: 16px; padding: 4px 20px; }
    }
    .goods_list{
      ul{
        margin: 0px;
        li{
          width: 100%;margin-left: 0px;
          img{width: 30%;float: left;margin-right: 10px;}
          a{
            color: $textc_48B;
          }
          h4{display: inline-block;background: none;width: auto;height:30px;line-height: 30px;}
          p{height: 24px;margin: 0px;white-space: nowrap; text-overflow: ellipsis;margin-right: 5px; }
          .price{
            padding-top: 20px;
            span.old{position: static;}
          }
        }
      }
    }
    .feature{
      margin: 0px;text-align: center;
      figure{
        width: 32.5%;margin: 0 auto;float: none;display: inline-block;vertical-align: middle;
        figcaption{
          height: 48px;
        }
        span{width: 70px;height: 70px;background-size:455px;
          &.s01{
            background-position: 0px 0px;
            &:first-of-type,&:hover{background-position: 0px -84px;}
          }
          &.s02{
            background-position: -84px 0px;
            &:hover{background-position: -84px -84px;}
          }
          &.s03{
            background-position: -174px 0px;
            &:hover{background-position: 174px -84px;}
          }
          &.s04{
            background-position: -260px 0px;
            &:hover{background-position: -260px -84px;}
          }
          &.s05{
            background-position: -340px 0px;
            &:hover{background-position: -340px -84px;}
          }
        }
      }
    }
    .department_list{
      margin: 30px 0 0;
      ul{
        li{
          width: 100%;margin: 0px;
          //border: none;padding-bottom: 10px;
          //h4{margin: 0px;background: none;display: block;position: static;color: $textc_48B;font-size: 22px;font-weight: normal;text-align:left;padding-left: 20px;}
          //p{padding-left: 20px;}
          img{width: 50%;float: left}
          h4{width: 50%;float: left; display: block;border-radius: 0;color: $bgc_48B;font-size: 16px;min-height: 104px;line-height: 104px;
            font-family: "微软雅黑";
            &.bgGray{background:$bgc_gray_F3;}
          }
        }
      }
    }
    .standard{
      border: none;
      h2{margin: 0 auto;background:none;;color: $white;}
      p{position: static;background:none;color: $white;}
    }
    .standard ul {
      text-align: center;margin: 0px;padding-top: 25px;
      li{
        width: 20%;float: none;margin: 0;
        //display: inline-block;
        float: left;
        p{display: none;}
        figure {
          padding: 0 13px;
          img{width: 100%;height: auto;}
          figcaption{
            padding-top: 0px;font-size: 16px;margin-top: -5px;
          }
          em{padding:5px 0 10px;color: $white;font-size: 14px; display: none;}
        }
      }
    }
  }
  .standard_wrapper{
    background-color: $bgc_48B;color: $white;
    //margin-bottom: -50px;
    padding-bottom:60px ;padding-top: 10px;
  }
  .treat_list{
    //background-color: $bgc_gray_F5;
    margin: -10px 10px 0 10px;
    ul{
      li{
        background-color: $white;
      }
    }
  }
  //.boxBg{background: none;}
  .goods_basic{
    .wrapper{overflow: visible;}
  }
  .goods_basic dl {
    dt,dd{
      width: 100%;
    }
    dd{
      .service_type{margin: 0px;}
    }
    .submitBox{padding-top: 10px;
      margin-left: -10px;
      .submitBtn{margin:0 0 0 3%;width: 46%;padding: 0px;}
    }
  }
  .goods_detail .tab{
    a,span{font-size: 18px;width: 30%;text-align: center;padding: 0px;margin: 0 0 0 2.3%}
  }
  .health_list{
    width: 100%;
    header{
      padding: 0px;
      h2{background: none;padding: 0px;border-bottom: 2px solid $bdrc_48B;color: $textc_48B;font-size: 24px;
        i{display: none;}
      }
    }
    .lr_list figure img{
      width: 160px;margin-right: 10px;
    }
  }
  .agencys_com{
    *{font-size: 14px;font-family:'微软雅黑';}
    ol{padding-left: 22px;}
  }
  .health aside{width: 100%}
  .health_detail{width: 100%;
    article,p{font-size: 18px;}}

  .agency_box{
    padding: 0 0 20px ;
    .agency_nav{
      float: none;;width: auto;height: 42px;overflow: hidden;
      span{display: inline-block;width: 14.28%;float: left;display: block;position: relative;
        a{width:auto;display: block;
          &.on{background: none;border-bottom: 2px solid $bdrc_48B;color: $textc_48B;}
        }
      }
      .swiper-wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        -ms-transition-property: -ms-transform;
        transition-property: transform;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        .swiper-slide {
          -webkit-flex-shrink: 0;
          -ms-flex: 0 0 auto;
          flex-shrink: 0;
          width: 100%;
          height: 100%;
          position: relative;
          text-align: center;
        }
      }
    }
    .lr_list{
      width: auto;float: none;border: none;font-size: 100px;
      //border-top: 1px solid $bdrc_48B;
      padding:0;
      figure{
        padding-top: 10px;
        h4{padding: 0px;margin: 0px;height: 30px;line-height:30px;background-color:$bgc_48B;color: $white;text-align: center;}
        .pic{
          float: left;width: 30%;
          img{float: none;width: 100%;margin: 0px;}
        }

        p{line-height: 22px;height: 44px;overflow: hidden; font-family: 'Arial', '微软雅黑';font-size: 13px;}
        aside{display: none;}
        .more{margin-top:4px;}
      }
    }
  }

  .footer{
    padding-top: 30px;
    padding-bottom: 20px;
    dl{
      width: 100%;
      dt,dd{width: 100%}
      dt{
        text-align: center;
        img{float: left;padding-right:20px;margin:0 0 10px;background-color: $bgc_fbg;position: relative;width: 120px;}
        //.area{padding-bottom: 20px;margin-left:-25px;display: inline-block;}
        p{padding-top:0px;}
        .area{padding-bottom: 20px; display: none;}
      }
      dd{padding: 0px;border-top:1px solid $bdrc_2b;padding-top: 10px;border-left: none;display: none;
        h4{font-size: 22px;}
        p i{position: relative;top: 5px;}
      }

    }
    .qrcode{width: 100%; padding-top: 25px;text-align: center;
      .weixin{display: inline-block;}
      h4,strong{display: none;}
      figure{width:auto;margin: 0px 4%;overflow: hidden;vertical-align: top;}
    }
  }
  .nav{

    /* Arrows */
    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 50%;
      width: 18px;
      height: 20px;
      margin-top: -11px;
      z-index: 10;
      cursor: pointer;
      //-moz-background-size: 27px 44px;
      //-webkit-background-size: 27px 44px;
      //background-size: 27px 44px;
      background-size: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: none;
    }
    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
      opacity: 0.35;
      cursor: auto;
      pointer-events: none;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      background-image: url("../images/menu_l.png");
      left: 3px;
      right: auto;
    }
    .swiper-button-prev.swiper-button-black,
    .swiper-container-rtl .swiper-button-next.swiper-button-black {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
    }
    .swiper-button-prev.swiper-button-white,
    .swiper-container-rtl .swiper-button-next.swiper-button-white {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      background-image: url("../images/menu_r.png");    right: 3px;
      left: auto;
    }
    .swiper-button-next.swiper-button-black,
    .swiper-container-rtl .swiper-button-prev.swiper-button-black {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
    }
    .swiper-button-next.swiper-button-white,
    .swiper-container-rtl .swiper-button-prev.swiper-button-white {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    }

    .swiper-button-prev, .swiper-button-next{display: block}
  }
  .login-view .wrapper{background-size: 100%;height: auto;background: none;}
  .loginCom{float: none;margin:10px auto 0;padding-top: 0px;}
  .copyright{height: auto; line-height: 30px;margin-bottom: 50px;
    a{display: inline-block;}
  }
  .rightNav{display: none;}
  .recommend{
    h2{padding-bottom: 10px;}
    ul{width: 100%;
      li{width: 100%;}
    }
  }

  .userBox{
    margin: 0 auto 0px;overflow: visible;
    aside{width: 100%;padding:0 0 20px 0px;margin: 0px;position: relative;}
    .box-right{width: 100%;overflow: hidden;}
    .user-main{display: none;}
  }
  .users nav{display: none;}
  .left-nav-tit{
    height: 50px;line-height: 50px;background-color: $navBgColor;position: relative;z-index: 9;
    a,a.on{color: $white;font-size:22px;}
    h2{height: 50px;display: block;padding-left: 10px;color: $white; font-size: 18px;
      i{
        background-color: $white;border-radius: 100%;height: 30px;width: 30px;margin:-6px 5px 0 0;vertical-align: middle;background-size: 720px;
        &.t1{background-position:-27px -40px;}
        &.t2{background-position:-58px -37px;}
        &.t3{background-position:-87px -39px;}
        &.t4{background-position:-117px -34px;}
      }

    }
    .nav_toggle{
      position: absolute;right: 10px;top: 14px;float: right;width: 25px;height: 25px; display: block;
      span,span:before,span:after{
        border-radius: 1px;
        height: 3px;
        width: 25px;
        background: white;
        position: absolute;
        display: block;
        content: '';
      }
      span{
        &:before{top: 9px;}
        &:after{top: 18px;}

      }
      &.active{
        span{
          //transform: rotate(-45deg);
          //display: none;
          height: 0px;
          &:before{
            @include transition(all .3s);
            top:13px;
            @include transform(rotate(45deg));
          }
          &:after{
            @include transition(all .3s);
            top:13px;
            @include transform(rotate(-45deg));
          }
        }

      }
    }
  }
  .userBox aside{
    float: none;
    .left-nav{
      background-color: $navBgColor;width: 100%;box-sizing: border-box;padding-top: 0px;padding-bottom: 20px;
      position: absolute;left: 0px;display: none;
      li{
        padding: 0px;
        a{color: $white;display: block;border-bottom: 1px solid $white;
          &:hover{color: $textColor;}
        }
      }
    }
  }

  .active{
    .left-nav{display: block;}
    .nav_toggle{
      span{
        //transform: rotate(-45deg);
        //display: none;
        height: 0px;
        &:before{
          @include transition(all .3s);
          top:13px;
          @include transform(rotate(45deg));
        }
        &:after{
          @include transition(all .3s);
          top:13px;
          @include transform(rotate(-45deg));
        }
      }
    }
  }
  .reservation.box-right dl.order{
    .goods{
      width:100%; margin-bottom: 10px;
      .goods-detail{margin:0px;}
    }
    .detail{width: 100%;display: none;}
    .operation{width:auto;background-color: $white; padding: 10px 10px 10px 0;margin: 0px;float: none;display: block;text-align: right;
      p{margin: 0px 0 0 10px;}
    }
    .order-state{position: absolute;right:0px;top: 5px;width: auto;border: none;
      p{display: block;margin: 0px;float: right;}

    }
    dt{
      span{display: block}
    }
  }
  .order-success .order-box .box-right{background: none;margin-left: 120px;}
  .box-right{
    background-color: $bgc_F7;
    .order{

      border-left: none;border-right: none;position: relative;
      dt{
        background: $white;border-bottom: none;
        .date-time{display: none;}
      }
      dd{
        overflow: visible;background-color: $white;margin-top: -5px;
        .col{margin: 0px;padding: 0px;
          *:last-child:not(.row){margin-bottom: 0px;}
        }
        .goods{width: 100%;margin: 0px;
          .row + .row{border-top: none;}
          .row{background-color: $bgc_F7;margin-top: 5px;padding: 10px;position: relative;}
          .row-col{padding: 0px;}
          .goods-detail{width: 100%;
            img{width: 30%;margin-right: 10px;}
            h5{float: none;width: auto;font-size: 18px;}
          }
          .goods-others{position: absolute;left:33%;top:60px;width: auto;display: none;
            p.text-stress{display: none;}
          }
          .text-sec{display: block;top: 40px;
            span.text-stress{color: $white;background-color: $text_red_f2;padding: 3px 10px;}
          }
          .reservation{position: absolute;left: 10px;bottom: 15px;width: auto;
            a{
              border: 1px solid $bdrc1;display: block;border-radius: 5px;padding: 3px 8px
            }
          }
          .reservation_detail{position: absolute;bottom: -77px;top: auto;}
          .text-main{display: none;}
        }
        .col + .order-state{border-left: none}
        .order-state{
          box-sizing: border-box;
          width: 100%;border-left:none;border-bottom: 1px solid $bdrc_f2; margin:0 10px 10px 10px;padding:5px 10px;
          p{display: none;}
          .time_wrapper{display: block;}
          .realCost{display: block;float: right;padding-right: 10px;
            em{color: $text_red_F1;}
          }
          .state-info{position: absolute;right: 10px;top:10px;display: block;border-bottom: none;}
        }
        .operation{width: 100%;margin-bottom: 15px;text-align: right;
          p{ float: none;margin-right: 10px;display: inline-block;
          }
          a{border: 1px solid $bdrc1;display: block;border-radius: 5px;padding: 3px 8px}
          .topay a{color: $text_red_F1;}
        }

      }
    }
  }
  //完善信息
  .complete-dialog{
    width: 100%;
    .box-body{
      padding: 17px 10px 0 10px;
      .tip-box{padding-right: 10px;}
      form[name=accInfoForm]{padding: 10px 0;
        .select-box{width: 160px;}
        .info-box > li{
          label{height: 20px;}
          input{width: 160px;}
        }
      }
    }
    .submitBox{margin-left: 30px;}
    span.ok{width: 160px;}

  }
  //账号信息
  .accountBox aside,.account{background: none;}
  .account{
    .select-box{width: 60%;}
    .btn-box .submitBtn{margin:10px 0 0 0px;font-size: 18px;}
  }
  .account{
    .info-box > li{
      label{width: 80px;margin-right: 10px;}
      input{width: 60%;font-size: 16px;-webkit-appearance: none;}
    }
    .btn-box{
      margin-left: 92px;width: 60%;
    }
    .prompt{top:-15px;}
  }
  .table tbody td{padding: 10px;}
  //-我的订单
  .detail-wap{
    h3{font-size: 18px;padding:10px;position: relative;
      .orderState{float: right;position: absolute;right: 10px;top: 10px;}
    }
    dl{
      margin-bottom: 5px;background-color: $bgc_F7;padding: 10px;
      dt{
        position: relative;
        img{width: 20%;float: left;margin-right: 10px;}
        span{padding: 3px 10px;}
        .text-sec{background-color: $bgc_ccc;color: $text_gray_59}
        .text-stress{background-color: $text_red_f2;color: $white;}
        .dealPrice{position: absolute;right:0px;top:0px;padding: 0px;}
        p{margin-right: 80px;}

      }
      dd{
        clear: both;padding-top: 10px;
        p{line-height: 30px;}
      }
    }
    .price-text{
      text-align: right;padding:0 10px;
      line-height: 30px;
    }
    .area{
      margin: 10px 0;padding:10px;text-align: right;
      border-top: 10px solid;border-bottom: 15px solid;
      border-color: $bgc_F7;line-height: 30px;
      .check-report{
        @include btn(#fff, #ddd, #4A4A4A, #4A4A4A,#ddd);
        font-size: 14px;border-radius: 5px;float: right;margin: 0px;padding:0 5px;
      }
    }
    .totalCost{padding: 0 10px 10px 0}
    .topay{
      .btn{
        background-color: $bgc_red_ED9;border-color:$bdrc_ED9;display:block;margin: 0 10px 10px;line-height:40px;color:$white;text-align:center;box-sizing: border-box;border-radius: 3px;
      }
    }

  }
  .reservation-detail{
    .detail-wap{
      .area{
        text-align: left;
      }
      .price-text{text-align: left;}
      dt{
        p{color: $text_red_f2;margin: 0px;}
        span{padding: 0px;}
      }
    }
  }
  .main-box{margin: -10px 0 -50px 0;
    .cart{
      margin-bottom: -50px;
      .table-div{
        .border-default{background-color: $bgc_gray_F3;padding: 20px 0 80px}
      }
    }

  }
  .confirm-buy-wrapper{
    margin: -10px 0 -50px 0;
    .table-div .back-sec .submit-div{
      background-color: $bgc_gray_F3;padding: 20px 10px 50px;
    }
  }
  .order-success-wrapper{
    margin: -10px 0 0;
    .order-success{
      .list-info{margin: 10px;}

    }
  }
  .pay-success-wrapper{
    margin: -10px 0 0;
    .order-num-price span{display: block;}
  }
  //-我的报告
  .registerings{
    dl{
      line-height: 30px;margin-bottom: 10px;border-bottom: 1px solid $bdrc_ddd;
      h3{padding: 10px;background-color: $white;font-size: 18px;position: relative;
        .status{float: right;position: absolute;right: 10px;top: 10px;}
      }
      dt{
        padding: 10px;
      }
      dd{background-color: $white;padding: 10px;
        a{float: right;border:1px solid $bdrc1;padding: 0px 20px;border-radius: 5px;}
        p span.cost{padding-left: 10px;}
        .text-stress{
          background-color: $bgc_red_ED9;color: $white;padding: 0 5px;
        }
      }


    }

  }
  //-优惠券
  .coupons{
    aside,.box-right{
      background-color:$white;
    }
    .get-coupon{
      padding:0 10px;
      .tit{display: none;}
      input{font-size: 18px;width: 80%;box-sizing: border-box;border-radius: 5px;}
      .code-box{
        margin: 0px;
        .add-coupon{font-size: 20px;width:20%;float: right;padding: 0px; margin-left:-10px;height: 36px;background: none;color: $textColor;border: none;}
      }
    }
    .coupon-state{border-top: 1px solid $bdrc_ddd;margin-top: 10px;box-shadow: 0px 4px 9px 0px #DEDEDE}
    .coupon-state li{
      border-bottom: 1px solid $bdrc_ddd;padding: 0px;width: 33.3%;text-align: center;line-height: 50px;
      &.on{border-bottom:2px solid $bdrc_48B; }
    }
    .table-bordered{
      border: none;
      thead{display: none;}
    }
    .coupon-list_wap{
      li{
        border-bottom: 10px solid $bgc_F7;box-shadow: inset 0px -1px 0 0 $bdrc_ddd;padding: 10px;
      }
      h4{font-size: 20px;color: $text_red_F1;}
      p{}
    }
    .table {
      margin: 0px;
      tbody{
        tr{
          border-bottom: 10px solid $bgc_F7;box-shadow: inset 0px -1px 0 0 $bdrc_ddd;display: block;padding: 10px 0px;
          &:nth-child(even){background: none;}
          td{display: block;
            padding: 5px 10px;
            &:nth-child(1){
              font-size: 20px;color: $text_red_F1;
            }
            &:nth-child(2){
              &:before{
                content:'限用条件：'
              }
            }
            &:nth-child(3){
              &:before{
                //content:'适用范围：'
              }
            }
            &:nth-child(4){
              &:before{
                content:'有效期：'
              }
            }
          }
        }
      }
    }
  }

  .cart,.confirm-buy,.order-success,.pay-success{
    .trade-step{background-color: $bgc_gray_F3;margin: 0px;padding: 20px 0 10px;
      .step-wrapper span{position: relative;z-index: 1;}
    }
  }
  .confirm-buy{
    header{display: none;}
    .list-info{
      margin: 10px 0 0;border-bottom: 1px solid $bdrc_ddd; padding:0 0 5px 10px;
    }
    .coupon-table{
      thead{display: none;}
      tbody{
        tr{
          display: block;padding: 0 10px;
          td{display: block;padding: 5px 10px 5px 30px;
            &:nth-child(1){
              position: relative;margin: 0 0 -38px -28px;z-index: 2;
            }
            &:nth-child(2){
              font-size: 20px;color: $text_red_F1;
            }
            &:nth-child(3){
              &:before{
                content:'限用条件：'
              }
            }
            &:nth-child(4){
              &:before{
                //content:'适用范围：'
              }
            }
            &:nth-child(5){
              &:before{
                content:'有效期：'
              }
            }
          }
        }
      }
    }
    .coupon-trigger{
      border-top: 10px solid $bdrc_ddd;padding-top: 5px;
      .icon{position: relative;}
    }
    .table-div{
      .tfoot{background-color: $white;color: $textColor;margin-top: 20px;
        .service-area{float: right;margin: -20px 10px 20px 0}
      }
    }
    .code-box{
      margin-left: 10px;
      .back-sec{
        display: inline-block;border: none;font-size: 16px;
      }
      input{width: 80%;box-sizing: border-box;}
    }
    .coupon-box{border-bottom: 10px solid $bdrc_ddd;padding-bottom: 15px;}
  }
  .table-div{margin-bottom: 50px;}
  //购物车
  .back-sec{display: none;}
  .cart{
    header{display: none;}

    .list-info{
      margin: 10px 0 0;border-bottom: 1px solid $bdrc_ddd; padding:0 0 5px 10px;
    }
    .table-div{margin-bottom: 0px;}
    .empty-cart{margin: 30% 0;
      .empty-cart-box img{width: 70px;height: auto;margin: 20px 0 0 -20px}
      .text{margin-right: 20px;}
    }
  }



  .table-div{
    .table-tr{
      border-bottom: 1px solid $bdrc_ddd;padding-bottom: 5px;
      .check{width: 30px;}
      .name{width:auto;float: none;
        span{float: none;}
        img{width: 25%;}
      }
      .info{clear: both;width: 100%;padding: 10px 0 0 30px;line-height: 30px;}
      .price{padding: 0 10px;width: auto;}
      .tot-price{display: none;}
      .operation{width: auto;position: absolute;right: 0px;top: 0px;}
    }

    .back-sec{display: block;margin-top: 50px;
      position: relative;
      .submit-div{width: 100%;padding: 0 10px;}
      .price-text{position: absolute;width: auto;border-bottom: 1px solid $bdrc_ddd;top:16px;right: 0px;height: 45px;line-height: 45px;width: 100%;padding-right: 10px;}

    }
    .border-default{
      border: none;background: none;
      .price-text{
        top: -45px;
      }
    }
    .thead {display: none}
    .tfoot .submit-div{
      input{background: none;-webkit-appearance: none;}
      .btn{
        //background-color:$bgc_red_ED9;
        background-color: #DDDDDD;
      }
      .back-stress{background-color: $bgc_red_ED9}
    }

  }
  .order-success .order-box, .pay-success .order-box{
    box-sizing: border-box;width: auto;margin: 10px;
    i.success{left: 20px;}
    .order-box-right{
      margin: 40px 10px 40px 105px;
    }
    .timer-box .timer{display:block;}
  }
  .confirm-buy .goods-list{
    margin-bottom: -10px;
    thead{display: none;}
    tbody{
      tr{display: block;position:relative;padding: 10px 10px 0;
        td{display:table;
          img{width:25%;}
          span{width: auto;float: none;}
          p{display: block;line-height: 32px;font-size: 16px;}
          &:nth-child(2){position: absolute;right:15px;top:10px;}
          &.text-stress{line-height: 40px;display: none;}
        }
      }
    }
  }

  .trade-step{
    .step-wrapper{
      position: static;width: 32%;
    }
    .line{width: 32%;z-index:0;top: 41px;}
    .line2{left: 52%;}
  }
  .order-success{
    .pay-way{
      padding:0 10px;
    }
    .pay-box{
      width: 47%;box-sizing: border-box;margin: 0px;
    }
    .alipay{margin-left: 3%;}
    //.alipay{float: right;}
  }
  .abouts{
    margin: 0px;
    h2{padding: 10px 0}
    article{padding: 0px 10px;}
  }

  .footerWap{position: fixed;display:block;background:rgba(0, 0, 0, 0.79);bottom: 0px;left: 0px;z-index: 99;width: 100%;height:50px;line-height:50px;color: $white;
    a{font-size:26px;color: $white;padding-left: 15px;
      //font-family: ArialMT;
      i{background-position:-35px -422px;width: 40px;height: 35px;position: relative;top: 10px;margin-right: 5px;background-size: 700px;}
    }
    .gotoTop{width: 100px;float: right;background-color: $bgc_gray_4A;line-height: 20px;text-align: center;display: none;
      i{background-position:-209px 8px;width: 34px;margin:0 0 -16px 0;background-size: 600px;}
      em{display: block;height: 30px;}
    }
  }
  .footer_fixed{
    position: absolute;
  }
  /*诊疗服务列表*/
  .treat-name{font-size:18px;}
  .outpatient{
    img{width:100%;}
    .outpatient-info{
      width:auto;
      margin-top:20px;
    }
  }
  .reg-doc-list{
    .btn{
      display: inline-block;line-height:25px;background-color:#fff;border: 1px solid;border-radius: 5px;padding:0 10px;
    }
    .btn.btn-disabled{
      color:$bdrc1;
    }
    .btn.btn-primary{
      color:$textc_48B;
    }
    .title{
      margin:20px;
      .vertical{vertical-align: middle;}
      span{
        vertical-align: middle;}
    }
    .doctor-info{
      padding:10px 20px;
      color:#fff;
      background-color:#48BED8;
      .doctor-name{
        font-size:18px;
        margin-right:10px;
      }
    }
    .reg-list{
      text-align:left;
      margin-bottom:10px;
      li{
        line-height:30px;
        padding:8px 20px;
        .btn{
          color:$textc_48B;
        }
        &.disabled{
          color:$bdrc1;
          .btn{
            color:$bdrc1;
          }
        }
      }
    }
  }

  .reg-by-doc{
    .regbox{
      padding:20px 20px;
    }
    label{
      padding-right:0;
      margin-right:10%;
      width:22%;
    }
    .submitBtn{
      margin-left:33%;
    }
  }

  .wechat-box{
    .wechat-pay-dialog{
      width:inherit;
      .left-box{
        width:inherit;
        img{
          width:250px;
        }
      }
    }
  }
  .daterangepicker{width: 220px;}
}
@media only screen and (max-width: 600px){
  .loginCom{border: none;box-sizing: border-box;width: 100%;padding: 0 10px 30px}
  .loginBox{width: 100%;}

  .left-nav-tit{
    h2 a{font-size: 22px;}
    a{font-size: 18px;}
  }
  .order-success .order-box .price-box, .pay-success .order-box .price-box{top: 45px;}
  .order-success .order-box .order-detail, .pay-success .order-box .order-detail{top: 90px;}
  .goods_basic dl dd {
    .type-box{
      width: 100%;box-sizing: border-box;margin: 0px;padding-left: 0px;
      &.unchoose{
        padding-left: 5px;
        .box-header{height: 28px;line-height: 24px;box-sizing: border-box;width: 100%;box-shadow: 0 0 0 2px #ED9E9A;left:0px; }
      }
      .service_type_wrapper{
        width: auto;overflow: hidden;
      }
      .service_type_three{
        width: 100%;
        .service_type{
          width: 102%;margin-right: -2%;
          span{width: 31.3%;box-sizing: border-box;padding: 5px 0px;text-align: center;margin-right: 2%;font-size:14px}
        }
      }
    }
  }
  .info_list .lr_list{
    figure{
      padding-bottom: 20px;float: left;overflow: hidden;width: 100%;
      h4{margin: 0px;padding: 0px;}
      img{float: none;box-sizing: border-box;float: left;width: 48%;}
      figcaption{width: 50%;float: right;}
      .more{margin: 0px 0 10px 0;}
    }
  }
  .registerings{
    dl{
      h3{
        font-size: 16px;
      }
    }
  }
  .detail-wap{
    h3{font-size: 14px;}
  }
  .agency_box .lr_list figure{
    .pic{width: 37%;}
    figcaption{width: 60%}
  }
}

@media only screen and (width: 375px) {
  .item_list {
    .department_list ul li h4{min-height: 123px;}
    .feature figure figcaption{width: 90px;margin: 0 auto}
  }
}
@media only screen and (min-width: 360px) and (max-width: 599px){
  .footer{
    dl{
      dt{
        img{float: none;}
      }
    }
  }
  .goods_basic dl dd{
    .service_type{
      margin-left:0px; ;
      span{padding:5px 1px;}
    }
  }

  .item_list{
    .pic_list{
      ul{
        li{
          .price{
            .new{font-size: 20px}
            .old{ position: absolute;right: 0px;font-size: 14px;}
          }
        }
      }

    }
  }

}
@media only screen and (min-width: 376px) and (max-width: 414px){
  .agency_box .lr_list figure{
    .figcaption{}
    p{height: 48px;line-height: 24px;margin-bottom: 3px;font-size: 14px;}
  }
}
@media only screen and (min-width: 320px) and (max-width: 360px){

  .topBar{margin-left: 110px;}
  .header{
    height: 50px;line-height: 50px;
    .logo{width: 100px;}
  }

  //.swiper-container{
  //  .swiper-button-prev,
  //  .swiper-button-next {top:24%}
  //}
  .item_list{
    .standard{
      h2{
        font-size: 20px;
        height: 32px;
      }
      ul li figure{padding: 0 10px;}
    }
  }
  .health_list .lr_list figure{
    img{
      width: 120px;
    }
    figcaption{position: relative;top:-5px;}
    h4{padding: 0px;margin-bottom: 0px;font-size: 18px;}
    p{padding-top: 0px;height: 48px;overflow: hidden;}
    time{font-size: 14px;}
  }
  .order-success{

    .pay-box{
      padding: 18px 0 0 59px;
    }
  }
  .box-right{
    .order dt{font-size: 14px;}
  }
  .order-success .order-box i.success, .pay-success .order-box i.success{left: 30px;}
  .order-success .order-box .price-box, .pay-success .order-box .price-box{left: 140px;top: 48px;}
  .order-success .order-box .order-detail, .pay-success .order-box .order-detail{left:140px;top: 90px;}
  .footer dl dd p{width: 100%;}
  .footerWap{
    a{font-size: 24px;}
    .gotoTop{width: 80px;}
  }
  .goods_basic dl dd {
    //.service_type span{padding: 5px 8px;}
    //.type-box{
    //  label{display: block;}
    //}
    //#district{
    //  label{display: inline-block;}
    //}
  }
  .userBox{
    .pagination{
      background: none;clear: both;padding-top: 20px;margin:-20px 0 20px;
      a,span{margin:0px;}
    }
  }
  .loginCom .bd ul li input{font-size: 14px;}
  .info_list .lr_list{
    figure{
      img{width: 40%;margin-bottom: 10px;}
      figcaption{width: 58%;float: right;}
      .more{display: none;}
    }
  }
  .item_list .standard_header h2{font-size: 24px;}
  .copyright{font-size: 14px;}

}
@media only screen and (width: 320px){
  body{font-size: 14px;}
  .footer{
    padding-bottom: 30px;
    dl{
      dt{
        img{float: none;margin-bottom: 10px;}
      }
      dd{
        p{width: 100%;}
      }
    }
    .qrcode figure{width: 40%;
      img{width: 100%}
    }
  }
  .agency_box .lr_list figure{
    figcaption{width: 54%;}
    .pic{width: 42%;}
  }
  .item_list{
    .pic_list{
      ul{
        li{
          .price{
            .new{font-size: 18px}
            .old{ position: absolute;right: 0px;font-size: 14px;}
          }
        }
      }

    }
    .feature figure figcaption{width: 90px;margin:0 auto}
    .standard_header h2{font-size: 22px;}
  }
  .tab ul li{margin-right: 15px;}
}
