extends layout

block content
    link(href='/public/css/error404.css',rel='styleSheet')
    include includes/responsive
    include includes/nav
    .positon.wrapper
      |您的位置为：500
    section.wrapper
      .errorPage
        img(src='/public/images/500.png')
        .msg= message
        a.btn(href='/') 返回首页

    include ./includes/footer