extends layout

block content
    link(href='/public/css/error404.css',rel='styleSheet')
    include includes/responsive
    include includes/nav
    .positon.wrapper
      |您的位置为：错误提示
    section.wrapper
      .error404
        .msg= message
        a.btn(href='/') 返回首页

    include ./includes/footer