extends ./layout

block content
  link(href='/public/css/index.css',rel='styleSheet')
  include ./includes/responsive
  include ./includes/nav
  .login-view.bg
    section.wrapper
      .loginCom.loginBox2
        .tit
          span.on 密码登录
          span 验证码登录
        .touchslider-viewport
          .bd
            ul
              li
                input(type="text" class="username" placeholder="请输入手机号码" value="")
              li
                input(type="password" class="password" placeholder="请输入密码" value="")
              .prompt
                i.icon
                em 手机输入格式有误/验证码有误
              //-<p><span class="checkbox checked"></span> 我已阅读并同意<a href="/userAgreement" target="_blank">《都安全用户协议》</a></p>
            ul
              li
                input(type="text" class="username" placeholder="请输入手机号码" value="")
              li
                input(type="text" class="password" placeholder="请输入短信验证码")
                button.getCode 获取短信验证码
              .prompt
                i.icon
                em 手机输入格式有误/验证码有误
              //-<p><span class="checkbox checked"></span> 我已阅读并同意<a href="/userAgreement" target="_blank">《都安全用户协议》</a></p>
        .submitBox
          button.ok 登录
        .otherMsg 手机号码用来获取预约码和报告服务码
        .operate
          a(href='/register' title='立即注册') 立即注册
          i /
          a(href='/rPassword' title='忘记密码') 忘记密码
        i.lgbg
        i.lgbg.lgrt

  input#redirectUrl(type="hidden",value=redirectUrl)
  include ./includes/footer
  script(src="/public/js/login.bundle.js")
