extends ./layout

block content
  link(href='/css/index.css',rel='styleSheet')
  include ./includes/responsive
  include ./includes/nav
  .login-view.bg
    section.wrapper
      .loginCom.rPasswordBox
        .tit
          span.on 重置密码
        .bd
          ul
            li
              input(type="text" class="username" placeholder="请输入手机号码" value="13689557622")
            li
              input(type="text" class="verCode" placeholder="请输入短信验证码")
              button.getCode 获取短信验证码
            li
              input(type="password" class="password" placeholder="请输入密码" value="")
            .prompt
              i.icon
              em
        .submitBox
          button.ok 确定
        //-.otherMsg 手机号码用来获取预约码和报告服务码
        //-.operate
          a(href='/login' title='登录') 直接登录
        i.lgbg
        i.lgbg.lgrt

  input#redirectUrl(type="hidden",value=redirectUrl)
  include ./includes/footer
  script.
    seajs.use('/js/login.js')
