extends ./layout2
block content
  link(href='/css/userAgreement.css',rel='styleSheet')

  include ./includes/responsive
  section.wrapper.userAgreement
      h2 都安全用户协议
      p.tc 目录
      p: a(href='#1') 第1条 本平台服务条款的确认和接纳
      p: a(href='#2') 第2条 用户信息
      p: a(href='#3') 第3条 用户依法行为
      p: a(href='#4') 第4条 商品信息
      p: a(href='#5') 第5条 订单
      p: a(href='#6') 第6条 付款
      p: a(href='#7') 第7条 配送
      p: a(href='#8') 第8条 体检服务及报告
      p: a(href='#9') 第9条 咨询服务
      p: a(href='#10') 第10条 所有权及知识产权条款
      p: a(href='#11') 第11条 责任限制及不承诺担保
      p: a(href='#12') 第12条 协议更新及您关注义务
      p: a(href='#13') 第13条 法律管辖和适用
      p 本协议由您与都安全客户端和网站、移动网站（以下统称“本平台”）运营方深圳市都安全健康产业投资有限公司（以下简称“都安全”）共同缔结，本协议具有合同效力。在下载都安全客户端和/或使用本平台服务之前，请先仔细阅读本《都安全用户协议》，<strong>特别是字体加粗的内容</strong>。
      p 都安全根据以下服务条款为您提供服务。都安全有权根据需要不时地制订、修改本协议及/或任何有关规则，并以网站公示、APP推送的方式进行公告，不再另行单独通知您。变更后的协议和有关规则经网站、APP公布后，在公告明确的特定时间自动生效。前述所有的指引和规则，均构成本用户协议的一部分。您在使用都安全提供的各项服务之前，应仔细阅读本用户协议。如您不同意本用户协议及/或随时对其的修改，请您立即停止使用都安全应用程序所提供的全部服务；您一旦使用，即视为您已了解并完全同意本用户协议各项内容，包括都安全对用户协议随时所做的任何修改。
      h3(id="1") 第1条 本平台服务条款的确认和接纳
      p 1.1 本平台的各项电子服务的所有权和运作权归都安全所有。用户同意所有注册协议条款并完成注册程序，才能成为本平台的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。
      p 1.2 您点击同意本协议的，即视为您确认自己具有享受本平台服务、下单购买等相应的权利能力和行为能力，能够独立承担法律责任。
      strong 1.3 如果您在18周岁以下，您只能在父母或监护人的监护参与下才能使用本平台。
      p 1.4 都安全保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。

      h3(id="2") 第2条 用户信息
      p 2.1 为了您能使用都安全提供的服务，您同意以下事项：依本平台注册提示请您填写正确的用户名，手机号码，注册邮箱和密码，并确保今后更新的邮箱、名号、手机号码等资料的有效性和合法性。若您提供任何违法、不道德或都安全认为不适合在都安全上展示的资料，或者都安全有理由怀疑你的资料属于程序或恶意操作，都安全有权暂停或终止您的账号，并拒绝您于现在和未来使用本服务之全部或部分内容。
      strong 2.2 您在都安全平台进行购买活动时，涉及您真实姓名、通信地址、联系电话、电子邮箱等隐私信息的，都安全将予以严格保密，除非得到您的授权或法律另有规定，都安全不会向外界披露您的隐私信息。
      p 2.3 您注册成功后，可使用您的用户名和密码，登录到您在都安全的账号（以下简称“账号”）。保护您的账号安全，是都安全和您双方的责任。您应对所有使用您的密码及账号的活动负完全的责任。您同意：1）您的账号遭到未获授权的使用，或者发生其它任何安全问题时，您将立即通知都安全；2）如果您未保管好自己的账号和密码，因此而产生的任何损失或损害，都安全无法也不承担任何责任；3）您要对您账号中的所有行为和事件负全责。如果因您未保管好自己的账号和密码而对您、都安全或第三方造成损害，您将负全部责任。
      p 2.4 您同意，都安全为您提供服务的服务商家拥有通过邮件、短信、电话、APP、微信、网站等形式，向在都安全注册、购买的用户发送包括但不限于订单信息、体验报告、门诊病历、促销活动等信息的权利。
      p 2.5 您不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。
      p 2.6 您同意，都安全有权使用用户的注册信息、用户名、密码、检测结果等信息，登陆进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。
      h3(id="3") 第3条 用户依法行为
      p 本协议依据国家相关法律法规规章制定，您同意严格遵守以下义务：
      p （1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；
      p （2）从中国大陆向境外传输资料信息时必须符合中国有关法规；
      p （3）不得利用本平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；
      p （4）不得利用本平台进行任何可能对互联网或移动网正常运转造成不利影响的行为；
      p （5）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料；
      p （6）不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；
      p （7）不得教唆他人从事本条所禁止的行为；
      p （8）不得利用在本平台注册的账户进行牟利性经营活动；
      p （9）不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；您应关注并遵守本平台不时公布或修改的各类合法规则规定。本平台保有删除各类不符合法律政策或不真实的信息内容而无须通知您的权利。若您未遵守以上规定的，本平台有权作出独立判断并采取暂停或关闭您帐号等措施。您须对自己在网上的言论和行为独立承担法律责任。
      h3(id="4") 第4条 商品信息
      p 本平台上的服务价格、数量、能否提供等信息随时都有可能发生变动，本平台不作特别通知。本平台显示的信息如有滞后或差错，都安全欢迎纠错并请您理解。为表述便利，都安全的全流程筛查和/或诊疗服务产品简称为“产品”或“服务”。
      h3(id="5") 第5条 订单
      p 5.1 在您下订单时，请您仔细确认所购服务的名称、价格、数量、说明、注意事项、联系地址、电话、联系人等信息。联系人与您本人不一致的，联系人的行为和意思表示视为您的行为和意思表示，您应对联系人的行为及意思表示的法律后果承担连带责任。
      p 5.2 除法律另有强制性规定外，双方约定如下：本平台上都安全展示的服务和价格等信息仅仅是要约邀请，您下单时须确认您希望购买的服务数量、价款及支付方式、联系人、联系方式、联系地址（合同履行地点）、合同履行方式等内容；系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向都安全发出的合同要约；都安全收到您的订单信息后，只有在都安全将您在订单中订购的服务向您或指定联系人交付时（接受服务为准），方视为您与都安全之间就向您或指定联系人提供的服务建立了合同关系；如果您在一份订单里订购了多份服务并且都安全只给您或指定联系人交付了部分服务时，您与都安全之间仅就实际向您或指定联系人提供的服务建立了合同关系；只有在都安全实际向您或指定联系人提供了订单中订购的其他服务时，您和都安全之间就订单中该其他已实际向您或指定联系人提供的服务才成立合同关系。您可以随时登陆您在本平台注册的账户，查询您的订单状态。
      p 5.4 由于市场变化及各种以合理商业努力难以控制的因素的影响，本平台无法保证您提交的订单信息中希望购买的服务都能提供；如您拟购买的服务，发生无法提供的情形，您有权取消订单。
      p 5.5 本平台仅为您提供中文咨询及书面服务，若您有英文服务需求，请致电本站客户服务部另行协商确定服务价格。
      h3(id="6") 第6条 付款
      p 6.1 您可以免费使用本平台应用程序和服务。本平台保留日后收取应用程序和/或服务使用费的权利。如果本平台决定收取此类费用，<strong>本平台应向您发送通知，并允许您选择继续履行或终止合约</strong>。
      p 6.2 本平台应代表服务提供商向您收取检测服务提供商及/或采集样本服务提供商所提供的服务的费用。您同意：您将支付您向服务提供商购买的检测、采集样本服务的费用，并且本平台可以从您在注册服务时提供的信用卡或其他银行卡帐户以及第三方支付等方式扣除您帐户发生的或与其相关的服务的费用（包括但不限于税费和滞纳金，如适用）。您始终有责任及时支付所有费用，并向本平台提供有效的信用卡或其他银行卡帐户以及第三方支付等方式，用于支付所有费用。在都安全已开始向您提供相关服务的情形下，您所支付的费用不予退还，都安全违反法律法规或合同约定的除外。
      p 6.3 本平台使用第三方付款处理商（以下简称“付款处理商”），将您的信用卡或其他银行卡帐户关联到应用程序和服务。处理与您使用应用程序和服务相关的付款时，除了受到本《用户协议》的约束之外，还要受付款处理商及信用卡或其他银行卡发卡行的条款、条件和隐私政策的约束。如果付款处理商发生任何错误，本平台概不负责。本平台将获取与您使用服务相关的特定交易明细，本平台在使用这些信息时将严格遵守其隐私政策和有关法律法规。
      p 6.4 您通过本平台向购买检测服务及/或标本采集服务的发票由所属服务提供商负责开具。
      h3(id="7") 第7条 配送
      p 7.1 都安全将会把产品（服务）发送到您或指定联系人所指定的接收地址，所有在本平台列出的交付时间为参考时间，参考时间的计算是根据具体服务的处理过程和发送时间的基础上估计得出的。
      p 7.2 因如下情况造成订单延迟或无法交付等，都安全不承担延迟交付的责任：
      p （1）您提供的信息错误、地址不存在等原因导致的；
      p （2）服务产品寄出后无人查收的；
      p （3）情势变更因素导致的；
      p （4）不可抗力因素导致的，包括但不限于以下情形：不可抵抗的恶劣天气、交通事故、交通拥堵、自然灾害、基础网络问题、突发战争、网络黑客等。
      h3(id="8") 第8条 体检服务及报告
      p 8.1 都安全上门体检服务的指标结果对于某些疾病（包括但不限于宫颈病变、尖锐湿疣、阴道炎症等）不能作为唯一确认依据，如需进一步检查及治疗请到医院就诊。
      p 8.2上门体检护士只提供体检服务，对于您不正当的行为和要求有权拒绝服务，并保留诉诸法律的权利。
      strong 8.3 护士尽可能利用医学知识及临床经验给予您如何就医方面的建议，但仅供参考，如果您将护士建议作为诊疗使用依据的需自行承担后果，本平台与都安全不承担任何责任。
      p 8.4 都安全只限于根据您所选择的体检套餐内容进行取样送检，检验过程及报告结论均由认证的医学检验中心承担和完成，并由其出具体检报告，都安全提供的体检结果及健康建议仅供参考，医学检验中心所提供的报告可用于就医指导。
      strong 8.5如无民事行为能力人、限制民事行为能力人在无监护人的监护下使用了本平台的服务，其与本平台之间的服务协议自始无效。本平台一经发现，有权取消订单，且本平台与都安全不承担任何责任。
      h3(id="9") 第9条 咨询服务
      p 9.1 咨询服务条款
      p （1）本条款所称“咨询”特指您通过本平台提交的咨询信息和通过预约特定医生的电话咨询，咨询的交互主体为本平台的您和都安全的平台医生。
      p （2）如服务在进行过程中由于都安全平台性能不稳定等系统原因导致服务不能完成的，将由都安全客服为您重新安排咨询服务。
      p （3）您必须在注册及申请收费服务时，详细阅读本平台使用说明信息，并严格按要求操作。在个人信息部分必须提供准确的您信息，您在都安全提供的信息都将作为您本人真实意思的表达。
      p （4）一旦发现您提供的个人信息中有虚假，都安全有权终止向您提供的所有服务，并冻结您的帐户，有权要求您赔偿因提供虚假信息给医生及都安全造成的损失。
      p （5）咨询均只限于根据您的主观描述，医生尽可能利用医学知识及临床经验给予一定的解惑及如何就医方面的建议，不保证满足您要求的诊断、治疗方面的建议一定能获得。不对结果是否符合您预期做保证。
      p （6）咨询中，医生所提供内容均是个人建议，不得作为诊断、治疗的直接医疗处置，您需知晓并同意诊断及治疗均需前往医院。擅自将咨询医生建议作为处方使用的，后果自负，与医生及都安全无关。
      p （7）您在咨询过程中要语言文明，尊重医生，平等交流。如有对医生恶意中伤，语言不文明，医生有权立即中断服务，您无权要求退款。
      p （8）电话咨询过程中遇到医生有紧急情况需要处理时（医生职业要求），要给予理解，暂停咨询，向都安全客服申报，以便安排重新咨询的具体时间。
      p 9.2 咨询服务中都安全与您双方的权利及义务
      p （1）都安全有义务在现有技术上维护平台服务的正常进行，并努力提升技术及改进技术，使网站服务更好进行。
      p （2）对于您在本平台预定服务中的不当行为或其它任何都安全认为应当终止服务的情况，都安全有权随时作出删除相关信息、终止服务提供等处理，而无须征得您的同意。包括但不限于下列情况：
      p a)您或其它第三方通知都安全，认为某个具体您或具体交易事项可能存在重大问题；
      p b)您或其它第三方向都安全告知咨询内容有违法或不当行为的，都安全以普通非专业的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为具有违法或不当性质的。
      p （3）都安全有义务对相关数据、所有的申请行为以及与咨询有关的其它事项进行审查。
      p （4）都安全有权根据不同情况选择保留或删除相关信息或继续、停止对您提供服务，并追究相关法律责任。
      p （5）咨询双方因服务引起的纠纷，请都安全给予调解的，都安全将有权了解相关信息，并将双方提供的信息与对方沟通。因在都安全上发生服务纠纷，引起诉讼的，您通过司法部门或行政部门依照法定程序要求都安全提供相关数据，都安全应积极配合并提供有关资料。
      p （6）都安全有权对您的注册数据及电话咨询的行为进行查阅，发现注册数据或咨询行为中存在任何问题或怀疑，均有权向您发出询问及要求改正的通知或者直接作出删除等处理。
      p （7）当您顺利使用完付费咨询服务后不得因为咨询服务中的内容不满意要求退款。
      p （8）您对咨询内容不满意，可以向都安全提出投诉，都安全有义务依据情况协调沟通，维护医生和您关系和谐。
      strong （9）因下列状况无法正常运作，使您无法使用电话咨询服务时，都安全不承担损害赔偿责任，该状况包括但不限于：
      p.tind: strong  a)都安全在本网站公告之系统停机维护期间。
      p.tind: strong  b)电信设备出现故障不能进行数据传输的。
      p.tind: strong  c)因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务的。
      p.tind: strong  d)由于黑客攻击、电信部门技术调整或故障、银行方面的问题等原因而造成的服务中断或者延迟。
      h3(id="10") 第10条 所有权及知识产权条款
      p 10.1 您一旦接受本协议，即表明该您主动将其在任何时间段在本平台发表的任何形式的信息内容（包括但不限于客户评价、客户咨询、各类话题文章等信息内容）的财产性权利等任何可转让的权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给都安全所有，您同意都安全有权就任何主体侵权而单独提起诉讼。
      p 10.2 本协议已经构成《中华人民共和国著作权法》第二十五条（条文序号依照2011年版著作权法确定）及相关法律规定的著作财产权等权利转让书面协议，其效力及于您在都安全平台上发布的任何受著作权法保护的作品内容，无论该内容形成于本协议订立前还是本协议订立后。
      p 10.3 您同意并已充分了解本协议的条款，承诺不将已发表于本平台的信息，以任何形式发布或授权其它主体以任何方式使用（包括但不限于在各类网站、媒体上使用）。
      p 10.4 都安全是本平台的制作者，拥有此平台内容及资源的著作权等合法权利，受国家法律保护，有权不时地对本协议及本平台的内容进行修改，并在本平台张贴，无须另行通知您。在法律允许的最大限度范围内，都安全对本协议及本平台内容拥有解释权。
      p 10.5 除法律另有强制性规定外，未经都安全明确的特别书面许可，任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本平台的信息内容，否则，都安全有权追究其法律责任。
      p 10.6 本平台所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是都安全或其内容提供者的财产，受中国和国际版权法的保护。本平台上所有内容的汇编是都安全的排他财产，受中国和国际版权法的保护。本平台上所有软件都是都安全或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。
      h3(id="11") 第11条 责任限制及不承诺担保
      strong 11.1 除非另有明确的书面说明，本平台及其所包含的或以其它方式通过本平台提供给您的全部信息、内容、材料、产品（包括软件）和服务，均是在“按现状”和“按现有”的基础上提供的。除非另有明确的书面说明，都安全不对本平台的运营及其包含在本平台上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外）。
      strong 11.2 都安全不担保本平台所包含的或以其它方式通过本平台提供给您的全部信息、内容、材料、产品（包括软件）和服务、其服务器或从本平台发出的电子信件、信息没有病毒或其他有害成分。如因黑客攻击、病毒感染等不可抗力的原因使本平台销售系统崩溃或无法正常使用、用户信息泄露、网上交易无法完成或丢失有关的信息、记录等，都安全会合理地尽力协助处理善后事宜。
      strong 11.3 都安全所承载的内容（文、图、视频、音频）均为传播有益健康资讯目的，不对其真实性、科学性、严肃性做任何形式保证。
      p 11.4都安全拒绝回复医疗健康之外的咨询问题，包括但不限于如下情况：
      p （1）非医疗健康类问题，如动物疾病问题、社会经济问题等；
      p （2）医疗司法举证或询证问题；
      p （3）胎儿性别鉴定问题；
      p （4）未按提问要求提问，如提问时未指定医生，却要求具体医生回复；
      p （5）有危害他人/自己可能的问题；
      p （6）追问医生个人信息的问题；
      p （7）故意挑逗、侮辱医生的提问。
      strong 11.5都安全所有信息仅供参考，不做个别诊断、用药和使用的根据。
      strong 11.6都安全将致力于提供正确、完整的健康资讯，但不保证信息的正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担责任。
      strong 11.7都安全所提供的任何医疗信息，仅供参考，不能替代医生和其他医务人员的建议，如自行使用都安全中资料发生偏差，都安全概不负责，亦不负任何法律责任。
      strong 11.8《咨询医生》模块中的服务提供者均为拥有中华人民共和国医师资格证书的专业医生。但咨询建议仅为依据提问者描述而提供建议性内容，不能作为诊断及医疗的依据。
      strong 11.9是否采用都安全的医生意见为提问者个人行为，都安全不承担任何可能产生的责任。
      h3(id="12") 第12条 协议更新及您的义务
      p 根据国家法律法规变化及网络运营需要，都安全有权对本协议条款不定期进行修改，修改后的协议一旦被张贴在本平台上即生效，并代替原来的协议。您可随时登陆查阅最新协议；您有义务不时关注并阅读最新版的协议及平台公告。如您不同意更新后的协议，可以且应立即停止接受都安全平台依据本协议提供的服务；如您继续使用本平台提供的服务，即视为同意更新后的协议。都安全建议您在使用本平台之前阅读本协议及本平台的公告。如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。
      h3(id="13") 第13条 法律管辖和适用
      p 本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向有管辖权的中华人民共和国大陆地区法院提起诉讼。
      strong 本协议内容中以黑体、加粗、下划线、斜体等方式显著标识的条款，请您着重阅读。
      strong 您点击本协议的“同意以下协议，提交”按钮即视为您完全接受本协议，在点击之前请您再次确认已知悉并完全理解本协议的全部内容。
