@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
.error404 {
  text-align: center; }
  .error404 img {
    margin: 50px auto; }
  .error404 .msg {
    padding: 0 0 20px 0; }
  .error404 a {
    color: #48BED8; }
    .error404 a:hover {
      background-color: #48BED8;
      color: #FFF;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
