@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
.red {
  color: #FF0000; }

.container .redBg {
  background-color: #FF0000;
  color: #fff; }

.green {
  background-color: #06E800; }

.green2 {
  color: #049400; }

.gray {
  color: #018FEC; }

.wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative; }

a {
  color: #4A4A4A; }
  a:hover {
    color: #48BED8; }

body {
  color: #4A4A4A; }

.container {
  width: 100%;
  margin-top: 60px; }

select {
  line-height: 30px;
  height: 30px;
  padding: 0 10px; }

.bdr {
  border: 1px solid #c9c9c9; }

.btn {
  border: 1px solid #48BED8;
  padding: 0 20px;
  line-height: 30px;
  display: inline-block;
  outline: none;
  cursor: pointer; }

.submitBtn {
  background-color: #48BED8;
  border: none;
  color: #FFF;
  line-height: 30px;
  cursor: pointer;
  padding: 0 20px;
  margin: 10px 0;
  display: inline-block;
  font-family: "微软雅黑","Microsoft Himalaya"; }
  .submitBtn:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ED9E9A;
    color: #FFF; }

.boxBg {
  background-color: #F2F6F7; }

.topBar {
  background-color: #F2F2F2;
  height: 40px;
  line-height: 40px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 3px #D2D2D2; }

.topBar_info {
  float: right;
  color: #9B9B9B; }
  .topBar_info .icon {
    width: 12px;
    margin: 0 5px;
    position: relative;
    top: 10px; }
  .topBar_info .devidel {
    background-position: -19px 3px; }
  .topBar_info aside {
    display: inline-block; }
  .topBar_info a {
    color: #9B9B9B; }
    .topBar_info a:hover {
      color: #48BED8; }
  .topBar_info .city_name i {
    background-position: 0px 6px;
    margin-left: 5px; }
  .topBar_info .cartBtn i {
    background-position: -38px 2px;
    width: 24px; }

.header {
  height: 90px;
  line-height: 90px;
  padding: 5px 0;
  margin-top: 40px; }
  .header .logo {
    width: 173px;
    height: 90px;
    background: url("../images/logo.png") no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    display: block;
    float: left; }
  .header .slogan {
    height: 30px;
    margin-left: 50px; }
    .header .slogan img {
      vertical-align: middle; }
  .header .tel {
    float: right;
    position: absolute;
    right: 0px; }
    .header .tel i {
      background-position: 0px -60px;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      top: 30px;
      position: relative; }
    .header .tel img {
      vertical-align: middle; }

.nav {
  height: 50px;
  line-height: 50px;
  background-color: #48BED8;
  position: relative;
  z-index: 2; }
  .nav ul i {
    width: 1px;
    height: 12px;
    background-color: #399CB2;
    border-right: 1px solid #5dc5dc;
    float: right;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -6px;
    border-radius: 5px; }
  .nav ul li {
    float: left;
    font-size: 16px;
    margin-left: -2px;
    position: relative; }
    .nav ul li a {
      color: #FFF;
      display: block;
      padding: 0 22px;
      position: relative; }
    .nav ul li.on, .nav ul li:hover {
      background-color: #4A4A4A;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .nav ul li.on i, .nav ul li:hover i {
        background: none;
        border-color: transparent; }

.positon {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2; }
  .positon em {
    padding: 0 6px; }

.home {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: -512px; }
  .home .nav {
    width: 726px;
    position: absolute;
    top: 190px;
    right: 0px;
    border-radius: 5px;
    overflow: hidden; }
  .home .wrapper {
    width: 100%; }

.banner {
  text-align: center;
  background-color: #bec0bf;
  position: relative; }
  .banner .wrapper {
    position: relative; }
  .banner img {
    width: 100%;
    height: auto; }
  .banner dl {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: left;
    color: #FFFFFF; }
    .banner dl h3, .banner dl p {
      padding: 0 0 15px 50px; }
    .banner dl h3 {
      font-size: 24px;
      font-weight: normal;
      padding-top: 20px; }
    .banner dl p {
      font-size: 16px; }
      .banner dl p i {
        background-position: -157px 0px;
        vertical-align: top;
        position: relative;
        top: 3px; }
    .banner dl dt {
      width: 55%;
      float: left;
      background-color: #F39E98; }
    .banner dl dd {
      width: 45%;
      float: right;
      background-color: #EA9089; }

.item_list {
  padding-bottom: 50px; }
  .item_list header {
    padding-top: 50px; }
    .item_list header h2 {
      font-size: 28px;
      padding-bottom: 20px;
      color: #4A4A4A;
      font-weight: normal; }
      .item_list header h2 i {
        background-position: -0px -26px;
        position: relative;
        top: 3px;
        margin-right: 10px; }
    .item_list header p {
      color: #9B9B9B;
      font-size: 16px; }
  .item_list .feature ul {
    margin-left: -4%;
    padding-top: 40px; }
    .item_list .feature ul li {
      float: left;
      width: 16%;
      text-align: center;
      margin-left: 4%; }
      .item_list .feature ul li figure figcaption {
        font-size: 24px;
        padding-top: 35px; }
      .item_list .feature ul li figure em {
        color: #9B9B9B;
        display: block;
        padding: 10px 0; }
      .item_list .feature ul li figure img:hover {
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        transform: scale(1.2); }

.pic_list ul {
  margin-left: -17px; }
.pic_list li {
  margin-top: 40px;
  width: 330px;
  float: left;
  display: inline;
  margin-left: 17px;
  position: relative; }
  .pic_list li img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .pic_list li img:hover {
      opacity: 0.8; }
  .pic_list li .line01 {
    background-color: #48B363; }
  .pic_list li .line02 {
    background-color: #A89CCC; }
  .pic_list li .line03 {
    background-color: #ED9E9A; }
  .pic_list li .line04 {
    background-color: #FFA0AC; }
  .pic_list li .line05 {
    background-color: #7ECEDF; }
  .pic_list li .line06 {
    background-color: #9BC9FF; }
  .pic_list li h4 {
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    color: #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: #48BED8;
    width: 100%;
    overflow: hidden; }
  .pic_list li p {
    color: #9B9B9B;
    margin-top: 10px; }
  .pic_list li .price {
    padding-top: 20px; }
    .pic_list li .price .new {
      font-size: 24px;
      color: #ED9E9A;
      padding-right: 15px; }
    .pic_list li .price .old {
      color: #9B9B9B;
      text-decoration: line-through; }
.pic_list .more {
  float: right;
  margin-top: 50px; }
  .pic_list .more i {
    background-position: -91px 0px;
    vertical-align: top;
    position: relative;
    top: 4px;
    margin-left: 5px; }
  .pic_list .more:hover {
    color: #48BED8; }
    .pic_list .more:hover i {
      background-position: -114px 0px; }

.department_list li {
  height: 344px; }
  .department_list li h4 {
    display: inline-block;
    padding: 0 30px 0 20px;
    border-radius: 0 100px 100px 0;
    height: 46px;
    line-height: 46px;
    width: auto;
    top: auto;
    margin-top: -56px; }

.goods_list ul li h4 {
  position: relative;
  background: none;
  color: #4A4A4A;
  margin-bottom: -10px; }

.health aside {
  width: 308px;
  float: right; }
  .health aside h3 {
    background-color: #F2F2F2;
    padding: 0px;
    line-height: 40px;
    font-size: 18px;
    padding-left: 10px; }
    .health aside h3 i {
      width: 5px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
      background-color: #48BED8;
      border-radius: 10px;
      top: 0px;
      margin-right: 10px;
      position: relative;
      top: -1px; }
  .health aside .category, .health aside .recommend {
    border: 1px solid #dddddd;
    margin-bottom: 20px; }
    .health aside .category ul, .health aside .recommend ul {
      padding: 10px;
      font-size: 16px; }
      .health aside .category ul i, .health aside .recommend ul i {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #48BED8;
        display: inline-block;
        margin-right: 10px; }
      .health aside .category ul li, .health aside .recommend ul li {
        width: 50%;
        float: left;
        line-height: 40px;
        height: 40px;
        overflow: hidden; }
        .health aside .category ul li a, .health aside .recommend ul li a {
          display: block; }
  .health aside .recommend h2 {
    padding: 20px 0; }
  .health aside .list {
    padding-bottom: 10px; }
    .health aside .list h3 {
      background-color: #48BED8;
      color: #FFF; }
    .health aside .list ul li {
      line-height: 40px;
      height: 40px;
      overflow: hidden;
      border-bottom: 1px solid #f2f2f2;
      padding: 0 10px; }
    .health aside .list ul i {
      background-position: -174px -99px;
      vertical-align: middle;
      margin-right: 5px; }

.tab ul li {
  display: inline-block;
  margin-right: 10px; }
  .tab ul li a {
    display: block;
    padding: 0 20px;
    line-height: 36px;
    border-radius: 5px;
    border: 1px solid #FFF; }
  .tab ul li.on a, .tab ul li:hover a {
    border-color: #48BED8;
    color: #48BED8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
.tab img {
  margin: 20px 0 0;
  width: 100%; }

.globalBg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(134, 134, 134, 0.5);
  z-index: 9998; }

.innerBg {
  background: #FFF;
  margin: 8px;
  padding-bottom: 20px; }

.popupBox {
  width: 300px;
  color: #7a7a7a;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -50px;
  font-size: 14px;
  border-radius: 1px;
  overflow: hidden;
  background: rgba(2, 2, 2, 0.11);
  text-align: center; }
  .popupBox .cancel, .popupBox .close {
    position: absolute;
    right: -10px;
    top: -5px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 2; }
    .popupBox .cancel i, .popupBox .close i {
      background-position: -143px -26px;
      width: 24px; }
    .popupBox .cancel:hover, .popupBox .close:hover {
      color: #48BED8; }
  .popupBox article {
    text-align: left;
    padding: 20px 20px 0;
    position: relative; }
    .popupBox article .tit {
      font-size: 18px;
      text-align: center;
      position: relative;
      z-index: 999;
      overflow: hidden; }
      .popupBox article .tit span {
        border-bottom: 1px solid #dddddd;
        line-height: 30px;
        float: left;
        padding-bottom: 10px;
        width: 50%;
        cursor: pointer; }
        .popupBox article .tit span.on {
          color: #48BED8;
          border-bottom-color: #48BED8; }
    .popupBox article .touchslider-viewport {
      overflow: hidden; }
    .popupBox article .bd ul {
      width: 300px;
      overflow: hidden; }
      .popupBox article .bd ul li {
        margin: 20px 0;
        position: relative; }
        .popupBox article .bd ul li input {
          width: 100%;
          height: 36px;
          line-height: 36px;
          padding: 0 5px;
          box-sizing: border-box; }
  .popupBox .submitBox {
    height: 33px;
    line-height: 32px;
    margin: 10px 20px 0;
    font-size: 16px;
    text-align: center; }
    .popupBox .submitBox span.ok {
      display: block;
      text-align: center;
      cursor: pointer;
      background-color: #48BED8;
      color: #ffffff;
      margin: 0 auto; }
  .popupBox .otherMsg {
    margin-top: 10px; }

.msgBox {
  position: fixed;
  left: 50%;
  top: 50%;
  line-height: 30px;
  display: none;
  z-index: 99999;
  font-size: 18px;
  background-color: rgba(134, 134, 134, 0.54);
  border-radius: 30px;
  text-align: center; }

.successBox {
  width: 100%;
  left: 0px;
  top: 0px;
  margin: 0px;
  background-color: #48BED8;
  line-height: 40px;
  color: #FFF;
  border-radius: 0px; }
  .successBox i {
    background-position: -51px -94px;
    margin: 4px 10px 0 0; }

.loginBox .getCode {
  position: absolute;
  right: 0px;
  top: 0px;
  line-height: 34px;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid #48BED8;
  background-color: #e5faff; }
.loginBox .prompt {
  color: #ED9E9A;
  position: absolute;
  left: 0px;
  bottom: -24px;
  display: none; }
  .loginBox .prompt i {
    background-position: -178px -22px; }

.ads {
  margin-bottom: 10px; }
  .ads img {
    vertical-align: top;
    width: 100%; }

/*分页*/
.pagination {
  text-align: center;
  padding-top: 30px; }
  .pagination a, .pagination span {
    display: inline-block;
    padding: 0 8px;
    margin: 0 3px; }
  .pagination a:hover, .pagination span.current {
    background-color: #48BED8;
    border-radius: 3px;
    color: #FFF;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .pagination .prev {
    margin: 0 5px; }
    .pagination .prev i {
      background-position: 0px -132px; }
    .pagination .prev:hover {
      background: none; }
      .pagination .prev:hover i {
        background-position: 0px -167px; }
      .pagination .prev:hover .disable {
        background-position: 0px -132px;
        cursor: inherit; }
  .pagination .next {
    margin: 0 5px; }
    .pagination .next i {
      background-position: -25px -132px; }
    .pagination .next:hover {
      background: none; }
      .pagination .next:hover i {
        background-position: -25px -167px; }
      .pagination .next:hover .disable {
        background-position: -25px -132px;
        cursor: inherit; }

/*问答分页*/
.pages {
  text-align: right;
  padding-top: 15px; }
  .pages a, .pages button {
    border: none;
    background: none;
    outline: none; }
    .pages a.prev i, .pages button.prev i {
      background-position: 0px -202px; }
    .pages a.prev:hover i, .pages button.prev:hover i {
      background-position: 0px -230px; }
    .pages a.next i, .pages button.next i {
      background-position: -24px -202px; }
    .pages a.next:hover i, .pages button.next:hover i {
      background-position: -24px -230px; }
    .pages a.disable.prev i, .pages a.disable.prev:hover i, .pages button.disable.prev i, .pages button.disable.prev:hover i {
      background-position: 0px -202px;
      cursor: default; }
    .pages a.disable.next i, .pages a.disable.next:hover i, .pages button.disable.next i, .pages button.disable.next:hover i {
      background-position: -24px -202px;
      cursor: default; }

/*底部*/
.footer {
  background-color: #3B3B3A;
  padding: 50px 0;
  color: #F2F2F2;
  margin-top: 50px; }
  .footer dl {
    width: 60%;
    float: left; }
    .footer dl dt, .footer dl dd {
      float: left; }
    .footer dl dt {
      width: 50%;
      overflow: hidden;
      border-right: 1px solid #2b2b2b;
      box-shadow: 1px  0 0 0 #454545;
      margin-right: -2px; }
      .footer dl dt img {
        margin-bottom: 20px; }
      .footer dl dt p {
        padding-bottom: 10px; }
      .footer dl dt a {
        color: #F2F2F2;
        padding-right: 10px;
        border-left: 1px solid #f2f2f2;
        padding: 0 20px;
        margin-bottom: 10px;
        display: inline-block;
        height: 14px;
        line-height: 14px; }
        .footer dl dt a:hover {
          color: #48BED8; }
      .footer dl dt .area {
        margin-left: -20px; }
    .footer dl dd {
      width: 35%;
      padding-left: 15%; }
      .footer dl dd h4 {
        font-size: 18px; }
      .footer dl dd p {
        border-bottom: 1px solid #2b2b2b;
        box-shadow: 0 1px 0 0 #454545;
        padding: 8px 0;
        width: 60%; }
        .footer dl dd p i {
          background-position: -135px 5px;
          margin-right: 5px; }
        .footer dl dd p a {
          color: #f2f2f2; }
          .footer dl dd p a:hover {
            color: #9B9B9B; }
  .footer .qrcode {
    width: 40%;
    float: right;
    text-align: center;
    color: #4A4A4A; }
    .footer .qrcode figure {
      width: 132px;
      display: inline;
      margin-right: 50px;
      display: inline-block;
      background-color: #FFFFFF;
      text-align: center;
      padding-bottom: 5px; }
      .footer .qrcode figure img {
        margin-bottom: -10px; }
    .footer .qrcode .weixin {
      display: none; }

.copyright {
  background-color: #2D2D2D;
  height: 40px;
  line-height: 40px;
  color: #F2F2F2;
  text-align: center;
  color: #9B9B9B; }

.formBox {
  position: relative; }
  .formBox input {
    height: 38px;
    line-height: 38px;
    border: 1px solid #dddddd;
    background: none; }
  .formBox button {
    cursor: pointer;
    outline: none; }

.rightNav {
  position: fixed;
  z-index: 2;
  box-sizing: content-box;
  right: 50%;
  top: 50%;
  margin: -110px -700px 0 0;
  width: 150px;
  height: 230px;
  _position: absolute;
  _top: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight); }
  .rightNav ul li {
    text-align: center;
    font-size: 16px; }
    .rightNav ul li a {
      display: block;
      height: 50px;
      line-height: 50px;
      background-color: #48BED8;
      color: #FFF; }
    .rightNav ul li i {
      margin: 12px 5px 0 0;
      width: 24px; }
    .rightNav ul li .appoint i {
      background-position: -17px -26px; }
    .rightNav ul li .registered i {
      background-position: -47px -26px; }
    .rightNav ul li .customer i {
      background-position: -77px -26px; }
    .rightNav ul li.weixinRight {
      border: 2px solid #48BED8;
      background-color: #FFF; }
    .rightNav ul li.gotoTop {
      background-color: #D8D8D8;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      display: none; }
      .rightNav ul li.gotoTop:hover {
        background-color: #48BED8; }
      .rightNav ul li.gotoTop i {
        background-position: -110px -26px; }
      .rightNav ul li.gotoTop em {
        display: inline-block;
        height: 44px;
        line-height: 44px; }
  .rightNav ul .lineBg {
    height: 15px;
    background: url("../images/shadow.png") no-repeat; }

/*# sourceMappingURL=global.css.map */
