@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
.box {
  content: 'what'; }

.login-view {
  overflow: hidden;
  margin-bottom: -82px; }
  .login-view .bg {
    background: #F2F6F7; }
  .login-view .wrapper {
    height: 494px;
    background: url(../images/lg_img.png) 0 0 no-repeat; }

.item_list .standard {
  border: 2px solid #48BED8; }
  .item_list .standard h2 {
    background-color: #FFF;
    margin: -15px 0;
    display: inline-block;
    position: relative;
    top: -8px; }
  .item_list .standard p {
    background-color: #FFF;
    display: inline-block;
    position: relative;
    bottom: -14px;
    padding: 0 10px; }
