@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
@media only screen and (min-width: 1920px) {
  .header ul, .container, .item {
    width: 1600px;
    margin: 0 auto; }

  .container {
    margin-top: 60px; }

  .leftMenu nav {
    left: 50%;
    margin-left: -800px; } }
@media only screen and (max-width: 1439px) {
  .health aside, .info_list .lr_list figure img {
    width: 30%; }

  .health_detail, .health_list, .info_list .lr_list figure figcaption {
    width: 68%; } }
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  .wrapper {
    width: 980px; }

  .item_list .pic_list li {
    width: 315px; }
    .item_list .pic_list li h4 {
      line-height: 40px;
      height: 40px; }

  .rightNav {
    margin-right: -660px; }

  .health aside {
    width: 30%; }

  .health_detail, .health_list {
    width: 68%; } }
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .wrapper {
    width: 900px; }

  .item_list .pic_list li {
    width: 288px; }
    .item_list .pic_list li h4 {
      line-height: 40px;
      height: 40px; }

  .rightNav {
    margin-right: -610px; }

  .health aside {
    width: 30%; }

  .health_detail {
    width: 65%; } }
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .wrapper {
    width: 800px; }

  .item_list .pic_list li {
    width: 255px; }
    .item_list .pic_list li h4 {
      line-height: 40px;
      height: 40px; }

  .rightNav {
    margin-right: -610px; }

  .header .slogan {
    margin-left: 20px;
    width: 320px;
    display: inline-block; }
    .header .slogan img {
      width: 100%; }

  .health aside {
    width: 30%; }

  .health_detail {
    width: 65%; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: auto;
    margin: 0 10px; }

  .positon {
    margin-bottom: 10px; }

  .home {
    width: auto;
    left: 0px; }
    .home .nav {
      left: 10px;
      top: 140px; }

  .item_list .pic_list ul {
    margin-left: -1.3%; }
    .item_list .pic_list ul li {
      width: 32%;
      margin-left: 1.3%; }

  .rightNav {
    display: none; }

  .health aside {
    width: 30%; }

  .health_detail {
    width: 65%; } }
@media only screen and (max-width: 768px) {
  * {
    font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif,"微软雅黑"; }

  body {
    font-size: 18px; }

  .icon {
    vertical-align: inherit; }

  .home .wrapper {
    width: auto; }

  .wrapper {
    width: auto;
    margin: 0 10px;
    overflow: hidden; }

  .item_list header {
    padding-top: 20px; }
    .item_list header h2 {
      font-size: 24px;
      line-height: 40px;
      height: 40px;
      padding-bottom: 0px;
      font-weight: 500; }
      .item_list header h2 i {
        top: auto;
        height: 18px; }
    .item_list header p {
      font-size: 15px;
      color: #333333;
      font-weight: 300; }

  .banner dl {
    display: none; }

  .home {
    position: static;
    top: auto;
    left: auto;
    margin: 0 auto; }
    .home .nav {
      position: static;
      width: 100%;
      border-radius: 0px; }

  .header {
    height: 60px;
    line-height: 60px;
    margin: 0px;
    float: left; }
    .header .slogan, .header .tel {
      display: none; }
    .header .logo {
      width: 120px;
      height: auto; }

  .topBar {
    height: 0px;
    position: relative;
    margin-left: 140px;
    width: auto; }

  .topBar_info .city_name {
    position: absolute;
    left: 0px;
    top: 15px; }
  .topBar_info .devidel, .topBar_info .loginBtn {
    display: none; }
  .topBar_info .cartBtn {
    margin-right: 10px;
    position: relative;
    top: 5px; }
    .topBar_info .cartBtn i {
      background: url("../images/top_car.png") no-repeat 0 0;
      width: 30px;
      height: 28px;
      background-size: 100%; }
  .topBar_info .wapUser {
    width: 20px;
    position: relative;
    top: 15px;
    margin-right: 10px;
    display: inline-block; }
    .topBar_info .wapUser img {
      width: 100%; }

  .nav ul li {
    font-size: 17px; }
    .nav ul li a {
      padding: 0 5px; }

  .report {
    margin-top: 20px; }
    .report header {
      padding-bottom: 0px; }
    .report ul label {
      padding: 10px 0 0 0; }
    .report ul li {
      width: 100%; }
      .report ul li input {
        width: 100%;
        box-sizing: border-box; }
    .report ul .submitBtn {
      position: static;
      width: 100%;
      box-sizing: border-box;
      margin-top: 20px; }
    .report ul .getCode {
      right: 0px;
      height: 36px;
      line-height: 36px; } }
@media only screen and (width: 768px) {
  .home {
    width: auto;
    left: 0px; }
    .home .nav {
      left: 10px;
      top: 140px; }

  .item_list .pic_list ul {
    margin-left: -1.3%; }
    .item_list .pic_list ul li {
      width: 32%;
      margin-left: 1.3%; } }
@media only screen and (max-width: 767px) {
  .positon {
    margin-bottom: 10px; }

  .nav ul li.on {
    background: none; }
  .nav ul li a {
    padding: 0px; }
  .nav ul i {
    display: none; }

  .lr_list figure h4 {
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 10px; }

  .item_list {
    padding-bottom: 20px; }
    .item_list .pic_list ul {
      margin-left: -10px; }
    .item_list .pic_list li {
      width: 45%;
      margin: 20px 0 0 3%;
      height: auto; }
      .item_list .pic_list li h4 {
        line-height: 30px;
        height: 30px;
        position: static;
        margin-top: 10px;
        font-size: 20px;
        background: none;
        color: #48BED8; }
      .item_list .pic_list li p {
        color: #333333;
        padding: 0 10px;
        margin: 0px;
        font-size: 16px; }
      .item_list .pic_list li .price {
        padding-top: 0px; }
        .item_list .pic_list li .price .new {
          font-size: 18px; }
    .item_list .pic_list .more {
      margin-top: 20px; }
    .item_list .feature ul {
      text-align: center; }
      .item_list .feature ul li {
        width: 32%;
        float: none;
        display: inline-block;
        margin: 0; }
        .item_list .feature ul li p {
          display: none; }
        .item_list .feature ul li figure figcaption {
          padding-top: 5px;
          font-size: 20px; }
        .item_list .feature ul li figure em {
          padding: 5px 0 10px; }

  .goods_basic dl dt, .goods_basic dl dd {
    width: 100%; }
  .goods_basic dl dd .service_type {
    margin: 0px; }
  .goods_basic dl .submitBox {
    padding-top: 10px;
    margin-left: -10px; }
    .goods_basic dl .submitBox .submitBtn {
      margin: 0 0 0 3%;
      width: 46%;
      padding: 0px; }

  .goods_detail .tab a, .goods_detail .tab span {
    font-size: 18px;
    width: 33.3%;
    text-align: center;
    padding: 0px; }

  .health_list {
    width: 100%; }
    .health_list .lr_list figure img {
      width: 160px;
      margin-right: 12px; }

  .health aside {
    width: 100%; }

  .health_detail {
    width: 100%; }
    .health_detail article, .health_detail p {
      font-size: 18px; }

  .footer dl {
    width: 100%; }
    .footer dl dt, .footer dl dd {
      width: 100%; }
    .footer dl dt img {
      float: left;
      padding-right: 20px;
      margin-right: 20px;
      width: 120px;
      background-color: #3B3B3A;
      position: relative; }
    .footer dl dt .area {
      padding-bottom: 20px;
      margin-left: -25px;
      display: inline-block; }
    .footer dl dd {
      padding: 0px;
      border-top: 1px solid #2b2b2b;
      padding-top: 10px; }
      .footer dl dd h4 {
        font-size: 22px; }
      .footer dl dd p i {
        position: relative;
        top: 5px; }
  .footer .qrcode {
    width: 100%;
    padding-top: 20px;
    text-align: center; }
    .footer .qrcode .weixin {
      display: inline-block; }
    .footer .qrcode figure {
      width: 40%;
      margin: 0px 4%;
      overflow: hidden; }

  .swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
    display: block; }

  .copyright {
    height: auto; }

  .rightNav {
    display: none; } }
