@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
@media only screen and (min-width: 1920px) {
  .header ul, .container, .item {
    width: 1600px;
    margin: 0 auto; }

  .container {
    margin-top: 60px; }

  .leftMenu nav {
    left: 50%;
    margin-left: -800px; } }
@media only screen and (max-width: 1439px) {
  .health aside, .info_list .lr_list figure img {
    width: 30%; }

  .health_detail, .health_list, .info_list .lr_list figure figcaption {
    width: 68%; } }
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  .wrapper {
    width: 980px; }

  .item_list .pic_list li {
    width: 315px; }
    .item_list .pic_list li h4 {
      line-height: 40px;
      height: 40px; }

  .rightNav {
    margin-right: -660px; }

  .health aside {
    width: 30%; }

  .health_detail, .health_list {
    width: 68%; } }
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .wrapper {
    width: 900px; }

  .item_list .pic_list li {
    width: 288px; }
    .item_list .pic_list li h4 {
      line-height: 40px;
      height: 40px; }

  .rightNav {
    margin-right: -610px; }

  .health aside {
    width: 30%; }

  .health_detail {
    width: 65%; } }
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .wrapper {
    width: 800px; }

  .item_list .pic_list li {
    width: 255px; }
    .item_list .pic_list li h4 {
      line-height: 40px;
      height: 40px; }
  .item_list .standard p {
    bottom: -25px;
    margin: 0 50px -15px; }

  .rightNav {
    width: 120px;
    margin-right: -530px; }
    .rightNav ul .lineBg {
      height: 11px; }
    .rightNav ul li img {
      width: 100%; }

  .header .slogan {
    margin-left: 20px;
    width: 320px;
    display: inline-block; }
    .header .slogan img {
      width: 100%; }

  .health aside {
    width: 30%; }

  .health_detail {
    width: 65%; }

  .footer dl dt {
    width: 70%; }
  .footer dl dd {
    width: 25%; }
    .footer dl dd p {
      width: 80%; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: auto;
    margin: 0 10px; }

  .positon {
    margin-bottom: 10px; }

  .home {
    width: auto;
    left: 0px; }
    .home .nav {
      left: 10px;
      top: 140px; }

  .item_list .pic_list ul {
    margin-left: -1.3%; }
    .item_list .pic_list ul li {
      width: 31.3%;
      margin-left: 1.3%; }
  .item_list .standard p {
    bottom: -25px;
    margin: 0 50px -15px; }

  .rightNav {
    display: none; }

  .health aside {
    width: 30%; }

  .health_detail {
    width: 65%; }

  .footer dl dt {
    width: 70%; }
  .footer dl dd {
    width: 25%; }
    .footer dl dd p {
      width: 80%; } }
@media only screen and (max-width: 768px) {
  * {
    font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif,"微软雅黑"; }

  body {
    font-size: 16px; }

  .userAgreement {
    font-size: 16px; }
    .userAgreement h3 {
      font-size: 18px; }

  .icon {
    vertical-align: inherit; }

  .pagination {
    padding: 0px; }
    .pagination i {
      vertical-align: top; }

  .home .wrapper {
    width: auto; }

  .wrapper {
    width: auto;
    margin: 0 10px;
    overflow: hidden; }

  .item_list header {
    padding-top: 20px; }
    .item_list header h2 {
      font-size: 24px;
      line-height: 40px;
      height: 40px;
      padding-bottom: 0px;
      font-weight: 500; }
      .item_list header h2 i {
        top: auto;
        height: 18px; }
    .item_list header p {
      font-size: 15px;
      color: #333333;
      font-weight: 300; }

  .banner dl {
    display: none; }

  .home {
    position: static;
    top: auto;
    left: auto;
    margin: 0 auto; }
    .home .nav {
      position: static;
      width: 100%;
      border-radius: 0px; }

  .header {
    height: 60px;
    line-height: 60px;
    margin: 0px;
    float: left; }
    .header .slogan, .header .tel {
      display: none; }
    .header .logo {
      width: 120px;
      height: auto; }

  .topBar {
    height: 0px;
    position: relative;
    margin-left: 140px;
    width: auto; }
    .topBar .wrapper {
      overflow: inherit; }

  .topBar_info .city-name {
    position: absolute;
    left: 0px;
    top: 15px; }
  .topBar_info .devidel, .topBar_info .loginBtn {
    display: none; }
  .topBar_info .cartBtn {
    margin-right: 10px;
    position: relative;
    top: 5px; }
    .topBar_info .cartBtn i {
      background: url("../images/top_car.png") no-repeat 0 0;
      width: 30px;
      height: 28px;
      background-size: 100%; }
  .topBar_info .accountInfo {
    display: block; }
  .topBar_info .wapUser {
    width: 20px;
    position: relative;
    top: 15px;
    margin-right: 10px;
    display: inline-block; }
    .topBar_info .wapUser img {
      width: 100%; }
  .topBar_info aside {
    display: none;
    position: absolute;
    right: 60px;
    border: 1px solid #dddddd;
    padding: 0 10px;
    background-color: #FFF;
    margin-top: 26px;
    border-radius: 3px; }
    .topBar_info aside a {
      display: block;
      padding: 0 10px;
      border-bottom: 1px solid #dddddd;
      margin-bottom: -1px; }
    .topBar_info aside .arrow {
      position: absolute;
      top: -26px;
      left: 48px;
      width: 0;
      height: 0;
      border-width: 13px 10px;
      border-color: #ddd;
      border-style: solid;
      border-right-color: transparent;
      border-left-color: transparent;
      border-top-color: transparent;
      border-radius: 3px; }
      .topBar_info aside .arrow:after {
        content: '\00a0';
        position: absolute;
        width: 0;
        height: 0;
        right: -9px;
        top: -12px;
        border-width: 13px 9px;
        border-color: #fff;
        border-style: solid;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent; }

  .nav ul li {
    font-size: 17px; }
    .nav ul li a {
      padding: 0 5px; }

  .report {
    margin-top: 20px; }
    .report header {
      padding-bottom: 0px; }
    .report ul label {
      padding: 10px 0 0 0; }
    .report ul li {
      width: 100%; }
      .report ul li input {
        width: 100%;
        box-sizing: border-box; }
    .report ul .submitBtn {
      position: static;
      width: 100%;
      box-sizing: border-box;
      margin-top: 20px; }
    .report ul .getCode {
      right: 0px;
      height: 36px;
      line-height: 36px; } }
@media only screen and (width: 768px) {
  .home {
    width: auto;
    left: 0px; }
    .home .nav {
      left: 10px;
      top: 140px; }

  .item_list .pic_list ul {
    margin-left: -1.3%; }
    .item_list .pic_list ul li {
      width: 32%;
      margin-left: 1.3%; } }
@media only screen and (max-width: 767px) {
  .positon {
    margin-bottom: 10px;
    display: none; }

  .nav ul li.on {
    background: none; }
  .nav ul li a {
    padding: 0px; }
  .nav ul i {
    display: none; }

  .lr_list figure {
    font-size: 16px; }
    .lr_list figure h4 {
      font-size: 18px;
      padding: 10px 0;
      margin-bottom: 10px; }

  .item_list {
    padding-bottom: 20px; }
    .item_list .pic_list ul {
      margin-left: -3%; }
      .item_list .pic_list ul li {
        width: 100%;
        margin: 20px 0 0 3%;
        height: auto; }
        .item_list .pic_list ul li a h4 {
          line-height: 30px;
          height: 30px;
          position: static;
          margin-top: 10px;
          font-size: 20px;
          background: none;
          color: #48BED8;
          margin-bottom: 0px;
          overflow: hidden; }
        .item_list .pic_list ul li p {
          color: #333333;
          padding: 0 10px;
          margin: 0px;
          font-size: 16px;
          height: 48px;
          overflow: hidden; }
        .item_list .pic_list ul li .price {
          padding-top: 0px; }
          .item_list .pic_list ul li .price .new {
            font-size: 18px; }
    .item_list .pic_list .more {
      margin-top: 20px; }
    .item_list .department_list li h4 {
      margin: 0px;
      background: none;
      display: block;
      position: static;
      color: #48BED8;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      padding-left: 10px; }
    .item_list .standard {
      border: none; }
      .item_list .standard h2 {
        margin: 0 auto; }
      .item_list .standard p {
        position: static; }
    .item_list .feature ul {
      text-align: center; }
      .item_list .feature ul li {
        width: 32%;
        float: none;
        display: inline-block;
        margin: 0; }
        .item_list .feature ul li p {
          display: none; }
        .item_list .feature ul li figure figcaption {
          padding-top: 5px;
          font-size: 20px; }
        .item_list .feature ul li figure em {
          padding: 5px 0 10px; }

  .goods_basic dl dt, .goods_basic dl dd {
    width: 100%; }
  .goods_basic dl dd .service_type {
    margin: 0px; }
  .goods_basic dl .submitBox {
    padding-top: 10px;
    margin-left: -10px; }
    .goods_basic dl .submitBox .submitBtn {
      margin: 0 0 0 3%;
      width: 46%;
      padding: 0px; }

  .goods_detail .tab a, .goods_detail .tab span {
    font-size: 18px;
    width: 33.3%;
    text-align: center;
    padding: 0px; }

  .health_list {
    width: 100%; }
    .health_list .lr_list figure img {
      width: 160px;
      margin-right: 12px; }

  .health aside {
    width: 100%; }

  .health_detail {
    width: 100%; }
    .health_detail article, .health_detail p {
      font-size: 18px; }

  .footer dl {
    width: 100%; }
    .footer dl dt, .footer dl dd {
      width: 100%; }
    .footer dl dt img {
      float: left;
      padding-right: 20px;
      margin-right: 20px;
      width: 120px;
      background-color: #3B3B3A;
      position: relative; }
    .footer dl dt .area {
      padding-bottom: 20px; }
    .footer dl dd {
      padding: 0px;
      border-top: 1px solid #2b2b2b;
      padding-top: 10px;
      border-left: none; }
      .footer dl dd h4 {
        font-size: 22px; }
      .footer dl dd p i {
        position: relative;
        top: 5px; }
  .footer .qrcode {
    width: 100%;
    padding-top: 20px;
    text-align: center; }
    .footer .qrcode .weixin {
      display: inline-block; }
    .footer .qrcode figure {
      width: auto;
      margin: 0px 4%;
      overflow: hidden; }

  .swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
    display: block; }

  .login-view .wrapper {
    background-size: 100%; }

  .loginBox2 {
    float: none;
    margin: 10px auto 0; }

  .copyright {
    height: auto; }
    .copyright a {
      display: inline-block; }

  .rightNav {
    display: none; }

  .recommend ul {
    width: 100%; }

  .userBox {
    margin: 0 auto;
    overflow: visible; }
    .userBox aside {
      width: 100%;
      padding: 0 0 20px 0px;
      margin: 0px;
      position: relative; }
    .userBox .box-right {
      width: 100%;
      overflow: hidden; }
    .userBox .user-main {
      display: none; }

  .users nav {
    display: none; }

  .left-nav-tit {
    height: 50px;
    line-height: 50px;
    background-color: #48BED8;
    position: relative;
    z-index: 9; }
    .left-nav-tit a, .left-nav-tit a.on {
      color: #FFF;
      font-size: 22px; }
    .left-nav-tit h2 {
      height: 50px;
      display: block;
      padding-left: 10px;
      color: #FFF;
      font-size: 18px; }
      .left-nav-tit h2 i {
        background-color: #FFF;
        border-radius: 100%;
        height: 36px;
        width: 36px;
        margin: -8px 5px 0 0;
        vertical-align: middle;
        background-size: 800px; }
        .left-nav-tit h2 i.t1 {
          background-position: -28px -42px; }
        .left-nav-tit h2 i.t2 {
          background-position: -63px -41px; }
        .left-nav-tit h2 i.t3 {
          background-position: -95px -42px; }
        .left-nav-tit h2 i.t4 {
          background-position: -128px -38px; }
    .left-nav-tit .nav_toggle {
      position: absolute;
      right: 10px;
      top: 10px;
      float: right;
      width: 35px;
      height: 35px;
      display: block; }
      .left-nav-tit .nav_toggle span, .left-nav-tit .nav_toggle span:before, .left-nav-tit .nav_toggle span:after {
        border-radius: 1px;
        height: 4px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: ''; }
      .left-nav-tit .nav_toggle span:before {
        top: 10px; }
      .left-nav-tit .nav_toggle span:after {
        top: 20px; }
      .left-nav-tit .nav_toggle.active span {
        height: 0px; }
        .left-nav-tit .nav_toggle.active span:before {
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          top: 13px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        .left-nav-tit .nav_toggle.active span:after {
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          top: 13px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }

  .userBox aside {
    float: none; }
    .userBox aside .left-nav {
      background-color: #48BED8;
      width: 100%;
      box-sizing: border-box;
      padding-top: 0px;
      padding-bottom: 20px;
      position: absolute;
      left: 0px;
      display: none; }
      .userBox aside .left-nav li {
        padding: 0px; }
        .userBox aside .left-nav li a {
          color: #FFF;
          display: block;
          border-bottom: 1px solid #FFF; }
          .userBox aside .left-nav li a:hover {
            color: #4A4A4A; }

  .active .left-nav {
    display: block; }
  .active .nav_toggle span {
    height: 0px; }
    .active .nav_toggle span:before {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      top: 13px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .active .nav_toggle span:after {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      top: 13px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

  .reservation.box-right dl.order .goods {
    width: auto;
    margin-bottom: 10px; }
    .reservation.box-right dl.order .goods .goods-detail {
      margin: 0px; }
  .reservation.box-right dl.order .detail {
    width: 100%;
    display: none; }
  .reservation.box-right dl.order .operation {
    width: auto;
    background-color: #FFF;
    padding: 10px 10px 10px 0;
    margin: 0px;
    float: none;
    display: block;
    text-align: right; }
    .reservation.box-right dl.order .operation p {
      margin: 0px 0 0 10px; }
  .reservation.box-right dl.order .order-state {
    position: absolute;
    right: 0px;
    top: 5px;
    width: auto;
    border: none; }
    .reservation.box-right dl.order .order-state p {
      display: block;
      margin: 0px;
      float: right; }

  .box-right {
    background-color: #f7f7f7; }
    .box-right .order {
      border-left: none;
      border-right: none;
      position: relative; }
      .box-right .order dt {
        background: #FFF;
        border-bottom: none; }
        .box-right .order dt .date-time {
          display: none; }
      .box-right .order dd {
        overflow: visible;
        background-color: #FFF;
        margin-top: -5px; }
        .box-right .order dd .col {
          margin: 0px;
          padding: 0px; }
          .box-right .order dd .col *:last-child:not(.row) {
            margin-bottom: 0px; }
        .box-right .order dd .goods {
          width: 100%;
          margin: 0px; }
          .box-right .order dd .goods .row + .row {
            border-top: none; }
          .box-right .order dd .goods .row {
            background-color: #f7f7f7;
            margin-top: 5px;
            padding: 10px;
            position: relative; }
          .box-right .order dd .goods .row-col {
            padding: 0px; }
          .box-right .order dd .goods .goods-detail {
            width: 100%; }
            .box-right .order dd .goods .goods-detail img {
              width: 30%;
              margin-right: 10px; }
            .box-right .order dd .goods .goods-detail h5 {
              float: none;
              width: auto;
              font-size: 18px; }
          .box-right .order dd .goods .goods-others {
            position: absolute;
            left: 33%;
            top: 60px;
            width: auto;
            display: none; }
          .box-right .order dd .goods .text-sec {
            display: block;
            top: 40px; }
          .box-right .order dd .goods .reservation {
            position: absolute;
            left: 10px;
            bottom: 15px;
            width: auto; }
            .box-right .order dd .goods .reservation a {
              border: 1px solid #c9c9c9;
              display: block;
              border-radius: 5px;
              padding: 3px 8px; }
        .box-right .order dd .col + .order-state {
          border-left: none; }
        .box-right .order dd .order-state {
          box-sizing: border-box;
          width: 100%;
          border-left: none;
          border-bottom: 1px solid #f2f2f2;
          margin: 0 10px 10px 10px;
          padding: 5px 10px; }
          .box-right .order dd .order-state p {
            display: none; }
          .box-right .order dd .order-state .realCost {
            display: block;
            float: right;
            padding-right: 10px; }
            .box-right .order dd .order-state .realCost em {
              color: #f1292b; }
          .box-right .order dd .order-state .state-info {
            position: absolute;
            right: 10px;
            top: 10px;
            display: block;
            border-bottom: none; }
        .box-right .order dd .operation {
          width: 100%;
          margin-bottom: 15px;
          text-align: right; }
          .box-right .order dd .operation p {
            float: none;
            margin-right: 10px;
            display: inline-block; }
          .box-right .order dd .operation a {
            border: 1px solid #c9c9c9;
            display: block;
            border-radius: 5px;
            padding: 3px 8px; }
          .box-right .order dd .operation .topay a {
            color: #f1292b; }

  .accountBox aside, .account {
    background: none; }

  .account .info-box > li label {
    width: 80px; }

  .table tbody td {
    padding: 10px; }

  .detail-wap h3 {
    font-size: 18px;
    padding: 10px; }
    .detail-wap h3 .orderState {
      float: right; }
  .detail-wap dl {
    margin-bottom: 5px;
    background-color: #f7f7f7;
    padding: 10px; }
    .detail-wap dl dt {
      position: relative; }
      .detail-wap dl dt img {
        width: 20%;
        float: left;
        margin-right: 10px; }
      .detail-wap dl dt span {
        padding: 3px 10px; }
      .detail-wap dl dt .text-sec {
        background-color: #cccccc;
        color: #595959; }
      .detail-wap dl dt .text-stress {
        background-color: #f23a30;
        color: #FFF; }
      .detail-wap dl dt .dealPrice {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 0px; }
      .detail-wap dl dt p {
        margin-right: 80px; }
    .detail-wap dl dd {
      clear: both;
      padding-top: 10px; }
      .detail-wap dl dd p {
        line-height: 30px; }
  .detail-wap .price-text {
    text-align: right;
    padding: 0 10px;
    line-height: 30px; }
  .detail-wap .area {
    margin: 10px 0;
    padding: 10px;
    text-align: right;
    border-top: 10px solid;
    border-bottom: 15px solid;
    border-color: #f7f7f7;
    line-height: 30px; }
    .detail-wap .area .check-report {
      background-color: #fff;
      border: none;
      color: #4A4A4A;
      line-height: 30px;
      cursor: pointer;
      padding: 0 20px;
      margin: 10px 0;
      display: inline-block;
      font-family: "微软雅黑","Microsoft Himalaya";
      border: 1px solid #ddd;
      font-size: 14px;
      border-radius: 5px;
      float: right;
      margin: 0px; }
      .detail-wap .area .check-report:hover {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        background-color: #ddd;
        color: #4A4A4A;
        border-color: #ddd; }
  .detail-wap .topay .btn {
    background-color: #ED9E9A;
    border-color: #ED9E9A;
    display: block;
    margin: 0 10px;
    line-height: 40px;
    color: #FFF;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px; }

  .reservation-detail .detail-wap .area {
    text-align: left; }
  .reservation-detail .detail-wap .price-text {
    text-align: left; }
  .reservation-detail .detail-wap dt p {
    color: #f23a30;
    margin: 0px; }
  .reservation-detail .detail-wap dt span {
    padding: 0px; }

  .registerings dl {
    line-height: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd; }
    .registerings dl h3 {
      padding: 10px;
      background-color: #FFF;
      font-size: 18px; }
      .registerings dl h3 .status {
        float: right; }
    .registerings dl dt {
      padding: 10px; }
    .registerings dl dd {
      background-color: #FFF;
      padding: 10px; }
      .registerings dl dd a {
        float: right;
        border: 1px solid #c9c9c9;
        padding: 0px 20px;
        border-radius: 5px; }

  .coupons aside, .coupons .box-right {
    background-color: #FFF; }
  .coupons .get-coupon {
    padding: 0 10px; }
    .coupons .get-coupon .tit {
      display: none; }
    .coupons .get-coupon input {
      font-size: 18px;
      width: 80%;
      box-sizing: border-box;
      border-radius: 5px; }
    .coupons .get-coupon .code-box {
      margin: 0px; }
      .coupons .get-coupon .code-box .add-coupon {
        font-size: 20px;
        width: 20%;
        float: right;
        padding: 0px;
        margin-left: -10px;
        height: 36px;
        background: none;
        color: #4A4A4A;
        border: none; }
  .coupons .coupon-state {
    border-top: 1px solid #dddddd;
    margin-top: 10px;
    box-shadow: 0px 4px 9px 0px #DEDEDE; }
  .coupons .coupon-state li {
    border-bottom: 1px solid #dddddd;
    padding: 0px;
    width: 33.3%;
    text-align: center;
    line-height: 50px; }
    .coupons .coupon-state li.on {
      border-bottom: 2px solid #48BED8; }
  .coupons .table-bordered {
    border: none; }
    .coupons .table-bordered thead {
      display: none; }
  .coupons .table {
    margin: 0px; }
    .coupons .table tbody tr {
      border-bottom: 10px solid #f7f7f7;
      box-shadow: inset 0px -1px 0 0 #dddddd;
      display: block;
      padding: 10px 0px; }
      .coupons .table tbody tr:nth-child(even) {
        background: none; }
      .coupons .table tbody tr td {
        display: flex;
        padding: 5px 10px; }
        .coupons .table tbody tr td:nth-child(1) {
          font-size: 20px;
          color: #f1292b; }
        .coupons .table tbody tr td:nth-child(2):before {
          content: "限用条件："; }
        .coupons .table tbody tr td:nth-child(3):before {
          content: "适用范围："; }
        .coupons .table tbody tr td:nth-child(4):before {
          content: "有效期："; }

  .confirm-buy header {
    display: none; }
  .confirm-buy .list-info {
    margin: 10px 0 0;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px; }
  .confirm-buy .coupon-table thead {
    display: none; }
  .confirm-buy .coupon-table tbody tr {
    display: block; }
    .confirm-buy .coupon-table tbody tr td {
      display: flex;
      padding: 5px 10px 5px 30px; }
      .confirm-buy .coupon-table tbody tr td:nth-child(1) {
        position: relative;
        margin: 0 0 -30px -28px;
        z-index: 2; }
      .confirm-buy .coupon-table tbody tr td:nth-child(2) {
        font-size: 20px;
        color: #f1292b; }
      .confirm-buy .coupon-table tbody tr td:nth-child(3):before {
        content: "限用条件："; }
      .confirm-buy .coupon-table tbody tr td:nth-child(4):before {
        content: "适用范围："; }
      .confirm-buy .coupon-table tbody tr td:nth-child(5):before {
        content: "有效期："; }
  .confirm-buy .coupon-trigger .icon {
    position: relative;
    top: 5px; }

  .table-div {
    margin-bottom: 50px; }

  .back-sec {
    display: none; }

  .cart header {
    display: none; }
  .cart .list-info {
    margin: 10px 0 0;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px; }
  .cart .table-div {
    margin-bottom: 0px; }

  .table-div .table-tr {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px; }
    .table-div .table-tr .check {
      width: 30px;
      margin-right: 0px;
      margin: 12% 0 0 0;
      padding: 0px; }
    .table-div .table-tr .name {
      width: auto;
      float: none; }
      .table-div .table-tr .name span {
        float: none; }
      .table-div .table-tr .name img {
        width: 25%; }
    .table-div .table-tr .info {
      clear: both;
      width: 100%;
      padding: 10px 0 0 30px;
      line-height: 30px; }
    .table-div .table-tr .price {
      padding: 0 10px;
      width: auto; }
    .table-div .table-tr .tot-price {
      display: none; }
    .table-div .table-tr .operation {
      width: auto;
      display: none; }
  .table-div .back-sec {
    display: block;
    margin-top: 60px;
    position: relative; }
    .table-div .back-sec .submit-div {
      width: 100%; }
    .table-div .back-sec .price-text {
      position: absolute;
      width: auto;
      border-bottom: 1px solid #dddddd;
      top: -60px;
      right: 0px;
      height: 45px;
      line-height: 45px;
      width: 100%; }
  .table-div .thead {
    display: none; }

  .order-success .order-box, .pay-success .order-box {
    box-sizing: border-box; }

  .confirm-buy .goods-list thead {
    display: none; }
  .confirm-buy .goods-list tbody tr {
    display: block;
    position: relative;
    padding-top: 10px; }
    .confirm-buy .goods-list tbody tr td {
      display: table; }
      .confirm-buy .goods-list tbody tr td img {
        width: 25%; }
      .confirm-buy .goods-list tbody tr td span {
        width: auto;
        float: none; }
      .confirm-buy .goods-list tbody tr td p {
        display: block;
        line-height: 32px;
        font-size: 16px; }
      .confirm-buy .goods-list tbody tr td:nth-child(2) {
        position: absolute;
        right: 15px;
        top: 10px; }
      .confirm-buy .goods-list tbody tr td.text-stress {
        line-height: 40px; }

  .trade-step .step-wrapper {
    position: static;
    width: 32%; }
  .trade-step .line {
    width: 32%;
    z-index: -1; }
  .trade-step .line2 {
    left: 56%; }

  .order-success .pay-box {
    width: 48%;
    margin: 0px;
    box-sizing: border-box; }
  .order-success .alipay {
    float: right; }

  .abouts {
    margin: 0px; }
    .abouts h2 {
      padding: 10px 0; }
    .abouts article {
      padding: 0px 10px; }

  .footerWap {
    position: fixed;
    display: block;
    background: rgba(0, 0, 0, 0.79);
    bottom: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #FFF; }
    .footerWap a {
      font-size: 30px;
      color: #FFF;
      padding-left: 15px;
      font-family: ArialMT; }
      .footerWap a i {
        background-position: -58px -602px;
        width: 48px;
        height: 40px;
        position: relative;
        top: 10px;
        margin-right: 5px; }
    .footerWap .gotoTop {
      width: 100px;
      float: right;
      background-color: #4A4A4A;
      line-height: 30px;
      text-align: center; }
      .footerWap .gotoTop i {
        background-position: -358px 0;
        width: 45px;
        margin: 0 0 -14px 0; }
      .footerWap .gotoTop em {
        display: block;
        height: 30px; } }
@media only screen and (max-width: 600px) {
  .loginBox2 {
    border: none;
    box-sizing: border-box;
    width: 100%; }

  .order-success .order-box .price-box, .pay-success .order-box .price-box {
    top: 45px; }

  .order-success .order-box .order-detail, .pay-success .order-box .order-detail {
    top: 90px; } }
@media only screen and (min-width: 360px) and (max-width: 599px) {
  .footer dl dt img {
    float: none; } }
@media only screen and (min-width: 320px) and (max-width: 360px) {
  .topBar {
    margin-left: 110px; }

  .header {
    height: 50px;
    line-height: 50px; }
    .header .logo {
      width: 100px; }

  .health_list .lr_list figure img {
    width: 130px; }
  .health_list .lr_list figure h4 {
    padding: 0px;
    margin-bottom: 0px; }
  .health_list .lr_list figure p {
    padding-top: 5px;
    height: 48px;
    overflow: hidden; }
  .health_list .lr_list figure time {
    font-size: 14px; }

  .order-success .pay-box {
    padding: 18px 0 0 59px; }

  .order-success .order-box i.success, .pay-success .order-box i.success {
    left: 30px; }

  .order-success .order-box .price-box, .pay-success .order-box .price-box {
    left: 140px;
    top: 48px; }

  .order-success .order-box .order-detail, .pay-success .order-box .order-detail {
    left: 140px;
    top: 90px; }

  .footer dl dd p {
    width: 100%; }

  .footerWap a {
    font-size: 24px; }
  .footerWap .gotoTop {
    width: 80px; } }
@media only screen and (width: 320px) {
  .footer {
    padding-bottom: 30px; }
    .footer dl dt img {
      float: none;
      margin-bottom: 10px; }
    .footer dl dd p {
      width: 100%; }
    .footer .qrcode figure {
      width: 40%; }
      .footer .qrcode figure img {
        width: 100%; } }
