@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
.report {
  border: 2px solid #48BED8;
  padding: 30px 30px 60px;
  margin-top: 40px;
  position: relative; }
  .report header {
    position: relative;
    padding-bottom: 20px; }
    .report header h2 {
      background-color: #FFF;
      padding: 0 10px;
      position: absolute;
      top: -42px;
      left: 50px;
      font-size: 18px; }
    .report header p {
      color: #9d9d9d;
      font-size: 16px; }
  .report label {
    display: block;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 10px; }
  .report ul li {
    width: 25%;
    float: left;
    display: inline;
    position: relative; }
    .report ul li input {
      width: 90%;
      padding: 0 5px; }
  .report ul .getCode {
    position: absolute;
    right: 10px;
    width: 125px;
    line-height: 36px;
    height: 36px;
    border: 1px solid #48BED8;
    background-color: #e5faff;
    text-align: center; }
  .report ul .submitBtn {
    color: #FFF;
    position: absolute;
    right: 10%;
    bottom: 0px;
    line-height: 38px;
    height: 38px;
    width: 120px;
    margin: 0;
    border: 1px solid #48BED8;
    background-color: #48BED8;
    font-size: 16px; }

.report_list h2 {
  font-size: 20px;
  padding: 5px 0;
  margin-bottom: 5px; }
  .report_list h2 i {
    width: 6px;
    height: 20px;
    display: inline-block;
    background-color: #48BED8;
    border-radius: 10px;
    margin: 0px 10px 0 0;
    position: relative;
    top: 3px; }
.report_list ul {
  border: 1px solid #dddddd; }
  .report_list ul li {
    padding: 10px;
    font-size: 16px; }
    .report_list ul li:nth-child(odd) {
      background-color: #F2F6F7; }
    .report_list ul li i {
      background-position: -226px -26px;
      margin-right: 5px; }

.noData {
  text-align: center;
  padding-top: 20px; }
  .noData p {
    font-size: 18px;
    padding-bottom: 20px; }
