if get_article_list_recommend_success
    h2 相关推荐
    ul
        each item in get_article_list_recommend
            li: a(href='/healths/list/article/#{item.id}')
                i
                |#{item.title}
        //-li: a(href='javascript:;')
            i.icon
            | 女性经期要注意些什么？
