@import "../settings.scss";

.treat-name {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.outpatient {
  padding: 16px 0;
  img {
    width: 30%;
    vertical-align: middle;
  }
  .outpatient-info {
    display: inline-block;
    width: 65%;
    margin-left: 3%;
    vertical-align: middle;
    .hgroup {
      margin-bottom: 19px;
      h4 {
        font-size: 16px;
        vertical-align: middle;
      }
    }

    .address {
      background-position: -32px -99px;
    }
    .traffic {
      background-position: -82px -100px;
    }
  }
}

.vertical {
  background-position: -209px -26px;margin-right: 10px;width: 5px;
}

.title {
  margin-top: 42px;
  margin-bottom: 12px;
  font-size: 20px;
  vertical-align: middle;
  .info {
    margin-left: 10px;
    font-size: 14px;
  }
}

.reg-list {
  text-align: center;
  thead {
    background: #F2F6F7;
    border-bottom:1px solid #ddd;
  }
  tr {
    td {
      padding: 13px;
      vertical-align: middle;
      border-right:1px solid #ddd;
    }
    .doctor{
      img{
        width:60px;
        height:60px;
        border-radius:50%;
        vertical-align: middle;
      }
      .doctor-info{
        display: inline-block;
        vertical-align: middle;
        width:50%;
        margin-left:5%;
        .doctor-name{
          font-size:16px;
        }
      }
    }


    td:nth-child(1),td:nth-child(2){
      text-align: left;
      vertical-align: top;
    }

    td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9) {
      border-right:1px solid #fff;
      background: #E5FAFF;
      p{
        color:#48BED8;
      }
      &.register:hover{
        cursor: pointer;
      }
      &.disabled{
        background-color:#F2F6F7;
        p{
          color:#9B9B9B;
        }
      }

    }
  }
}

//.info_tel{
//  padding: 30px 0;margin-top: -10px;
//  h2{font-size: 24px;padding-bottom: 10px;}
//  p{padding:5px 0;}
//}
//.info_detail{
//  padding-bottom:30px;
//  h3{
//    display: inline-block; font-size: 18px;color: $white; padding: 0 30px 0 20px;margin: 20px 0; border-radius: 0 100px 100px 0;height:46px;line-height:46px;width: auto;background-color: $bgc_48B;
//  }
//  hgroup{padding-left: 30px;
//    h4{color: $textc_48B;margin:5px 0;font-size:20px; //16px;
//      i{margin-right: 5px;}
//      .jieshao{background-position:0px -99px;}
//      .address{background-position:-28px -99px;}
//    }
//    p{padding-left: 20px;}
//  }
//  address{font-size:18px; line-height:40px; padding:20px 0;font-family:"PingHei 200","PingHei","Helvetica Neue","Helvetica","STHeitiSC-Light","Arial",sans-serif}
//
//}
//.info_list{padding-top:40px;}
//.lr_list{
//  figure{
//    clear: both;
//    img{float: left;width: 310px;height: auto;margin:0 0 20px 0;}
//    figcaption{
//      width: 680px;float: right;
//
//    }
//    h4{font-size: 24px;border-bottom: 1px solid $bdrc_ddd;padding:15px 0; margin-bottom: 15px;}
//  }
//
//
//}

.reg-by-doc {
  header {
    position: relative;
    padding-bottom: 20px;
    h2 {
      background-color: $white;
      padding: 20px 10px 0;
      font-size: 20px;
    }
    p {
      color: $textc_9d;
      font-size: 16px;
    }
  }

  h4 {
    display: inline-block;
    font-size: 18px;
  }
  mark {
    font-size: 14px;
    color: $textc_9d;
    padding-left: 10px;
  }
  label {
    display: inline-block;
    width: 140px;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    padding-right: 30px;
  }
  .regbox {
    border: 1px solid $bdrc_ddd;
    padding: 30px 50px;
  }
  ul {
    li {
      position: relative;
      padding-bottom: 15px;
      input {
        width: 220px;
        padding: 0 5px;
        line-height: 32px;
        height: 32px;
      }
      .add-patient {
        margin-left: 175px;
      }
    }

  }

}

//.complete-dialog{
//  //width:324px;
//  article{padding:0;padding-bottom:22px;}
//
//  .cancel{
//    display:none;
//  }
//  span.closePopup{
//    display:none;
//  }
//  .box-header{
//    i.close{
//      background-position:-240px 19px;
//    }
//    height:40px;
//    line-height:40px;
//    padding-left:12px;
//    background-color:#F2F2F2;
//  }
//  .box-body{
//    padding:17px 29px;
//    .tip-box{
//      padding:12px 30px;
//      border:1px solid #ddd;
//      background:#F5F5F5;
//      li{
//        line-height:20px;
//        list-style:disc;
//      }
//    }
//    form[name=accInfoForm]{
//      padding:15px 15px 0 15px;
//      .info-box{
//        position:relative;
//        &>li{
//          padding-bottom: 13px;
//          label{display:inline-block;width:67px;line-height:17px;vertical-align:middle;margin-right:17px;text-align:right;}
//          input{width:260px;}
//
//        }
//      }
//      .select-box{width:262px;}
//    }
//
//    .prompt {
//      color: $red_ED9;
//      position: absolute;
//      left: 84px;
//      bottom: -20px;
//      display: none;
//      i {
//        background-position: -178px -22px;
//      }
//    }
//  }
//  .submitBox{
//    //margin-left:98px;
//    span.ok.disabled{
//      background: #C4C4C4;
//      border: 1px solid #C4C4C4;
//      color: #fff;
//    }
//  }
//  span.ok{
//    width:280px;
//  }
//}

.popupBox.add-patient-box{
  .submitBox{
    span.ok{
      display:inline-block;
      padding:5px 19px;
      margin-left:90px;
    }
  }
  article{
    padding:0;
  }
}

.submitBtn {
  color: $white;
  line-height: 40px;
  height: 40px;
  width: 120px;;
  border: 1px solid $bdrc_48B;
  background-color: $bgc_48B;
  font-size: 16px;
  margin-left: 175px;
  outline:none;
}
