extends ../layout

block content
    link(href='/css/treat/treat.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>机构网络
    .wrapper
        h2.treat-name 深圳南山区都安全门诊部
    section.boxBg
        .wrapper.outpatient.clearfix
            img(src="/images/outpatient.png")
            .outpatient-info
                hgroup
                    h4.text-main
                        i.icon.address
                        | 门诊地址
                    p 广东省深圳市南山区深南大道9988号
                hgroup
                    h4.text-main
                        i.icon.traffic
                        | 交通指南
                    p 乘坐公交327路、M435路、81路、337路在深大北站下车,或乘坐地铁龙华线在深大北站A出口下
    section.wrapper
        h3.title
            i.icon.vertical
            span 预约挂号
            span.info.text-sec 该号别挂号时不指定具体的接诊医生
        h3.title
            i.icon.vertical
            span 门诊医生
        table.table.reg-list
            thead
                th
                th(width="20%")
                th
                    p 04/16
                    p 周六
                th
                    p 04/16
                    p 周六
                th
                    p 04/16
                    p 周六
                th
                    p 04/16
                    p 周六
                th
                    p 04/16
                    p 周六
                th
                    p 04/16
                    p 周六
                th
                    p 04/16
                    p 周六
            tbody
                tr
                    td.doctor
                        img.fl(src="/images/doctor.png")
                        .doctor-info.fl
                            p.text-main 吴冬梅
                            p 主任医生
                            p 南山区门诊部
                    td 擅长:韩国客人后几个客人钢结构死人呢过热
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                tr
                    td.doctor
                        img.fl(src="/images/doctor.png")
                        .doctor-info.fl
                            p.text-main 吴冬梅
                            p 主任医生
                            p 南山区门诊部
                    td 擅长:韩国客人后几个客人钢结构死人呢过热
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                    td
                        a(href="")
                            p 预约
                            p (6/10)
                tr
                    td
                        img.fl(src="/images/doctor.png")
                        .doctor-info.fl
                            p.text-main 吴冬梅
                            p 主任医生
                            p 南山区门诊部
                    td 擅长:韩国客人后几个客人钢结构死人呢过热
                    td.active
                        a(href="")
                            p 预约
                            p (6/10)
                    td.active
                        a(href="")
                            p 预约
                            p (6/10)
                    td.active
                        a(href="")
                            p 预约
                            p (6/10)
                    td.active
                        a(href="")
                            p 预约
                            p (6/10)
                    td.active
                        a(href="")
                            p 预约
                            p (6/10)
                    td.active
                        a(href="")
                            p 预约
                            p (6/10)
                    td.active
                        a(href="")
                            p 预约
                            p (6/10)



    section.info_list.clearfix

    include ../includes/footer
    //script.
//        seajs.use('/js/agencys/infos.js')
