extends ../layout

block content
    link(href='/public/css/swipebox.css',rel='styleSheet')
    link(href='/public/css/abouts.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>关于都安全
    section
        .wrapper.abouts.clearfix
            h2.tc: a(target='_blank',href='http://file.douanquan.com/P16047%E5%8C%97%E4%BA%AC%E5%A4%A7%E6%97%8F%E9%83%BD%E5%AE%89%E8%AF%8A%E6%89%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%E9%A1%B9%E7%9B%AE%E7%8E%AF%E5%A2%83%E5%BD%B1%E5%93%8D%E6%8A%A5%E5%91%8A%E8%A1%A8-%E5%85%A8%E6%9C%AC%E5%85%AC%E5%BC%80.pdf') 北京大族都安诊所有限公司项目环境影响报告表-全本公开
            .ad
                if browser.ie
                    img(src='/public/images/tc_img.png')
                else
                    img(data-original='/public/images/tc_img.png')
            h2.tc 关于都安全
            article
                p 深圳市都安全健康产业投资有限公司，是大族控股集团有限公司（上市公司大族激光母公司，股票代码002008）旗下专业投资医疗健康产业的全资子公司，旗下在建有北京、广州、深圳、青岛、南京、西安、武汉、成都、长沙、杭州等高端连锁实体医疗机构，专业为关注两性生殖健康的客户提供预防保健、健康筛查、标准化诊疗和健康管理的连续性一站式医疗服务。
                if browser.ie
                    figure
                        img(src='/public/images/Page1.png',alt='关于都安全')
                        img(src='/public/images/Page2.png',alt='关于都安全')
                else
                    figure
                        img(data-original='/public/images/Page1.png',alt='关于都安全')
                        img(data-original='/public/images/Page2.png',alt='关于都安全')
                p 都安全公司在每个门诊自建符合国际认证标准的PCR实 验室，与罗氏诊断、默沙东、碧迪医疗等国际国内医疗企业密切合作，提供隐私、快速、精准与便捷的健康筛查服务。早发现，早治疗；早排除，早安心。依托自建 与合作的物流体系，提供门诊服务、上门服务、邮寄服务等服务模式供客户选择，客户可以足不出户，就能享受到高品质的健康筛查服务。（You come to me + We come to you）。
                if browser.ie
                    figure
                        img(src='/public/images/Page3.png',alt='关于都安全')
                        img(src='/public/images/Page4.png',alt='关于都安全')
                else
                    figure
                        img(data-original='/public/images/Page3.png',alt='关于都安全')
                        img(data-original='/public/images/Page4.png',alt='关于都安全')
                p 都安全公司通过合伙制、合作制模式，引进医疗专家，并与专家或医生集团合作，为不同需求的患者配置首诊、主诊与首席专家队伍，基于国际诊疗指南，提供标准化的一站式诊疗服务。
                p 都安全公司运用互联网技术通过自主开发的APP、官网、微信服务号与合作平台，为客户提供线上预约、在线咨询、在线下单、在线付费、在线查阅报告、在线订阅资讯等互联网服务，真正实现线上线下一体化医疗服务。
                p 都安全公司通过提供健康随访、用药提醒和会员服务，让客户尊享全程健康管理服务。
                p 都安全公司秉承“快乐源自都安全”的价值理念，以广阔的事业空间，回归医疗本质的经营策略，有竞争力的激励机制，有温度且有奋斗精神的事业伙伴，诚挚邀请有激情和梦想的伙伴们一起，共同打造都安全全国连锁医疗品牌。
                if browser.ie
                    figure.big
                        img(src='/public/images/Page5.png',alt='关于都安全')
                else
                    figure.big
                        img(data-original='/public/images/Page5.png',alt='关于都安全')
                .contact
                    p: strong 联系我们：
                    p 客户服务电话：
                        a(href="tel:4006869911") 400 686 9911
                    p 总部地址：深圳市南山区深南大道9988号21层
                    p 邮编：518000

    include ../includes/footer
    script(src="/public/js/abouts.bundle.js",type="text/javascript",charset="UTF-8")

