@import "../settings.scss";

.info_tel,.agencys_com{
  padding: 30px 0;margin-top: -10px;
  h2{font-size: 24px;padding-bottom:20px; position: relative}
  p{padding:5px 0;}
}
.agencys_com{
  position: relative;padding:50px 0 80px;
  h2,p,li{color: #000000}
  strong{display: block;padding: 20px 0 0 0}
  .history{
    color: $textc_48B;position: absolute;;right: 0px;top: 0px;font-size: 14px;
    &:hover{
      color:$text_red_F1;
    }
  }

  ol{
    padding-left: 15px;
    li{list-style: decimal;}
  }
  h3{
    display: inline-block; font-size: 18px;color: $white; padding: 0 30px 0 20px;margin: 20px 0; border-radius: 0 100px 100px 0;height:46px;line-height:46px;width: auto;background-color: $bgc_48B;
  }
}

.img_list{
  margin:40px 0 0 -1.3%;
  figure{width: 32%;margin-left: 1.3%;float: left;
    img{width: 100%;}
    figcaption{
      padding: 10px 0 0 10px;
      h4{font-size: 18px;}
      p{color: $textColor;}
    }

  }
}
.info_detail{
  padding:20px 0 30px 0;
  h3{
    display: inline-block; font-size: 18px;color: $white; padding: 0 30px 0 20px;margin: 20px 0; border-radius: 0 100px 100px 0;height:46px;line-height:46px;width: auto;background-color: $bgc_48B;
  }
  hgroup{
    h4{color: $textc_48B;margin:5px 0;font-size:16px;font-weight: bold;//16px;
      i{margin-right: 5px;vertical-align: middle;}
      .jieshao{background-position:0px -99px;}
      .address{background-position:-28px -99px;}
    }
    p{padding:0 0 5px 20px;}
  }
  address{font-size:18px; line-height:40px; padding:20px 0;font-family:"PingHei 200","PingHei","Helvetica Neue","Helvetica","STHeitiSC-Light","Arial",sans-serif}

}
.lr_list{
  figure{
    clear: both;
    img{float: left;width: 40%;height: auto;margin:0 0 2% 0;border: 5px solid $bdrc_f2; border: none;}
    figcaption{
      width: 58%;float: right;


    }
    a{color: $textc_48B;
      //&:hover{color: $text_red_F1}
    }
    h4{font-size: 24px;border-bottom: 1px solid $bdrc_ddd;padding:15px 0; margin-bottom: 15px;
      color: $textc_48B;
      //a{color: $textc_48B;
      //  &:hover{color: $text_red_F1}
      //}
    }
    p{color: $textColor;}
    .more{padding: 0px 20px; border: 1px solid $bdrc_48B;color: $textc_48B;border-radius: 5px;margin: 10px 0 10px;display: inline-block;}
  }


}
#allmap{width: 100%;height:325px;border: 5px solid $bdrc_f2;margin-bottom: 20px;}
.agency_box{
  padding-top: 20px;
  .lr_list{
    width: 80%;float: right;border-left: 1px solid $bdrc_48B;padding-left: 5%;box-sizing: border-box;min-height: 300px;
    figure{
      h4{
        padding: 0 0 10px; margin-bottom:0px;border: none;
        a{font-size:20px;color: $textc_333;
          &:hover{color: $textc_48B;}
        }
      }
      img{
       width: 30%;border: none;margin-bottom: 50px;
      }
      figcaption{width: 65%;}
      .more{padding: 0px 20px; border: 1px solid $bdrc_48B;color: $textc_48B;border-radius: 5px;margin:10px 0 10px;display: inline-block;}
    }
  }

}
.agency_nav{
  width: 13%;float: left;
  span{display: block;}
  a{
    display: inline-block;width: 90px;text-align: center;line-height: 40px;height: 40px;margin-bottom: 1px;font-size: 18px;
    &.on,&:hover{background-color: $textc_48B;color: $white;}
  }
}