@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
.list-info {
  margin-bottom: 15px; }

.trade-step {
  position: relative;
  height: 85px;
  margin-top: 30px; }
  .trade-step .step-wrapper {
    position: absolute;
    top: 0;
    z-index: 2;
    display: inline-block;
    width: 100px; }
    .trade-step .step-wrapper span {
      display: inline-block;
      width: 100%;
      text-align: center; }
    .trade-step .step-wrapper span + span {
      margin-top: 10px; }
  .trade-step .cart {
    left: 0;
    text-align: center; }
    .trade-step .cart i {
      width: 58px;
      height: 44px; }
  .trade-step .check {
    left: 240px; }
    .trade-step .check i {
      width: 73px;
      height: 44px; }
  .trade-step .commit {
    left: 492px; }
    .trade-step .commit i {
      width: 58px;
      height: 44px; }
  .trade-step .line {
    position: absolute;
    top: 21px;
    width: 200px;
    border-bottom: 2px solid;
    z-index: 1; }
  .trade-step .line1 {
    left: 58px; }
  .trade-step .line2 {
    left: 319px; }

header {
  position: relative;
  padding: 20px 0 30px 0; }
  header h2 {
    background-color: #FFF;
    padding: 20px 0;
    font-size: 20px; }
  header p {
    color: #9d9d9d;
    font-size: 16px; }

.table-div {
  width: 100%;
  text-align: left;
  margin-bottom: 200px; }
  .table-div .mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
    .table-div .mask span {
      position: absolute;
      bottom: 13px;
      right: 16px;
      padding: 0 5px;
      color: #fff;
      border: 1px solid; }
  .table-div .check {
    width: 5%;
    text-align: center; }
  .table-div .name {
    width: 30%; }
    .table-div .name img {
      width: 40%;
      float: left; }
    .table-div .name span {
      width: 60%;
      float: right;
      padding-left: 13px;
      line-height: 17px;
      box-sizing: border-box; }
  .table-div .price {
    width: 15%; }
  .table-div .info {
    width: 25%; }
  .table-div .tot-price {
    width: 15%; }
  .table-div .operation {
    width: 10%; }
  .table-div .thead {
    position: relative; }
    .table-div .thead div {
      float: left;
      padding: 10px;
      box-sizing: border-box; }
  .table-div .table-tr {
    position: relative; }
    .table-div .table-tr div {
      float: left;
      padding: 20px 10px;
      box-sizing: border-box; }
  .table-div .tfoot {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 34px; }
    .table-div .tfoot div {
      float: left;
      box-sizing: border-box; }
    .table-div .tfoot .check-text {
      width: 15%; }
    .table-div .tfoot .service-area span.desp {
      margin: 0 10px; }
    .table-div .tfoot .price-text {
      float: right;
      text-align: right;
      padding-right: 30px; }
      .table-div .tfoot .price-text em {
        margin: 5px; }
      .table-div .tfoot .price-text .price {
        font-size: 20px;
        margin: 0 10px; }
    .table-div .tfoot .submit-div {
      float: right;
      width: 160px; }
      .table-div .tfoot .submit-div .btn {
        border: #ED9E9A;
        width: 100%;
        height: 60px;
        font-size: 20px; }

.cart .trade-step .cart i {
  background-position: 0 -271px; }
.cart .trade-step .check i {
  background-position: -75px -334px; }
.cart .trade-step .commit i {
  background-position: -163px -334px; }
.cart .empty-cart {
  text-align: center; }
  .cart .empty-cart .empty-cart-box {
    display: inline-block;
    width: 280px;
    height: 80px; }
    .cart .empty-cart .empty-cart-box img {
      width: 85.3px;
      height: 80px; }
    .cart .empty-cart .empty-cart-box .text {
      float: right; }
      .cart .empty-cart .empty-cart-box .text .cart-tip {
        font-size: 20px;
        padding: 10px; }
      .cart .empty-cart .empty-cart-box .text .to-buy {
        padding: 6px 30px;
        font-size: 18px;
        border: 1px solid;
        border-radius: 5px; }

.confirm-buy .trade-step .cart i {
  background-position: 0 -397px; }
.confirm-buy .trade-step .check i {
  background-position: -75px -271px; }
.confirm-buy .trade-step .commit i {
  background-position: -163px -334px; }
.confirm-buy .coupon-trigger {
  cursor: pointer; }
  .confirm-buy .coupon-trigger .icon {
    margin-right: 9px;
    background-position: -300px 4px; }
  .confirm-buy .coupon-trigger.opend .icon {
    margin-right: 9px;
    background-position: -330px 4px; }
.confirm-buy .tfoot {
  margin-top: 52px; }
.confirm-buy .coupon-box {
  display: none; }
.confirm-buy .goods-list img {
  width: 40%;
  float: left; }
.confirm-buy .goods-list span {
  width: 60%;
  float: right;
  padding-left: 13px;
  line-height: 17px;
  box-sizing: border-box; }
.confirm-buy .code-box {
  line-height: 38px; }
  .confirm-buy .code-box input {
    height: 38px;
    width: 250px;
    padding: 0 10px; }
  .confirm-buy .code-box button {
    height: 40px;
    border: 1px solid #DDDDDD;
    border-left: none; }
.confirm-buy .coupon-table {
  margin-bottom: 22px; }

.order-success .trade-step .cart i {
  background-position: 0 -397px; }
.order-success .trade-step .check i {
  background-position: -75px -397px; }
.order-success .trade-step .commit i {
  background-position: -163px -271px; }
.order-success .pay-box {
  display: inline-block;
  width: 150px;
  height: 60px;
  margin-right: 20px;
  margin-top: 18px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 18px 0 0 69px; }
.order-success .wechat-pay {
  color: #7CBA37;
  background: url(../../images/icon.png) 13px -542px; }
.order-success .alipay {
  color: #606974;
  background: url(../../images/icon.png) 13px -590px; }

.order-success .order-box, .pay-success .order-box {
  width: 100%;
  height: 176px;
  position: relative;
  margin: 30px 0 50px 0; }
  .order-success .order-box i.success, .pay-success .order-box i.success {
    position: absolute;
    top: 42px;
    left: 57px;
    width: 70px;
    height: 70px;
    background-position: 0 -463px; }
  .order-success .order-box .price-box, .pay-success .order-box .price-box {
    position: absolute;
    top: 57px;
    left: 151px; }
    .order-success .order-box .price-box .price, .pay-success .order-box .price-box .price {
      font-size: 20px;
      margin: 0 10px; }
  .order-success .order-box .order-detail, .pay-success .order-box .order-detail {
    position: absolute;
    top: 115px;
    left: 152px; }

.pay-success .trade-step .cart i {
  background-position: 0 -397px; }
.pay-success .trade-step .check i {
  background-position: -75px -397px; }
.pay-success .trade-step .commit i {
  background-position: -163px -397px; }
.pay-success .order-box {
  height: 243px; }
  .pay-success .order-box .pay-tip {
    position: absolute;
    top: 50px;
    left: 153px;
    font-size: 20px; }
  .pay-success .order-box .order-num-price {
    position: absolute;
    top: 85px;
    left: 153px; }
    .pay-success .order-box .order-num-price span {
      margin-right: 30px; }
  .pay-success .order-box .order-tel {
    position: absolute;
    top: 175px;
    left: 153px; }
    .pay-success .order-box .order-tel span {
      margin: 0 10px;
      font-size: 16px; }

.order-detail .overview {
  margin-bottom: 27px;
  padding: 22px;
  background-color: #E5FAFF;
  border: 1px solid #7ECEDF; }
  .order-detail .overview .info {
    margin-right: 5%; }
    .order-detail .overview .info .text-sec {
      margin-right: 10px; }
.order-detail .goods-list img {
  width: 40%;
  float: left; }
.order-detail .goods-list span {
  width: 60%;
  float: right;
  padding-left: 13px;
  line-height: 17px;
  box-sizing: border-box; }

.wechat-pay-dialog {
  width: 730px;
  height: 445px;
  box-sizing: border-box;
  text-align: center; }
  .wechat-pay-dialog div {
    box-sizing: border-box; }
  .wechat-pay-dialog .left-box {
    display: inline-block;
    width: 350px;
    height: 445px;
    vertical-align: top; }
    .wechat-pay-dialog .left-box .wechat-tip {
      display: inline-block;
      width: 214px;
      height: 67px;
      padding: 13px;
      background-color: #2C7B8C;
      color: #fff;
      font-size: 14px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      .wechat-pay-dialog .left-box .wechat-tip span.scan-tip {
        width: 128px;
        display: inline-block;
        margin-left: 15px;
        text-align: left;
        vertical-align: middle; }
      .wechat-pay-dialog .left-box .wechat-tip .icon.scan {
        width: 37px;
        height: 37px;
        background-position: -164px -482px;
        vertical-align: middle; }
    .wechat-pay-dialog .left-box .price {
      margin: 25px auto;
      font-size: 36px; }
  .wechat-pay-dialog .right-box {
    display: inline-block;
    height: 445px;
    width: 345px;
    padding: 30px;
    background-color: #F7F7F7; }

.popupBox.wechat-box article {
  padding: 0; }
.popupBox.wechat-box .submitBox {
  display: none; }
.popupBox.wechat-box .otherMsg {
  display: none; }
.popupBox.wechat-box .innerBg {
  padding-bottom: 0; }

/*# sourceMappingURL=trade.css.map */
