@import "../settings.scss";

.list-info {
  margin-bottom: 15px;
}

.trade-step {
  position: relative;
  height: 85px;
  margin-top: 30px;
  .step-wrapper {
    position: absolute;
    top: 0;
    z-index: 2;
    display: inline-block;
    width: 100px;
    span {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    span + span {
      margin-top: 10px;
    }
  }
  .cart {
    left: 0;
    text-align: center;
    i {
      width: 58px;
      height: 44px;
    }
  }
  .check {
    left: 240px;
    i {
      width: 73px;
      height: 44px;
    }
  }
  .commit {
    left: 492px;
    i {
      width: 58px;
      height: 44px;
    }
  }
  .line {
    position: absolute;
    top: 21px;
    width: 200px;
    border-bottom: 2px solid;
    z-index: 1;
  }
  .line1 {
    left: 58px;
  }
  .line2 {
    left: 319px;
  }

}

header {
  position: relative;
  padding: 20px 0 30px 0;
  h2 {
    background-color: $white;
    padding: 20px 0;
    font-size: 20px;
  }
  p {
    color: $textc_9d;
    font-size: 16px;
  }
}

.table-div {
  width: 100%;
  text-align: left;
  margin-bottom: 200px;
  .mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    span {
      position: absolute;
      bottom: 13px;
      right: 16px;
      padding: 0 5px;
      color: #fff;
      border: 1px solid;
    }
  }
  .check {
    width: 5%;
    text-align: center;
  }
  .name {
    width: 30%;
    img {
      width: 40%;
      //height: 85px;
      float: left;
    }
    span {
      width: 60%;
      float: right;
      padding-left: 13px;
      line-height: 17px;
      box-sizing: border-box;
    }
  }
  .price {
    width: 15%;
  }
  .info {
    width: 25%;
  }
  .tot-price {
    width: 15%;
  }
  .operation {
    width: 10%;
  }
  .thead {
    position: relative;
    div {
      float: left;
      padding: 10px;
      box-sizing: border-box;
    }
  }
  .table-tr {
    position: relative;
    border-bottom: 1px solid #DDDDDD;
    div {
      float: left;
      padding: 20px 10px;
      box-sizing: border-box;
    }
  }

  .tfoot {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 34px;
    div {
      float: left;
      box-sizing: border-box;
    }
    .check-text {
      width: 15%;
    }
    .service-area {
      span.desp {
        margin: 0 10px;
      }
    }
    .price-text {
      float: right;
      text-align: right;
      padding-right: 30px;
      em {
        margin: 5px
      }
      .price {
        font-size: 20px;
        margin: 0 10px;
      }
    }
    .submit-div {
      float: right;
      width: 160px;
      .btn {
        border: #ED9E9A;
        width: 100%;
        height: 60px;
        font-size: 20px;
      }
    }
  }
}

.cart {
  .trade-step {
    .cart {
      i {
        background-position: 0 -271px;
      }
    }
    .check {
      i {
        background-position: -75px -334px;
      }
    }
    .commit {
      i {
        background-position: -163px -334px;
      }
    }
  }

  .empty-cart{
    text-align:center;
    .empty-cart-box{
      display:inline-block;
      width:280px;
      height:80px;
      img{
        width:85.3px;
        height:80px;
      }
      .text{
        float:right;
        .cart-tip{
          font-size:20px;
          padding:10px;
        }
        .to-buy{
          padding:6px 30px;
          font-size:18px;
          border:1px solid;
          border-radius:5px;
        }
      }
    }
  }
}



.confirm-buy {
  .trade-step {
    .cart {
      i {
        background-position: 0 -397px;
      }
    }
    .check {
      i {
        background-position: -75px -271px;
      }
    }
    .commit {
      i {
        background-position: -163px -334px;
      }
    }
  }

  .coupon-trigger{
    cursor:pointer;
    .icon{
      margin-right:9px;
      background-position: -300px 4px;
    }
    &.opend{
      .icon{
        margin-right:9px;
        background-position: -330px 4px;
      }
    }
  }
  .tfoot{
    margin-top:52px;
  }


  .coupon-box{
    display:none;
  }
  
  .goods-list {
    img {
      width: 40%;
      //height: 85px;
      float: left;
    }
    span {
      width: 60%;
      float: right;
      padding-left: 13px;
      line-height: 17px;
      box-sizing: border-box;
    }
  }

  .code-box {
    line-height: 38px;
    input {
      height: 38px;
      width: 250px;
      padding: 0 10px;
    }
    button {
      height: 40px;
      border: 1px solid #DDDDDD;
      border-left: none;
    }
  }
  .coupon-table{
    margin-bottom:22px;
  }
}

.order-success {
  .trade-step {
    .cart {
      i {
        background-position: 0 -397px;
      }
    }
    .check {
      i {
        background-position: -75px -397px;
      }
    }
    .commit {
      i {
        background-position: -163px -271px;
      }
    }
  }

  .pay-box {
    display: inline-block;
    width: 150px;
    height: 60px;
    margin-right: 20px;
    margin-top: 18px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 18px 0 0 69px;
    .cancel i.icon{
      background-position:-240px 19px;
    }
    &:hover{
      border-color: $bdrc_48B;cursor: pointer;
    }
  }
  .wechat-pay {
    color: #7CBA37;
    background: url(../../images/icon.png) 13px -542px;
  }
  .alipay {
    color: #606974;
    background: url(../../images/icon.png) 13px -590px;
  }
}

.order-success, .pay-success {
  .order-box {
    width: 100%;
    position: relative;
    margin: 30px 0;
    i.success {
      position: absolute;
      top: 34px;
      left: 57px;
      width: 70px;
      height: 70px;
      background-position: 0 -463px;
    }
    .order-box-right{
      margin: 40px 30px 40px 151px;
      p{margin-bottom:10px;}
      .price-box {
        .price {
          font-size: 20px;
          margin: 0 10px;
        }
      }
      .timer-box{
        font-size:18px;
        .timer{
          margin:0 5px;
        }
      }
    }
  }
}

.pay-success {
  .trade-step {
    .cart {
      i {
        background-position: 0 -397px;
      }
    }
    .check {
      i {
        background-position: -75px -397px;
      }
    }
    .commit {
      i {
        background-position: -163px -397px;
      }
    }
  }
  .order-box {
    p{margin-bottom:25px;}
    .pay-tip {
      font-size: 20px;
      margin-bottom:15px;
    }
    .order-num-price {
      span {
        margin-right: 30px;
      }
    }
    .order-tel {
      span {
        margin: 0 10px;
        font-size: 16px;
      }
    }
  }
}

.order-detail {
  .overview {
    margin-bottom:27px;
    padding:22px;
    background-color: #E5FAFF;
    border: 1px solid #7ECEDF;
    .info{
      margin-right:5%;
      .text-sec{
        margin-right:10px;
      }
    }
  }
  .goods-list {
    img {
      width: 40%;
      //height: 85px;
      float: left;
    }
    span {
      width: 60%;
      float: right;
      padding-left: 13px;
      line-height: 17px;
      box-sizing: border-box;
    }
  }

  .price-btn{
    margin-top:-25px;
    .price{
      padding:0 5px;
      font-size:20px;
    }
    .submitBtn{
      margin-top:25px;
      padding:8px 20px;
      font-size:18px;
      display:inline-block;
      background:#ED9E9A;
      border:1px solid #ED9E9A;
    }
  }
}


.wechat-pay-dialog{
  width:730px;
  height:445px;
  box-sizing: border-box;
  text-align: center;
  div{box-sizing: border-box;}
  .left-box{
    display:inline-block;
    width:350px;
    height:445px;
    vertical-align:top;
    .wechat-tip{
      display: inline-block;
      width:214px;
      height:67px;
      padding:13px;
      background-color:#2C7B8C;
      color:#fff;
      font-size:14px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
      span.scan-tip{
        width:128px;
        display:inline-block;
        margin-left:15px;
        text-align: left;
        vertical-align: middle;
      }
      .icon.scan{
        width:37px;
        height:37px;
        background-position: -164px -482px;
        vertical-align: middle;
      }
    }

    .price{
      margin:25px auto;
      font-size:36px;
    }
  }
  .right-box{
    display:inline-block;
    height:445px;
    width:345px;
    padding:30px;
    background-color:#F7F7F7;
  }
}

.popupBox.wechat-box{
  .cancel i{background-position:-240px 18px;width:30px;height:30px;}
  article{
    padding:0;
  }
  .submitBox{display:none;}
  .otherMsg{display:none;}
  .innerBg{
    padding-bottom:0;
  }
}

