extends ../layout

block content
    link(href='/css/users/user.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>我的订单
    section.wrapper.userBox.clearfix
        aside.fl
            div.user-main.text-center
                img(src='/images/user.png')
                span.tel.text-sec #{account}
            ul.left-nav
                li: a(href='/trade/order/list') 我的订单
                li: a(href='/users/reservation/list') 我的预约
                li: a(href='/users/register/list') 我的挂号
                li: a(href='/users/coupon/listView?useState=1') 我的优惠券
                li: a.on(href='/users/patient/list') 就诊人
        .box-right.fr
            table.users-table.table.table-striped.table-bordered
                thead
                    th 姓名
                    th 性别
                    th 年龄
                    th 联系电话
                    th 操作
                tbody
                    tr
                        td 姓名
                        td 性别
                        td 年龄
                        td 联系电话
                        td 操作
                    tr
                        td 姓名
                        td 性别
                        td 年龄
                        td 联系电话
                        td 操作
                    tr
                        td 姓名
                        td 性别
                        td 年龄
                        td 联系电话
                        td 操作
                    tr
                        td 姓名
                        td 性别
                        td 年龄
                        td 联系电话
                        td 操作
                    tr.text-main.text-center
                        td#add-patient(colspan='5')
                            span.plus +
                            span 新增联系人


    include ../includes/footer
    script.
        seajs.use('/js/trade/patients.js')
