@import "../settings.scss";

.goods_detail.wrapper{
  position:static;
}

.goods_basic{
  margin-top:30px;
  margin-bottom:20px;
  dl{
    dt{
      width: 43%;float: left;
      overflow: hidden;
      padding-bottom: 20px;
      .touchslider-viewport{
        margin-bottom: -5px;
        //min-height: 330px;
      }
      .bd{

        //max-height: 305px;overflow: hidden;
      }
      .tit{
        padding: 20px 20px 0;height: 70px;overflow:hidden;z-index: 2;
        div{width: 1000px;}
        span{
          margin: 0 5px 10px; float: left;display: inline;cursor: pointer;
          img{vertical-align: text-top;border: 1px solid $white;width: 73px;}
          &.on{
            img{
              border: 1px solid $bdrc_48B;
            }

          }
        }
      }
      .switch{position: relative;z-index: 3;
        div{
          position: absolute;top: 38px;cursor: pointer;
          i{width: 24px;height: 30px;}

        }
        .prev{
          left: 0px;
          //i{background-position: 0px -128px;}
          i{background-position: -52px -128px}
          &:hover{
            i{background-position: 0px -163px;}
          }
        }
        .next{
          right: 0px;
          //i{background-position: -21px -128px}
          i{background-position: -69px -128px}
          &:hover{
            i{background-position: -21px -163px;}
          }
        }
      }
    }
    .slideBox{
      .bd{
        height: 380px;
        img{width: 100%;height:auto;}
      }
    }
    dd{
      width: 53%;float: right;
      #area.none{display:none;}
      h1{font-size: 24px;}
      .price{
        padding: 20px 0;margin-bottom:20px;border-bottom: 1px solid $bdrc_ddd;
        .new{ font-size: 24px;color:$red_ED9; padding-right: 15px;
          vertical-align: middle;}
        .old{ color: $gray9B; text-decoration: line-through;}
      }
      p{line-height: 30px;
        select{margin-right: 10px;}
      }
      label{padding-right: 5px;}
      .service_type{display: inline-block;padding:5px 0 15px; margin-left: -3px;
        span{border: 1px solid $bdrc_ddd;padding:5px 8px; display: inline-block;margin: 0 8px 0 0px;line-height: 20px;
          text-align: center;vertical-align: middle;
          &:hover,&.on{border-color: $bdrc_ED9;cursor: pointer; }
        }
        mark{display: block;color:$red_ED9;line-height: 18px;}
      }

      .type-box{
        position: relative;
        border:none;
        width:418px;
        margin-left:-9px;
        padding:5px 0 10px 9px;
        .box-header{
          display:none;
          position:absolute;
          top:-32px;
          left:-2px;
          width:409px;
          height:26px;
          color:#fff;
          padding:0 9px;
          border:2px solid #ED9E9A;
          background:#ED9E9A;
          i.icon{
            width:9px;
            cursor:pointer;
            background-position:-190px 9px;
            float:right;}
        }
        &.unchoose{
          border:2px solid #ED9E9A;
          .box-header{
            display:block;
          }
        }
        .select-box{margin-left:10px;}
      }
    }
    .submitBox{
      padding-top: 20px;
      .submitBtn{height:50px;padding: 0 40px;line-height: 50px; font-size: 18px;margin-right:30px;outline:none;}
      .addCartBtn{background-color: $bgc_E5F;color: $textc_48B;outline:none;
        &:hover{
          color: #3DAAC2;border-color:#3DAAC2;
        }
        &.disabled{
          background-color: #F5F5F5;color: #C4C4C4;border-color:#C4C4C4;
        }
      }
    }
  }

}
.goods_detail{
  .tab{
    background-color:$white;
    border-bottom:2px solid $bdrc_48B ;z-index: 2;
    span{padding: 0 30px;display: inline-block;line-height: 50px;font-size: 16px;background-color: $bdrc_48B;color: $white;margin: 0 0 0 30px;border-radius: 6px 6px 0 0;
      &.on{background-color: $bgc_red_ED9;}
    }

  }
  article{
    padding-top:20px;position: relative;
    h3{color: $textc_48B;font-size: 16px;margin-bottom: 10px;
      i{background-position:-213px 6px;margin-right: 5px;}
    }
    p,pre{
      word-break:break-all;
    }
    img{display:block;margin: 10px auto;}
    table{margin: 0 auto;}
  }
}