@charset "UTF-8";
/*


设备像素\宽度：17种

320 ， 480 ， 540 ， 600 ， 640 ， 720 ， 768 ， 800 ， 1024 ， 1080 ， 1200 ， 1280 ， 1366 ， 1536 ， 1600 ， 1920 ， 2048  2560


设备像素\高度：15种

480 ， 600 ， 720 ， 768 ， 800 ， 854 ， 960 ， 1024 ， 1080 ， 1136 ， 1280 ， 1536 ， 1920 ， 2048 ， 2560

*/
.wrapper {
  position: static; }

.goods_basic {
  margin-top: 30px;
  margin-bottom: 20px; }
  .goods_basic dl dt {
    width: 45%;
    float: left;
    overflow: hidden; }
    .goods_basic dl dt .tit {
      margin: 20px 20px 0;
      height: 90px;
      overflow: hidden; }
      .goods_basic dl dt .tit div {
        width: 1000px; }
      .goods_basic dl dt .tit span {
        margin: 0 5px 10px;
        float: left;
        display: inline;
        cursor: pointer; }
        .goods_basic dl dt .tit span img {
          vertical-align: text-top;
          border: 1px solid #FFF;
          width: 73px; }
        .goods_basic dl dt .tit span.on img {
          border: 1px solid #48BED8; }
    .goods_basic dl dt .switch {
      position: relative; }
      .goods_basic dl dt .switch div {
        position: absolute;
        top: 38px;
        cursor: pointer; }
        .goods_basic dl dt .switch div i {
          width: 24px;
          height: 30px; }
      .goods_basic dl dt .switch .prev {
        left: 0px; }
        .goods_basic dl dt .switch .prev i {
          background-position: 0px -128px; }
        .goods_basic dl dt .switch .prev:hover i {
          background-position: 0px -163px; }
      .goods_basic dl dt .switch .next {
        right: 0px; }
        .goods_basic dl dt .switch .next i {
          background-position: -21px -128px; }
        .goods_basic dl dt .switch .next:hover i {
          background-position: -21px -163px; }
  .goods_basic dl .slideBox .bd img {
    width: 100%;
    height: auto; }
  .goods_basic dl dd {
    width: 51%;
    float: right; }
    .goods_basic dl dd #area.none {
      display: none; }
    .goods_basic dl dd h1 {
      font-size: 24px; }
    .goods_basic dl dd .price {
      padding: 20px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #dddddd; }
      .goods_basic dl dd .price .new {
        font-size: 24px;
        color: #ED9E9A;
        padding-right: 15px;
        vertical-align: middle; }
      .goods_basic dl dd .price .old {
        color: #9B9B9B;
        text-decoration: line-through; }
    .goods_basic dl dd p {
      line-height: 30px; }
      .goods_basic dl dd p select {
        margin-right: 10px; }
    .goods_basic dl dd label {
      padding-right: 5px; }
    .goods_basic dl dd .service_type {
      display: inline-block;
      padding: 5px 0 15px;
      margin-left: -3px; }
      .goods_basic dl dd .service_type span {
        border: 1px solid #dddddd;
        padding: 5px 10px;
        display: inline-block;
        margin: 0 8px 0 0px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle; }
        .goods_basic dl dd .service_type span:hover, .goods_basic dl dd .service_type span.on {
          border-color: #ED9E9A;
          cursor: pointer; }
      .goods_basic dl dd .service_type mark {
        display: block;
        color: #ED9E9A;
        line-height: 18px; }
    .goods_basic dl dd .type-box {
      position: relative;
      border: none;
      width: 418px;
      margin-left: -9px;
      padding: 5px 0 10px 9px; }
      .goods_basic dl dd .type-box .box-header {
        display: none;
        position: absolute;
        top: -32px;
        left: -2px;
        width: 409px;
        height: 26px;
        color: #fff;
        padding: 0 9px;
        border: 2px solid #ED9E9A;
        background: #ED9E9A; }
        .goods_basic dl dd .type-box .box-header i.icon {
          width: 9px;
          cursor: pointer;
          background-position: -190px 9px;
          float: right; }
      .goods_basic dl dd .type-box.unchoose {
        border: 2px solid #ED9E9A; }
        .goods_basic dl dd .type-box.unchoose .box-header {
          display: block; }
  .goods_basic dl .submitBox {
    padding-top: 20px; }
    .goods_basic dl .submitBox .submitBtn {
      padding: 0 40px;
      line-height: 50px;
      font-size: 18px;
      margin-right: 30px; }
    .goods_basic dl .submitBox .addCartBtn {
      background-color: #e5faff;
      color: #48BED8; }
      .goods_basic dl .submitBox .addCartBtn:hover {
        color: #ED9E9A;
        border-color: #ED9E9A; }
      .goods_basic dl .submitBox .addCartBtn.disabled {
        background-color: #F5F5F5;
        color: #C4C4C4;
        border-color: #C4C4C4; }

.goods_detail .tab {
  background-color: #F2F2F2;
  line-height: 50px;
  border-bottom: 2px solid #48BED8; }
  .goods_detail .tab span {
    padding: 0 30px;
    display: inline-block;
    font-size: 16px; }
.goods_detail article {
  padding-top: 20px; }
  .goods_detail article h3 {
    color: #48BED8;
    font-size: 16px;
    font-weight: bold; }
    .goods_detail article h3 i {
      background-position: -213px 6px;
      margin-right: 5px; }
  .goods_detail article p, .goods_detail article pre {
    word-break: break-all; }
  .goods_detail article img {
    display: block;
    margin: 10px auto; }

/*# sourceMappingURL=goods_detail.css.map */
