extends ../layout

block content
    link(href='/css/treats/yuyue.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>诊疗服务<em>#{sep}</em>挂号预约<em>#{sep}</em>医生预约
    section.wrapper
        .yuyue
            header
                h2 按医生预约
            form.formBox
                ul.clearfix
                    li
                        label 就诊医生
                        h4 南山门诊部
                            mark 陈医生
                        input(type='text',required,autofocus='true',hidden)
                    li
                        label 就诊时间
                        input#code(type='text',required,autofocus='true')
                    li
                        label 请选择就诊时间段
                        input(type='text',required='true')
                    li
                        label 选择就诊人
                        input(type='text',required='true')
                    li
                        a(href='javascript:;') 添加就诊人


                    button(class='submitBtn') 确认提交
    include ../includes/footer
    script.
        seajs.use('/js/search_report.js')
